[submodule "varia_custom_sprites"]
	path = varia_custom_sprites
	url = https://github.com/theonlydude/varia_custom_sprites
	update = merge
	branch = main
[submodule "super-metroid"]
	path = super-metroid
	url = git@github.com:chriscauley/super-metroid.git
