{{
extend 'layout.html'
}}

<meta name="description" content="Palettizer for the randomized Super Metroid roms"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<script src="{{=URL('static','js/FileSaver.js')}}"></script>
<link rel="stylesheet" type="text/css" href={{=URL('static','css/mystyle_20191017.css')}} media="screen"/>

<link rel="stylesheet" type="text/css" href={{=URL('static','dist/switchery.css')}} media="screen"/>
<script src="{{=URL('static','dist/switchery.js')}}"></script>

<link href={{=URL('static', 'css/bootstrap-tour.min.css')}} rel="stylesheet">
<script src="{{=URL('static','js/bootstrap-tour.min.js')}}"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="{{=URL('static','image-picker/image-picker.css')}}">
<script src="{{=URL('static', 'image-picker/image-picker.js')}}" type="text/javascript"></script>

<title>Super Metroid VARIA Customizer</title>

<style>
.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
th {
    border-bottom: 1px solid #ddd;
}
h1 {
  text-align: center;
  color: #444;
  margin-top: 50px;
}

#slider-container {
  width: 80%;
  height: 80px;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  margin: 0 auto;
  text-align: center;
  background: #FFF;
  padding: 35px 40px 30px 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.ui-slider, .ui-slider .slider-range-inverse, .ui-slider .ui-slider-range {
  height: 14px;
  border-radius: 0px;
  border-width: 0;
}
.ui-slider {
  background-color: #1ABC9C;
  background-image: linear-gradient(to right, #0000e8 0%, #e80074 25%, #e8e800 50%, #00e874 75%, #0000e8 100%);
}
.ui-slider * {
  outline: none;
}
.ui-slider .slider-range-inverse0 {
  background: #CCC;
  position: absolute;
  left: 0;
  height: 12px;
}
.ui-slider .slider-range-inverse1 {
  background: #CCC;
  position: absolute;
  right: 0;
  height: 12px;
}
.ui-slider .ui-slider-range {
  background: transparent;
}
.ui-slider .ui-slider-handle {
  width: 6px;
  height: 20px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background: #FFF;
  top: -4px;
  border-width: 0;
  margin-left: -3px;
}
.ui-slider .ui-slider-handle:active {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
.ui-slider .ui-slider-handle .dot {
  width: 4px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  overflow: hidden;
}
.ui-slider .ui-slider-handle .dot .handle-track0 {
  display: block;
  height: 18px;
  background-color: #1ABC9C;
  background-image: linear-gradient(to right, #0000e8 0%, #e80074 25%, #e8e800 50%, #00e874 75%, #0000e8 100%);
  position: absolute;
  margin-left: 0px;
}
.ui-slider .ui-slider-handle .dot .handle-track1 {
  display: block;
  height: 18px;
  background-color: #1ABC9C;
  background-image: linear-gradient(to right, #0000e8 0%, #e80074 25%, #e8e800 50%, #00e874 75%, #0000e8 100%);
  position: absolute;
  margin-left: 8px;
}

.popover {
    max-width: 30%;
}
.highslide-dimming {
    background: black;
}
.sixty {
    width: 65%
}
.thirty {
    width: 30%
}
.floatright {
    float: right;
    /* vertical-align: top; */
    margin-top: -1em;
}
.floatleft {
    float: left;
    /* vertical-align: top; */
    margin-right: 0.5em;
}
.border {
    border: 1px solid #cccccc;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
   jQuery(window).on('resize', resizeSlider);
});

function resizeSlider() {
   var slider = $("#degree_slider_range");
   var width = slider.width();

   // set new handle tracks width
   slider.find(".handle-track0").css("width", width);
   slider.find(".handle-track1").css("width", width);

   update_handle_track_pos(slider, slider.slider("values", 0), 0);
   update_handle_track_pos(slider, slider.slider("values", 1), 1);
}

var globalSwitchs = {};

function ajaxFail(jqXHR, textStatus) {
  document.getElementById("flash").innerHTML = jqXHR.responseText;
  $('#flash').show();
}

function ajaxFailJSON(jqXHR, textStatus) {
  if(jqXHR.responseJSON == null) {
    document.getElementById("flash").innerHTML = "Something wrong happened with the customizer.";
  } else {
    document.getElementById("flash").innerHTML = jqXHR.responseJSON;
  }
  $('#flash').show();
}

function unpack_3bytes(ips, i) {
  var b1 = ips[i];
  var b2 = ips[i+1];
  var b3 = ips[i+2];
  return (b1*65536) + (b2*256) + b3;
}

function unpack_2bytes(ips, i) {
  var b1 = ips[i];
  var b2 = ips[i+1];
  return (b1*256) + b2;
}

function AjaxCallCompleted(data) {
    console.log("AjaxCallCompleted");

    // with items/Locations patch the local rom in memory
    var filesInput = document.getElementById("uploadFile");
    var file = filesInput.files[0];

    var reader = new FileReader();
    reader.fileName = file.name;
    reader.readAsArrayBuffer(file);

    reader.onload = function(e) {
        var bytes = new Uint8Array(e.target.result);

        // with custom sprites we have to create a bigger array
        var is4MB = false;
        if("ips" in data && "max_size" in data && data["max_size"] > 0x300000) {
          var tmp = new Uint8Array(0x400000);
          tmp.set(bytes);
          bytes = tmp;
          is4MB = true;
        }

        if("ips" in data) {
          var binary_string = atob(data["ips"]);
          var len = binary_string.length;
          var ips = new Uint8Array(len);
          for(var i = 0; i < len; i++) {
             ips[i] = binary_string.charCodeAt(i);
          }

          console.log("IPS size: "+ips.length);
          var i = 5;
          var offset = 0;
          var size = 0;
          var rle_size = 0;

          while(i < ips.length - 3) {
             offset = unpack_3bytes(ips, i);
             i += 3;
             size = unpack_2bytes(ips, i);
             i += 2;

             if(size == 0) {
               // RLE
               rle_size = unpack_2bytes(ips, i);
               i += 2;
               for(j=0; j<rle_size; j++) {
                 bytes[offset+j] = ips[i];
               }
               i += 1;
             } else {
               for(j=0; j<size; j++) {
                 bytes[offset+j] = ips[i+j];
               }
               i += j;
             }
          }
        }

        // do the ips first as the modified palettes are in the regular data
        for(var key in data) {
            if(key === "fileName" || key === "errorMsg" || key === "ips" || key === "max_size" || key == "truncate_length") { continue; }
            bytes[key] = data[key];
        }

        // fix checksum
        var sum1 = 0;
        for(var i=0; i<0x200000; i++) { sum1 += bytes[i]; }
        var sum2 = 0;
        var max = 0x300000;
        if(is4MB == true){ max = 0x400000; }
        for(var i=0x200000; i<max; i++) { sum2 += bytes[i]; }
        if(is4MB == true){
            var sum = (sum1 + sum2) & 0xFFFF;
        } else {
            var sum = (sum1 + (sum2 * 2)) & 0xFFFF;
        }
        var sumlo = sum & 0x00FF;
        var sumhi = (sum & 0xFF00) >> 8;
        var invSum = sum ^ 0xFFFF;
        var invSumlo = invSum & 0x00FF;
        var invSumhi = (invSum & 0xFF00) >> 8;
        bytes[0x7FDC] = invSumlo;
        bytes[0x7FDD] = invSumhi;
        bytes[0x7FDE] = sumlo;
        bytes[0x7FDF] = sumhi;

        var blob = new Blob([bytes], {type: "octet/stream"});

        saveAs(blob, "Custom_"+e.target.fileName);
    }

    // info message to display ?
    if("errorMsg" in data && data["errorMsg"].length > 0) {
        document.getElementById("flash").innerHTML = data["errorMsg"];
        $('#flash').show();
        displayFlash = true;
    } else {
        displayFlash = false;
    }

    // set backup button text to customize
    document.getElementById("submitBtn").data = "Customize";

    // remove "working" message
    if(displayFlash == false){
        $('#flash').hide();
    }
}

function doSubmit() {
  if(window.File && window.FileList && window.FileReader) {

    var filesInput = document.getElementById("uploadFile");
    var file = filesInput.files[0]
    if (file === undefined) {
      alert("Please select a VARIA seed first")
      btn = document.getElementById("submitBtn");
      btn.data = "Customize";
      btn.disabled = false;

      setTimeout(function(){ 
          btn = document.getElementById("submitBtn");
          btn.data = "Customize";
          btn.disabled = false;
      }, 20000);

      return false;
    }

    var dataDict = {};
    var elems = ["itemsounds", "spinjumprestart", "rando_speed", "elevators_doors_speed", "No_Music", "random_music", "AimAnyButton", "max_ammo_display", "supermetroid_msu1", "colorsRandomization", "suitsPalettes", "beamsPalettes", "tilesPalettes", "enemiesPalettes", "bossesPalettes", "globalShift", "customSpriteEnable", "customSprite"];

    for(var i=0; i<elems.length; i++) {
        var elem = document.getElementById(elems[i]);
        if(elem.disabled == true) {
            dataDict[elems[i]] = "off";
        } else {
            dataDict[elems[i]] = elem.value;
        }
    }

    dataDict["minDegree"] = $("#degree_slider_range").slider("values", 0);
    dataDict["maxDegree"] = $("#degree_slider_range").slider("values", 1);

    if(invertSlider == true) {
      dataDict["invert"] = "on";
    } else {
      dataDict["invert"] = "off";
    }

    console.log("before customizer web service call");

    // call customizer web service with parameters
    var request = $.ajax({
      url: "{{=URL(f='customWebService')}}",
      method: "POST",
      data: dataDict,
      dataType: "json"
    });

    request.done(AjaxCallCompleted);
    request.fail(ajaxFail);
  }

  return false;
}

function disableElement(id, disable) {
  var elem = document.getElementById(id);
  elem.disabled = disable;
  // grey out the disabled text
  var text = document.getElementById(id+"Text");
  if(elem.disabled) {
      text.className = "disabledText";
  } else {
      text.className = "";
  }
  // tell switchery
  if(id in globalSwitchs) {
    var sw = globalSwitchs[id];
    if(disable) {
      sw.disable();
    } else {
      sw.enable();
    }
  }
}

window.onload = function(){
    //Check File API support
    if(window.File && window.FileList && window.FileReader) {
        var filesInput = document.getElementById("uploadFile");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //It returns a FileList object
            var file = files[0];

            var reader = new FileReader();
            reader.onload = function(e) {
                // check sfc or smc extention
                var re = /(?:\.([^.]+))?$/;
                var ext = re.exec(file.name)[1];
                console.log("ext: "+ext)
                if( ! (ext === "sfc" || ext === "smc") ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong extension: "+ext);
                    return false;
                }

                var fileSize = file.size;
                if( fileSize > 4*1024*1024 ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong rom file size: "+fileSize.toString());
                    return false;
                }

                // detect race mode patch
                var bytes = new Uint8Array(e.target.result);
                var isRace = false;
                for(var addr=0x1C0200; addr<0x1C0210; addr++) {
                    if(bytes[addr] != 0xff) {
                        isRace = true;
                        break;
                    }
                }

                // grey out patches
                var buttons = ["itemsounds", "elevators_doors_speed", "spinjumprestart", "rando_speed"];
                for(var i=0; i<buttons.length; i++) {
                    disableElement(buttons[i], isRace);
                }

                // detect varia default patches
                var isVARIA = false;
                if(bytes[0x175ca] == 0x60 && bytes[0x19E1] == 0xEA && bytes[0xF27] == 0x20) {
                    isVARIA = true;
                }

                // grey out patches
                var buttons = ["AimAnyButton", "max_ammo_display", "supermetroid_msu1"];
                for(var i=0; i<buttons.length; i++) {
                    disableElement(buttons[i], isVARIA);
                }
            }

            reader.readAsArrayBuffer(file)

        }, false);
    } else {
        alert("This website requires the HTML5 File API, please upgrade your browser to a newer version.");
    }


    var inputs = document.getElementsByTagName("input");
    for(var i = 0; i < inputs.length; i++) {
        if(inputs[i].type == "checkbox") {
            // progression speed checkboxes don't need switchery, so they don't have a name property
            if(inputs[i].name != "") {
              var s = new Switchery(document.getElementById(inputs[i].name), { size: 'small', color: '#ddd' });
              globalSwitchs[inputs[i].name] = s;
            }
        }
    }

    // color checkboxes
    var colorRando = document.getElementById("colorsRandomization");
    colorRando.onchange = setColorRando;

    var customSpriteEnable = document.getElementById("customSpriteEnable");
    customSpriteEnable.onchange = enableCustomSpriteDropdown;

    initSlider();

{{
if session.customizer["invert"] == "on":
}}
    invertFunc();
{{
    pass
}}

    setColorRando();
    enableCustomSpriteDropdown()

    $("#customSprite").imagepicker({show_label: true});
}

function enableCustomSpriteDropdown() {
    var customSpriteEnable = document.getElementById("customSpriteEnable");
    var customSprite = document.getElementById("customSprite");
    var text = document.getElementById("customSpriteEnableText");
    if(customSpriteEnable.checked) {
      console.log("checked, set disabled to false");
      customSprite.disabled = false;
      customSpriteEnable.value = "on";
      text.className = "";
    } else {
      console.log("non checked, set disabled to true");
      customSprite.disabled = true;
      customSpriteEnable.value = "off";
      text.className = "disabledText";
    }
}

function setColorRando() {
  var colorRando = document.getElementById("colorsRandomization");
  var elements = ["globalShift", "suitsPalettes", "beamsPalettes", "tilesPalettes", "enemiesPalettes", "bossesPalettes"];
  var slider = $("#degree_slider_range");

  if(colorRando.checked){
    for(var i=0; i<elements.length; i++) {
      var elemId = elements[i];
      var switchBox = document.getElementById(elemId);
      var text = document.getElementById(elemId+"Text");
      var s = globalSwitchs[elemId];
      switchBox.disabled = false;
      text.className = "";
      s.enable();
      document.getElementById("textRight").className = "";
      document.getElementById("textLeft").className = "floatleft";
      document.getElementById("invert").disabled = false;
    }
    slider.slider("enable");
    colorRando.value = "on";
  } else {
    for(var i=0; i<elements.length; i++) {
      var switchBox = document.getElementById(elements[i]);
      var text = document.getElementById(elements[i]+"Text");
      var s = globalSwitchs[elements[i]];
      switchBox.disabled = true;
      text.className = "disabledText";
      s.disable();
      document.getElementById("textRight").className = "disabledText";
      document.getElementById("textLeft").className = "floatleft disabledText";
      document.getElementById("invert").disabled = true;
    }
    slider.slider("disable");
    colorRando.value = "off";
  }
}

var invertSlider = false;

// Helper function
function update_handle_track_pos(slider, ui_handle_pos, index) {
  var width = $("#degree_slider_range").width();
  var handle_track_xoffset = -(((ui_handle_pos*0.2777777778+50)/100) * width);
  $(slider).find(".handle-track"+index).css("left", handle_track_xoffset);

  // reverse grey slider
  if(invertSlider == true) {
      if(index == 0) {
        var left_slider = ui_handle_pos;
        var right_slider = $("#degree_slider_range").slider("values", 1);
      } else {
        var left_slider = $("#degree_slider_range").slider("values", 0);
        var right_slider = ui_handle_pos;
      }

      var slider_range_inverse_left = (100 - (left_slider*-0.2777777778+50)) + "%";
      var slider_range_inverse_width = ((right_slider-left_slider)*0.2777777778) + "%";

      $(slider).find(".slider-range-inverse0").css("width", slider_range_inverse_width);
      $(slider).find(".slider-range-inverse0").css("left", slider_range_inverse_left);

      $(slider).find(".slider-range-inverse1").css("width", "0%");
  } else {
    $(slider).find(".slider-range-inverse0").css("left", "0%");

    if(index == 1) {
      var slider_range_inverse_width = (ui_handle_pos*-0.2777777778+50) + "%";
      $(slider).find(".slider-range-inverse1").css("width", slider_range_inverse_width);
    } else {
      var slider_range_inverse_width = (100 - (ui_handle_pos*-0.2777777778+50)) + "%";
      $(slider).find(".slider-range-inverse0").css("width", slider_range_inverse_width);
    }
  }
}

// Init slider
function initSlider() {
  $("#degree_slider_range").slider({
    range: true,
    min: -180,
    max: 180,
    values: [-180, 180],
    create: function(event, ui) {
      var slider = $(event.target);
      
      // Append the slider handle with a center dot and it's own track
      slider.find(".ui-slider-handle").append(function(n){ return "<span class=\"dot\"><span class=\"handle-track"+n+"\"></span></span>"; });

      // Append the slider with an inverse range      
      slider.prepend('<div class="slider-range-inverse0"></div>')
      slider.prepend('<div class="slider-range-inverse1"></div>')

      // Set initial dimensions
      slider.find(".handle-track0").css("width", event.target.clientWidth);
      slider.find(".handle-track1").css("width", event.target.clientWidth);
      
      // set current values
      $("#degree_slider_range").slider("values", 0, {{=session.customizer["minDegree"]}});
      $("#degree_slider_range").slider("values", 1, {{=session.customizer["maxDegree"]}});

      // Set initial position for tracks
      update_handle_track_pos(event.target, $(this).slider("values", 0), 0);
      update_handle_track_pos(event.target, $(this).slider("values", 1), 1);

    },
    slide: function(event, ui) {
      // Update position of tracks
      update_handle_track_pos(event.target, ui.value, ui.handleIndex);
    }
  });
}

function invertFunc() {
  invertSlider = ! invertSlider;
  var slider = $("#degree_slider_range");
  update_handle_track_pos(slider, slider.slider("values", 0), 0);
  update_handle_track_pos(slider, slider.slider("values", 1), 1);
}

function switchCheckbox(id, elems=[]) {
  var check = document.getElementById(id);
  if(check.checked){
    check.value = "on";
  } else {
    check.value = "off";
  }

  for(var i=0; i<elems.length; i++){
    elemId = elems[i];
    var e = document.getElementById(elemId);
    e.disabled = check.checked;
    // grey out the disabled text
    var text = document.getElementById(elems[i]+"Text");
    if(e.disabled) {
        text.className = "disabledText";
    } else {
        text.className = "";
    }
    // tell switchery
    if(elemId in globalSwitchs){
      var s = globalSwitchs[elemId];
      if(check.checked){
        s.disable();
      } else {
        s.enable();
      }
    }
  }
}

function startTheTour(step=-1) {
  // the tour tutorial
  var tour = new Tour({
    storage: false,
    steps: [
    {
      element: "#uploadFileStep",
      title: "VARIA Seed",
      content: "Select a seed generated on the VARIA website."
    },
    {
      element: "#colorsRandomizationStep",
      title: "Color randomization",
      content: "<p>Randomize the colors of various graphical elements:<br/><img src=\"/solver/static/images/palettesRando.png\" alt=\"colors rando\" title=\"colors rando\" class=\"center_image half\"/></p><p>Use the slider to restrict the possible range of the colors shifting. The colors on the slider are the result colors for Samus, the yellow in the middle being Samus vanilla color:</p><img src=\"/solver/static/images/samus_degrees.png\" alt=\"samus degrees\" title=\"samus degrees\" class=\"center_image threequarter\"/><p>You can invert the range by clicking on the invert button.</p><p>By default, the same shift is applied to all elements for color consistency. If you disable the setting, a different shift will be used for each category.</p>"
    },
    {
      element: "#customSpriteStep",
      title: "Custom Sprites",
      content: "<p>The sprites have been created using <a href=\"https://github.com/Artheau/SpriteSomething\" target=\"_blank\">Sprite Something</a> by Artheau and MikeTrethewey.</p>\
<table>\
  <th>Sprite</th><th>Author</th><th>Description</th>\
{{
for (key, value) in sorted(customSprites.items(), key=lambda x: x[1]['index']):
  response.write('  <tr><td><a href=\\\"/solver/static/images/sprite_sheets/{}.png\\\" target=\\\"_blank\\\">{}</a></td><td>{}</td><td>{}</td>\\\n'.format(key, value['name'], value['author'], value['desc']), escape=False)
  pass
response.write('</table>', escape=False)
}}\
<p><b>Hint:</b>Click on a sprite name in the above table to display its sprite sheet.</p>"
    },
    {
      element: "#patchesStep",
      title: "Patches",
      content: "Choose the patches that you want to include in your customized seed."
    },
    {
      element: "#itemsoundsStep",
      title: "Fanfare",
      content: "<p>Replaces the quite long fanfare played when picking up an item by a short sound effect related with the item picked, and does not restart game music on item pickup.</p>\
<p>Patch developed by Scyzer.</p>"
    },
    {
      element: "#ElevatorDoorsStep",
      title: "Transitions",
      content: "<p>Accelerate doors and elevators transitions</p>\
<p>Doors patch developed by Rakki and elevators patch by Lioran.</p>"
    },
    {
      element: "#spinjumprestartStep",
      title: "Spin jump restart",
      content: "<p>Allows Samus to start spinning in mid air after jumping or falling</p>\
<p>Patch developed by Kejardon.</p>"
    },
    {
      element: "#rando_speedStep",
      title: "Momentum conservation",
      content: "<p>Let Samus keeps her momentum when landing from a fall or from jumping</p>\
<p>This patch was developed by Oi27.</p>"
    },
    {
      element: "#No_MusicStep",
      title: "No music",
      content: "<p>Disable the background music to let you hear you favorite tunes instead.</p>\
<p>Patch developed by Kejardon.</p>"
    },
    {
      element: "#random_musicStep",
      title: "Random Music",
      content: "<p>Randomize the background music.</p>\
<p>Patch developed by dude & flo.</p>"
    },
    {
      element: "#AimAnyButtonStep",
      title: "Aim any button",
      content: "<p>Allows the aim buttons to be assigned to any button (already applied by default on VARIA seeds).</p>\
<p>Patch developed by Kejardon.</p>"
    },
    {
      element: "#max_ammo_displayStep",
      title: "Max ammo display",
      content: "<p>Max Ammo Display (already applied by default on VARIA seeds).</p>\
<p>Patch developed by Personitis.</p>"
    },
    {
      element: "#supermetroid_msu1Step",
      title: "MSU1",
      content: "<p>Play music with MSU1 chip on SD2SNES (already applied by default on VARIA seeds).</p>\
<p>Patch developed by DarkShock.</p>"
    }
  ]});

  // Initialize the tour
  tour.init();

  // Start the tour
  if(step != -1) {
    tour.goTo(step);
  }
  tour.start();
}

function nope(evt) {
  evt.currentTarget.className += " active";
}
</script>
{{
def displayCheckbox(id, defaultTrue=False):
  if (id in session.customizer and session.customizer[id] == 'on') or (id not in session.customizer and defaultTrue == True):
}}
    {{=INPUT(_id=id, _name=id, _type="checkbox", _checked="checked", _value="on", _class="js-switch", _onchange="switchCheckbox('{}')".format(id))}}
{{
  else:
}}
    {{=INPUT(_id=id, _name=id, _type="checkbox", _value="off", _class="js-switch", _onchange="switchCheckbox('{}')".format(id))}}
    {{pass}}
  {{pass}}
<body>
  <div class="fixed">
    <div class="menu">
    <table class="full menuTable">
      <tr>
        <td>{{=A("Home", _href=URL(f="home"), _class="menu")}}</td>
        <td>{{=A("Presets", _href=URL(f="presets"), _class="menu")}}</td>
        <td>{{=A("Randomizer", _href=URL(f="randomizer"), _class="menu")}}</td>
        <td>{{=A("Solver", _href=URL(f="solver"), _class="menu")}}</td>
        <td>{{=A("Trackers", _href=URL(f="tracker"), _class="menu")}}</td>
        <td>{{=A("Plandomizer", _href=URL(f="plando"), _class="menu")}}</td>
        <td>{{=A("Plandository", _href=URL(f="plandorepo"), _class="menu")}}</td>
        <td class="menu_selected">{{=A("Customizer", _href=URL(f="customizer"), _class="menu")}}</td>
        <td>{{=A("Statistics", _href=URL(f="extStats"), _class="menu")}}</td>
        <td>{{=A("Information & Contact", _href=URL(f="infos"), _class="menu")}}</td>
      </tr>
    </table>
    </div>
  </div>

  <div class="main">
    <div class="center">
      <div class="tab">
        <button class="tablinks" onclick="nope(event);">Seed Customizer</button>
      </div>
    </div>
    <form id="mainform" name="mainform" onsubmit="doSubmit(); return false;">
      <div class="tabcontent">
        <div class="row">
          <div class="column">
            <p>Add palette randomization, use custom Samus sprite, apply patches to an already randomized VARIA seed, or a vanilla Super Metroid ROM.</p>
            <table class="full">
              <colgroup><col class="half" /><col class="half" /></colgroup>
              <tr>
                <td>ROM:</td>
                <td>{{=INPUT(_type="file", _name="uploadFile", _id="uploadFile", _class="full")}}</td>
                <td><button type="button" onclick="startTheTour(0)" id="uploadFileStep">?</button></td>
              </tr>
            </table>
            <h4>Colors Randomization</h4>
            <p>
              Randomize the colors of Samus, beams, levels, enemies and bosses.
            </p>
            <table class="full">
              <tr>
                <td class="third">{{displayCheckbox("colorsRandomization")}}Colors Randomization</td>
                <td class="full"><span id="textLeft" class="floatleft">-180</span><div id="degree_slider_range" class="sixty floatleft"></div><span id="textRight">180</span></td>
                <td><button id="invert" type="button" onclick="invertFunc()">Invert</button></td>
                <td><button type="button" onclick="startTheTour(1)" id="colorsRandomizationStep">?</button></td>
              </tr>
              <tr>
                <td colspan="4">{{displayCheckbox("globalShift")}}<span id="globalShiftText">Use the same degree to randomize all the elements</span></td>
              </tr>
            </table>
            <p>
              Select the elements to colors randomize.
            </p>
              <table class="full">
                <tr>
                  <td class="third">{{displayCheckbox("suitsPalettes")}}<span id="suitsPalettesText">Samus</span></td>
                  <td class="third">{{displayCheckbox("beamsPalettes")}}<span id="beamsPalettesText">Beams</span></td>
                  <td class="third">{{displayCheckbox("tilesPalettes")}}<span id="tilesPalettesText">Levels</span></td>
                </tr>
                <tr>
                  <td class="third">{{displayCheckbox("enemiesPalettes")}}<span id="enemiesPalettesText">Enemies</span></td>
                  <td class="third">{{displayCheckbox("bossesPalettes")}}<span id="bossesPalettesText">Bosses</span></td>
                  <td class="third"></td>
                </tr>
              </table>
            <h4>Custom Sprites</h4>
            <p>
              <table class="full">
                <colgroup><col class="check" /><col class="full" /></colgroup>
                <tr>
                  <td>{{displayCheckbox("customSpriteEnable")}}</td>
                  <td><span id="customSpriteEnableText">Replace Samus sprite with a custom one.</span></td>
                  <td><button type="button" onclick="startTheTour(2)" id="customSpriteStep">?</button></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <div class="border">
                      <select class="filldropdown" id="customSprite" name="customSprite">
                        <optgroup label="Samus">
{{
  group = "Samus"
  for (key, value) in sorted(customSprites.items(), key=lambda x: x[1]['index']):
    if value["group"] != group:
      group = value["group"]
      response.write("</optgroup>\n", escape=False)
      response.write("<optgroup label=\"{}\">\n".format(group), escape=False)
      pass
    response.write("  <option data-img-src=\"/solver/static/images/{}.png\" data-img-label=\"{}\" value=\"{}\" {}>{}</option>\n".format(key, customSprites[key]["name"], key, 'selected="selected"' if key == session.customizer['customSprite'] else "", key), escape=False)
    pass
}}
                        </optgroup>
                      </select>
                    </div>
                  <td>
                </tr>
              </table>
            </p>
            <h4>Patches<span class="right"><button type="button" onclick="startTheTour(3)" id="patchesStep">?</button></span></h4>
            <p>
              Patches to customize your ROM.
            </p>

              <table class="full">
                <colgroup><col class="quarter" /><col class="threequarter" /><col class="check" /></colgroup>
                <tr><td colspan="2"><h5 class="center"><b>Game comfort</b></h5></td><td></td></tr>
              </table>
              <table class="full">
                <colgroup><col class="half" /><col class="half" /></colgroup>
                <tr id="itemsoundsStep">
                  <td colspan="2">
                    {{displayCheckbox("itemsounds")}}
                    <span id="itemsoundsText">Remove fanfare when picking up an item</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(4)">?</button></td>
                </tr>
                <tr id="ElevatorDoorsStep">
                  <td colspan="2">
                    {{displayCheckbox("elevators_doors_speed")}}
                    <span id="elevators_doors_speedText">Accelerate doors and elevators transitions</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(5)">?</button></td>
                </tr>
                <tr id="spinjumprestartStep">
                  <td colspan="2">
                    {{displayCheckbox("spinjumprestart")}}
                    <span id="spinjumprestartText">Spin jump restart (a.k.a. Respin)</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(6)">?</button></td>
                </tr>
                <tr id="rando_speedStep">
                  <td colspan="2">
                    {{displayCheckbox("rando_speed")}}
                     <span id="rando_speedText">Momentum conservation (a.k.a. Speedkeep)</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(7)">?</button></td>
                </tr>
              </table>
              <table class="full">
                <colgroup><col class="quarter" /><col class="threequarter" /><col class="check" /></colgroup>
                <tr><td colspan="2"><h5 class="center"><b>Miscellaneous</b></h5></td><td></td></tr>
              </table>
              <table class="full">
                <colgroup><col class="half" /><col class="half" /></colgroup>
                <tr id="No_MusicStep">
                  <td colspan="2">
                    {{displayCheckbox("No_Music")}}
                    <span id="No_MusicText">Disable background music</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(8)">?</button></td>
                </tr>
                <tr id="random_musicStep">
                  <td colspan="2">
                    {{displayCheckbox("random_music")}}
                    <span id="random_musicText">Randomize background music</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(9)">?</button></td>
                </tr>
                <tr id="AimAnyButtonStep">
                  <td colspan="2">
                    {{displayCheckbox("AimAnyButton")}}
                    <span id="AimAnyButtonText">Allows the aim buttons to be assigned to any button</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(10)">?</button></td>
                </tr>
                <tr id="max_ammo_displayStep">
                  <td colspan="2">
                    {{displayCheckbox("max_ammo_display")}}
                    <span id="max_ammo_displayText">Max Ammo Display</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(11)">?</button></td>
                </tr>
                <tr id="supermetroid_msu1Step">
                  <td colspan="2">
                    {{displayCheckbox("supermetroid_msu1")}}
                    <span id="supermetroid_msu1Text">Play music with MSU1 chip on SD2SNES</span>
                  </td>
                  <td><button type="button" onclick="startTheTour(12)">?</button></td>
                </tr>
              </table>
          </div>
        </div>
        {{=INPUT(_type="submit", _value="customize", _id="submitBtn", _class="btn btn-default buttonRandom")}}
    </form>
  </div>
</body>
