{{
extend 'layout.html'
}}

<meta name="description" content="Palettizer for the randomized Super Metroid roms"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<script src="{{=URL('static','js/FileSaver.js')}}"></script>
<link rel="stylesheet" type="text/css" href={{=URL('static','css/mystyle_20190320.css')}} media="screen"/>

<link rel="stylesheet" type="text/css" href={{=URL('static','dist/switchery.css')}} media="screen"/>
<script src="{{=URL('static','dist/switchery.js')}}"></script>

<link href={{=URL('static', 'css/bootstrap-tour.min.css')}} rel="stylesheet">
<script src="{{=URL('static','js/bootstrap-tour.min.js')}}"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="{{=URL('static','image-picker/image-picker.css')}}">
<script src="{{=URL('static', 'image-picker/image-picker.js')}}" type="text/javascript"></script>

<title>Super Metroid VARIA Customizer</title>

<style>
h1 {
  text-align: center;
  color: #444;
  margin-top: 50px;
}

#slider-container {
  width: 80%;
  height: 80px;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  margin: 0 auto;
  text-align: center;
  background: #FFF;
  padding: 35px 40px 30px 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.ui-slider, .ui-slider .slider-range-inverse, .ui-slider .ui-slider-range {
  height: 14px;
  border-radius: 0px;
  border-width: 0;
}
.ui-slider {
  background-color: #1ABC9C;
  background-image: linear-gradient(to right, #0000e8 0%, #e80074 25%, #e8e800 50%, #00e874 75%, #0000e8 100%);
}
.ui-slider * {
  outline: none;
}
.ui-slider .slider-range-inverse0 {
  background: #CCC;
  position: absolute;
  left: 0;
  height: 12px;
}
.ui-slider .slider-range-inverse1 {
  background: #CCC;
  position: absolute;
  right: 0;
  height: 12px;
}
.ui-slider .ui-slider-range {
  background: transparent;
}
.ui-slider .ui-slider-handle {
  width: 6px;
  height: 20px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background: #FFF;
  top: -4px;
  border-width: 0;
  margin-left: -3px;
}
.ui-slider .ui-slider-handle:active {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
.ui-slider .ui-slider-handle .dot {
  width: 4px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  overflow: hidden;
}
.ui-slider .ui-slider-handle .dot .handle-track0 {
  display: block;
  height: 18px;
  background-color: #1ABC9C;
  background-image: linear-gradient(to right, #0000e8 0%, #e80074 25%, #e8e800 50%, #00e874 75%, #0000e8 100%);
  position: absolute;
  margin-left: 0px;
}
.ui-slider .ui-slider-handle .dot .handle-track1 {
  display: block;
  height: 18px;
  background-color: #1ABC9C;
  background-image: linear-gradient(to right, #0000e8 0%, #e80074 25%, #e8e800 50%, #00e874 75%, #0000e8 100%);
  position: absolute;
  margin-left: 8px;
}

.popover {
    max-width: 20%;
    position: fixed;
}
.highslide-dimming {
    background: black;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#loadingGIF {
    position: absolute;
    left: 5%;
    z-index: 3;
    display:none;
}
@media (max-height: 800px) {
    .loadingGIF {
         top: 20%;
    }
}
@media (min-height: 800px) {
    .loadingGIF {
         top: 40%;
    }
}
.sixty {
    width: 65%
}
.thirty {
    width: 30%
}
.floatright {
    float: right;
    /* vertical-align: top; */
    margin-top: -1em;
}
.floatleft {
    float: left;
    /* vertical-align: top; */
    margin-right: 0.5em;
}
.border {
    border: 1px solid #cccccc;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
   jQuery(window).on('resize', resizeSlider);
});

function resizeSlider() {
   var slider = $("#degree_slider_range");
   var width = slider.width();

   // set new handle tracks width
   slider.find(".handle-track0").css("width", width);
   slider.find(".handle-track1").css("width", width);

   update_handle_track_pos(slider, slider.slider("values", 0), 0);
   update_handle_track_pos(slider, slider.slider("values", 1), 1);
}

var globalSwitchs = {};

function ajaxFail(jqXHR, textStatus) {
  document.getElementById("flash").innerHTML = jqXHR.responseText;
  $('#flash').show();
  $('#overlay').hide();
  $('#loadingGIF').hide();
}

function ajaxFailJSON(jqXHR, textStatus) {
  if(jqXHR.responseJSON == null) {
    document.getElementById("flash").innerHTML = "Something wrong happened with the customizer.";
  } else {
    document.getElementById("flash").innerHTML = jqXHR.responseJSON;
  }
  $('#flash').show();
  $('#overlay').hide();
  $('#loadingGIF').hide();
}

function unpack_3bytes(ips, i) {
  var b1 = ips[i];
  var b2 = ips[i+1];
  var b3 = ips[i+2];
  return (b1*65536) + (b2*256) + b3;
}

function unpack_2bytes(ips, i) {
  var b1 = ips[i];
  var b2 = ips[i+1];
  return (b1*256) + b2;
}

function AjaxCallCompleted(data) {
    console.log("AjaxCallCompleted");

    // with items/Locations patch the local rom in memory
    var filesInput = document.getElementById("uploadFile");
    var file = filesInput.files[0];

    var reader = new FileReader();
    reader.fileName = file.name;
    reader.readAsArrayBuffer(file);

    reader.onload = function(e) {
        var bytes = new Uint8Array(e.target.result);

        // with custom sprites we have to create a bigger array
        if("ips" in data) {
          var tmp = new Uint8Array(0x400000);
          tmp.set(bytes);
          bytes = tmp;
        }

        for(var key in data) {
            if(key === "fileName" || key === "errorMsg" || key === "ips") { continue; }
            bytes[key] = data[key];
        }

        if("ips" in data) {
          var binary_string = atob(data["ips"]);
          var len = binary_string.length;
          var ips = new Uint8Array(len);
          for(var i = 0; i < len; i++) {
             ips[i] = binary_string.charCodeAt(i);
          }

          console.log("IPS size: "+ips.length);
          var i = 5;
          var offset = 0;
          var size = 0;
          var rle_size = 0;

          while(i < ips.length - 3) {
             offset = unpack_3bytes(ips, i);
             i += 3;
             size = unpack_2bytes(ips, i);
             i += 2;

             if(size == 0) {
               // RLE
               rle_size = unpack_2bytes(ips, i);
               i += 2;
               for(j=0; j<rle_size; j++) {
                 bytes[offset+j] = ips[i];
               }
               i += 1;
             } else {
               for(j=0; j<size; j++) {
                 bytes[offset+j] = ips[i+j];
               }
               i += j;
             }
          }
        }

        var blob = new Blob([bytes], {type: "octet/stream"});

        saveAs(blob, "Custom_"+e.target.fileName);
    }

    // info message to display ?
    if("errorMsg" in data && data["errorMsg"].length > 0) {
        document.getElementById("flash").innerHTML = data["errorMsg"];
        $('#flash').show();
        displayFlash = true;
    } else {
        displayFlash = false;
    }

    // set backup button text to customize
    document.getElementById("submitBtn").data = "Customize";

    // remove "working" message
    if(displayFlash == false){
        $('#flash').hide();
    }
    $('#overlay').hide();
    $('#loadingGIF').hide();
}

function doSubmit() {
  if(window.File && window.FileList && window.FileReader) {

    var filesInput = document.getElementById("uploadFile");
    var file = filesInput.files[0]
    if (file === undefined) {
      alert("Please select a VARIA seed first")
      btn = document.getElementById("submitBtn");
      btn.data = "Customize";
      btn.disabled = false;

      setTimeout(function(){ 
          btn = document.getElementById("submitBtn");
          btn.data = "Customize";
          btn.disabled = false;
      }, 20000);

      return false;
    }

    var dataDict = {};
    var elems = ["itemsounds", "spinjumprestart", "rando_speed", "elevators_doors_speed", "animals", "No_Music", "colorsRandomization", "suitsPalettes", "beamsPalettes", "tilesPalettes", "enemiesPalettes", "bossesPalettes", "globalShift", "customSpriteEnable", "customSprite"];

    for(var i=0; i<elems.length; i++) {
       dataDict[elems[i]] = document.getElementById(elems[i]).value;
    }

    dataDict["minDegree"] = $("#degree_slider_range").slider("values", 0);
    dataDict["maxDegree"] = $("#degree_slider_range").slider("values", 1);

    if(invertSlider == true) {
      dataDict["invert"] = "on";
    } else {
      dataDict["invert"] = "off";
    }

    console.log("before customizer web service call");

    // call customizer web service with parameters
    var request = $.ajax({
      url: "{{=URL(f='customWebService')}}",
      method: "POST",
      data: dataDict,
      dataType: "json"
    });

    request.done(AjaxCallCompleted);
    request.fail(ajaxFail);

    // while WS is working, display "working" message
    $('#overlay').show();
    $('#loadingGIF').show();
  }

  return false;
}

window.onload = function(){
    //Check File API support
    if(window.File && window.FileList && window.FileReader) {
        var filesInput = document.getElementById("uploadFile");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //It returns a FileList object
            var file = files[0];

            var reader = new FileReader();
            reader.onload = function(e) {
		// check sfc or smc extention
                var re = /(?:\.([^.]+))?$/;
		var ext = re.exec(file.name)[1];
                console.log("ext: "+ext)
                if( ! (ext === "sfc" || ext === "smc") ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong extension: "+ext);
                    return false;
                }

                var fileSize = file.size;
		if( fileSize > 4*1024*1024 ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong rom file size: "+fileSize.toString());
                    return false;
                }
            }

            reader.readAsArrayBuffer(file)

        }, false);
    } else {
        alert("This website requires the HTML5 File API, please upgrade your browser to a newer version.");
    }


    var inputs = document.getElementsByTagName("input");
    for(var i = 0; i < inputs.length; i++) {
        if(inputs[i].type == "checkbox") {
            // progression speed checkboxes don't need switchery, so they don't have a name property
            if(inputs[i].name != "") {
              var s = new Switchery(document.getElementById(inputs[i].name), { size: 'small', color: '#ddd' });
              globalSwitchs[inputs[i].name] = s;
            }
        }
    }

    // color checkboxes
    var colorRando = document.getElementById("colorsRandomization");
    colorRando.onchange = setColorRando;

    var customSpriteEnable = document.getElementById("customSpriteEnable");
    customSpriteEnable.onchange = enableCustomSpriteDropdown;

    initSlider();

{{
if session.customizer["invert"] == "on":
}}
    invertFunc();
{{
    pass
}}

    setColorRando();
    enableCustomSpriteDropdown()

    $("#customSprite").imagepicker();
}

function enableCustomSpriteDropdown() {
    var customSpriteEnable = document.getElementById("customSpriteEnable");
    var customSprite = document.getElementById("customSprite");
    var text = document.getElementById("customSpriteEnableText");
    if(customSpriteEnable.checked) {
      console.log("checked, set disabled to false");
      customSprite.disabled = false;
      customSpriteEnable.value = "on";
      text.className = "";
    } else {
      console.log("non checked, set disabled to true");
      customSprite.disabled = true;
      customSpriteEnable.value = "off";
      text.className = "disabledText";
    }
}

function setColorRando() {
  var colorRando = document.getElementById("colorsRandomization");
  var elements = ["globalShift", "suitsPalettes", "beamsPalettes", "tilesPalettes", "enemiesPalettes", "bossesPalettes"];
  var slider = $("#degree_slider_range");

  if(colorRando.checked){
    for(var i=0; i<elements.length; i++) {
      var elemId = elements[i];
      var switchBox = document.getElementById(elemId);
      var text = document.getElementById(elemId+"Text");
      var s = globalSwitchs[elemId];
      switchBox.disabled = false;
      text.className = "";
      s.enable();
      document.getElementById("textRight").className = "";
      document.getElementById("textLeft").className = "floatleft";
      document.getElementById("invert").disabled = false;
    }
    slider.slider("enable");
    colorRando.value = "on";
  } else {
    for(var i=0; i<elements.length; i++) {
      var switchBox = document.getElementById(elements[i]);
      var text = document.getElementById(elements[i]+"Text");
      var s = globalSwitchs[elements[i]];
      switchBox.disabled = true;
      text.className = "disabledText";
      s.disable();
      document.getElementById("textRight").className = "disabledText";
      document.getElementById("textLeft").className = "floatleft disabledText";
      document.getElementById("invert").disabled = true;
    }
    slider.slider("disable");
    colorRando.value = "off";
  }
}

var invertSlider = false;

// Helper function
function update_handle_track_pos(slider, ui_handle_pos, index) {
  var width = $("#degree_slider_range").width();
  var handle_track_xoffset = -(((ui_handle_pos*0.2777777778+50)/100) * width);
  $(slider).find(".handle-track"+index).css("left", handle_track_xoffset);

  // reverse grey slider
  if(invertSlider == true) {
      if(index == 0) {
        var left_slider = ui_handle_pos;
        var right_slider = $("#degree_slider_range").slider("values", 1);
      } else {
        var left_slider = $("#degree_slider_range").slider("values", 0);
        var right_slider = ui_handle_pos;
      }

      var slider_range_inverse_left = (100 - (left_slider*-0.2777777778+50)) + "%";
      var slider_range_inverse_width = ((right_slider-left_slider)*0.2777777778) + "%";

      $(slider).find(".slider-range-inverse0").css("width", slider_range_inverse_width);
      $(slider).find(".slider-range-inverse0").css("left", slider_range_inverse_left);

      $(slider).find(".slider-range-inverse1").css("width", "0%");
  } else {
    $(slider).find(".slider-range-inverse0").css("left", "0%");

    if(index == 1) {
      var slider_range_inverse_width = (ui_handle_pos*-0.2777777778+50) + "%";
      $(slider).find(".slider-range-inverse1").css("width", slider_range_inverse_width);
    } else {
      var slider_range_inverse_width = (100 - (ui_handle_pos*-0.2777777778+50)) + "%";
      $(slider).find(".slider-range-inverse0").css("width", slider_range_inverse_width);
    }
  }
}

// Init slider
function initSlider() {
  $("#degree_slider_range").slider({
    range: true,
    min: -180,
    max: 180,
    values: [-180, 180],
    create: function(event, ui) {
      var slider = $(event.target);
      
      // Append the slider handle with a center dot and it's own track
      slider.find(".ui-slider-handle").append(function(n){ return "<span class=\"dot\"><span class=\"handle-track"+n+"\"></span></span>"; });

      // Append the slider with an inverse range      
      slider.prepend('<div class="slider-range-inverse0"></div>')
      slider.prepend('<div class="slider-range-inverse1"></div>')

      // Set initial dimensions
      slider.find(".handle-track0").css("width", event.target.clientWidth);
      slider.find(".handle-track1").css("width", event.target.clientWidth);
      
      // set current values
      $("#degree_slider_range").slider("values", 0, {{=session.customizer["minDegree"]}});
      $("#degree_slider_range").slider("values", 1, {{=session.customizer["maxDegree"]}});

      // Set initial position for tracks
      update_handle_track_pos(event.target, $(this).slider("values", 0), 0);
      update_handle_track_pos(event.target, $(this).slider("values", 1), 1);

    },
    slide: function(event, ui) {
      // Update position of tracks
      update_handle_track_pos(event.target, ui.value, ui.handleIndex);
    }
  });
}

function invertFunc() {
  invertSlider = ! invertSlider;
  var slider = $("#degree_slider_range");
  update_handle_track_pos(slider, slider.slider("values", 0), 0);
  update_handle_track_pos(slider, slider.slider("values", 1), 1);
}

function switchCheckbox(id, elems=[]) {
  var check = document.getElementById(id);
  if(check.checked){
    check.value = "on";
  } else {
    check.value = "off";
  }

  for(var i=0; i<elems.length; i++){
    elemId = elems[i];
    var e = document.getElementById(elemId);
    e.disabled = check.checked;
    // grey out the disabled text
    var text = document.getElementById(elems[i]+"Text");
    if(e.disabled) {
        text.className = "disabledText";
    } else {
        text.className = "";
    }
    // tell switchery
    if(elemId in globalSwitchs){
      var s = globalSwitchs[elemId];
      if(check.checked){
        s.disable();
      } else {
        s.enable();
      }
    }
  }
}

function startTheTour(step=-1) {
  // the tour tutorial
  var tour = new Tour({
    storage: false,
    steps: [
    {
      element: "#uploadFileStep",
      title: "VARIA Seed",
      content: "Select a seed generated on the VARIA website."
    },
    {
      element: "#colorsRandomizationStep",
      title: "Color randomization",
      content: "<p>Randomize the colors of various graphical elements:<br/><img src=\"/solver/static/images/palettesRando.png\" alt=\"colors rando\" title=\"colors rando\" class=\"full\"/></p><br/><p>Use the slider to restrict the possible range of the colors shifting. The colors on the slider are the result colors for Samus, the yellow in the middle being Samus vanilla color:<br/><img src=\"/solver/static/images/samus_degrees.png\" alt=\"samus degrees\" title=\"samus degrees\" class=\"full\"/>You can invert the range by clicking on the invert button.</p><p>By default, the same shift is applied to all elements for color consistency. If you disable the setting, a different shift will be used for each category.</p>"
    },
    {
      element: "#customSpriteStep",
      title: "Custom Sprites",
      content: "<p>Replace Samus sprite with a custom one.</p>\
<p>The sprites have been generated using <a href=\"https://github.com/Artheau/SpriteSomething\">Sprite Something</a>.</p>\
{{
for item in sorted(customSprites.keys()):
  response.write('<p>{} by {}</p>\\\n'.format(customSprites[item]['name'], customSprites[item]['author']), escape=False)
  pass
}}"
    },
    {
      element: "#patchesStep",
      title: "Patches",
      content: "Choose the patches that you want to include in your customized seed."
    }
  ]});

  // Initialize the tour
  tour.init();

  // Start the tour
  if(step != -1) {
    tour.goTo(step);
  }
  tour.start();
}

function nope(evt) {
  evt.currentTarget.className += " active";
}
</script>
{{
def displayCheckbox(id, defaultTrue=False):
  if (id in session.customizer and session.customizer[id] == 'on') or (id not in session.customizer and defaultTrue == True):
}}
    {{=INPUT(_id=id, _name=id, _type="checkbox", _checked="checked", _value="on", _class="js-switch", _onchange="switchCheckbox('{}')".format(id))}}
{{
  else:
}}
    {{=INPUT(_id=id, _name=id, _type="checkbox", _value="off", _class="js-switch", _onchange="switchCheckbox('{}')".format(id))}}
    {{pass}}
  {{pass}}
<body>
  <div id="overlay"></div>
  <div id="loadingGIF"><img src={{=URL('static/images','ajax-loader.gif')}}/></div>

  <div class="fixed">
    <div class="menu">
    <table class="full menuTable">
      <tr>
	<td>{{=A("Home", _href=URL(f="home"), _class="menu")}}</td>
	<td>{{=A("Presets", _href=URL(f="presets"), _class="menu")}}</td>
	<td>{{=A("Randomizer", _href=URL(f="randomizer"), _class="menu")}}</td>
	<td>{{=A("Solver", _href=URL(f="solver"), _class="menu")}}</td>
	<td>{{=A("Trackers", _href=URL(f="tracker"), _class="menu")}}</td>
	<td>{{=A("Plandomizer", _href=URL(f="plando"), _class="menu")}}</td>
	<td class="menu_selected">{{=A("Customizer", _href=URL(f="customizer"), _class="menu")}}</td>
	<td>{{=A("Statistics", _href=URL(f="extStats"), _class="menu")}}</td>
	<td>{{=A("Information & Contact", _href=URL(f="infos"), _class="menu")}}</td>
      </tr>
    </table>
    </div>
  </div>

  <div class="main">
    <div class="center">
      <div class="tab">
        <button class="tablinks" onclick="nope(event);">Seed Customizer</button>
      </div>
    </div>
    <form id="mainform" name="mainform" onsubmit="doSubmit(); return false;">
      <div class="tabcontent">
        <div class="row">
	  <div class="column">
	    <p>Add palette randomization, apply patches to an already randomized VARIA seed, or a vanilla Super Metroid ROM.</p>
            <table class="full">
              <colgroup><col class="half" /><col class="half" /></colgroup>
              <tr>
                <td>ROM:</td>
                <td>{{=INPUT(_type="file", _name="uploadFile", _id="uploadFile", _class="full")}}</td>
                <td><button type="button" onclick="startTheTour(0)" id="uploadFileStep">?</button></td>
              </tr>
            </table>
            <h4>Colors Randomization</h4>
            <p>
	      Randomize the colors of Samus, beams, levels, enemies and bosses.
            </p>
	    <table class="full">
	      <tr>
	        <td class="third">{{displayCheckbox("colorsRandomization")}}Colors Randomization</td>
		<td class="full"><span id="textLeft" class="floatleft">-180</span><div id="degree_slider_range" class="sixty floatleft"></div><span id="textRight">180</span></td>
		<td><button id="invert" type="button" onclick="invertFunc()">Invert</button></td>
                <td><button type="button" onclick="startTheTour(1)" id="colorsRandomizationStep">?</button></td>
	      </tr>
	      <tr>
		<td colspan="4">{{displayCheckbox("globalShift")}}<span id="globalShiftText">Use the same degree to randomize all the elements</span></td>
	      </tr>
            </table>
	    <p>
	      Select the elements to colors randomize.
	    </p>
	      <table class="full">
		<tr>
	          <td class="third">{{displayCheckbox("suitsPalettes")}}<span id="suitsPalettesText">Samus</span></td>
	          <td class="third">{{displayCheckbox("beamsPalettes")}}<span id="beamsPalettesText">Beams</span></td>
	          <td class="third">{{displayCheckbox("tilesPalettes")}}<span id="tilesPalettesText">Levels</span></td>
		</tr>
		<tr>
	          <td class="third">{{displayCheckbox("enemiesPalettes")}}<span id="enemiesPalettesText">Enemies</span></td>
	          <td class="third">{{displayCheckbox("bossesPalettes")}}<span id="bossesPalettesText">Bosses</span></td>
		  <td class="third"></td>
		</tr>
	      </table>
	    <h4>Custom Sprites</h4>
	    <p>
	      <table class="full">
		<colgroup><col class="check" /><col class="full" /></colgroup>
		<tr>
	          <td>{{displayCheckbox("customSpriteEnable")}}</td>
		  <td><span id="customSpriteEnableText">Replace Samus sprite with a custom one.</span></td>
                  <td><button type="button" onclick="startTheTour(2)" id="customSpriteStep">?</button></td>
		</tr>
		<tr>
		  <td></td>
		  <td>
		    <div class="border">
		      <select class="filldropdown" id="customSprite" name="customSprite">
{{
  for item in sorted(customSprites.keys()):
    response.write("<optgroup label=\"{}\">\n".format(customSprites[item]["name"]), escape=False)
    response.write("  <option data-img-src=\"/solver/static/images/{}.png\" value=\"{}\" {}>{}</option>\n".format(item, item, 'selected="selected"' if item == session.customizer['customSprite'] else "", item), escape=False)
    response.write("</optgroup>\n", escape=False)
    pass
}}
		      </select>
		    </div>
		  <td>
		</tr>
	      </table>
	    </p>
	    <h4>Patches<span class="right"><button type="button" onclick="startTheTour(3)" id="patchesStep">?</button></span></h4>
	    <p>
	      Patches to customize your ROM.
	    </p>
	    <table class="full">
{{
for patch in patches:
  if patch[4] == True:
    response.write("	    <tr>", escape=False)
    response.write("	      <td class=\"full\">".format(patch[0]), escape=False)
    displayCheckbox(patch[0], patches[2])
    response.write("{}".format(patch[1]))
    response.write("	    </tr>", escape=False)
    pass
  pass
}}
	    </table>
	  </div>
        </div>
        {{=INPUT(_type="submit", _value="customize", _id="submitBtn", _class="btn btn-default buttonRandom")}}
    </form>
  </div>
</body>
