{{
extend 'layout.html'
}}

<meta name="description" content="VARIA Randomizer statistics"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<script type="text/javascript" src="{{=URL('static', '/highslide/highslide.js')}}"></script>
<link rel="stylesheet" type="text/css" href={{=URL("static", "/highslide/highslide.css")}} />
<script type="text/javascript">
hs.graphicsDir = "/solver/static/highslide/graphics/";
hs.showCredits = 0;
hs.zIndexCounter = 1000000;
hs.dimmingOpacity = 0.75;

if (hs.registerOverlay) {
        // The simple semitransparent close button overlay
        hs.registerOverlay({
                thumbnailId: 'areathumb',
                html: '<div class="closebutton"        onclick="return hs.close(this)" title="Close"></div>',
                position: 'top right',
                fade: 2 // fading the semi-transparent overlay looks bad in IE
        });
}
</script>

<link href={{=URL('static', 'css/bootstrap-tour.min.css')}} rel="stylesheet">
<script src="{{=URL('static','js/bootstrap-tour.min.js')}}"></script>

<script type="text/javascript" src="{{=URL('static', 'js/chosen.jquery.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href={{=URL("static", "css/chosen.css")}} />

<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
<script type = "text/javascript">google.charts.load('current', {packages: ['corechart']});</script>

<title>Super Metroid VARIA Randomizer statistics</title>

<style>
{{include 'solver_web/varia.css'}}
.clickable {
    cursor: pointer;
}
.centerTable {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.blue {
    background-color: #6d9eeb;
}
.green {
    background-color: #93c47d;
}
.yellow {
    background-color: #ffd966;
}
.orange {
    background-color: #f6b26b;
}
.red {
    background-color: #e06666;
}
.none {
    background-color: #ffffff;
}
.minor {
    background-color: #dddddd;
}
.border {
    border: 1px solid #ddd;
}
.icon {
    width: 3.6%;
}
.centerIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.grey {
    background-color: #f1f1f1;
}
.bold {
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
}
.row {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}
.space {
    margin-bottom: 1.0em;
    margin-top: 1.0em;
}
.strike {
    text-decoration: line-through;
}
.fifth {
    width: 20%;
}
</style>

<script type="text/javascript">
// https://stackoverflow.com/questions/16960690/chosen-harvesthq-resize-width-dynamically
$(document).ready(function(){      
   resizeChosen();
   jQuery(window).on('resize', resizeChosen);
});

function resizeChosen() {
   $(".chosen-container").each(function() {
       $(this).attr('style', 'width: 100%');
   });          
}

window.onload = function(){
    $(".chzn-select").chosen({ width: '100%' });
    resizeChosen();
}

function startTheTour(step=-1) {
    // the tour tutorial
    var tour = new Tour({
        storage: false,
        steps: [
            {
                element: "#randoPresetStep",
                title: "Settings Preset",
                content: "Choose from the list of Randomizer presets and tournament ones."
            },
            {
                element: "#presetStep",
                title: "Preset",
                content: "Choose from the list of standard skill presets and tournament ones."
            }
        ]
    });

    // Initialize the tour
    tour.init();

    if (typeof step === "object") {
        // step is an event, not a number. Get ID from parent element
        let parent = event.target.parentNode
        step = parent.id
        while (!step) {
            parent = parent.previousElementSibling
            step = parent.id
        }
    }
    if (typeof step === 'string') {
        step = tour._options.steps.findIndex((tour_step) => tour_step.element === `#${step}`)
    }
    // Start the tour
    if(step != -1) {
        tour.goTo(step);
    }
    tour.start();
}

function drawDifficultiesHistogram() {
{{
  if difficulties is None or len(difficulties) == 0:
    response.write("  return;", escape=False)
  else:
}}
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable([
      ["Difficulty", "Count", { role: 'style' }],
      ["easy", {{=difficulties[0]}}, "#6daa53"],
      ["medium", {{=difficulties[1]}}, "#C1B725"],
      ["hard", {{=difficulties[2]}}, "#e69235"],
      ["very hard", {{=difficulties[3]}}, "#d13434"],
      ["hardcore", {{=difficulties[4]}}, "#123456"],
      ["mania", {{=difficulties[5]}}, "#000000"]
    ]);

    var options = {
      title: "Difficulty histogram",
      legend: { position: "none" }
    };

    // Instantiate and draw the chart.
    var chart = new google.visualization.ColumnChart(document.getElementById("difficultiesHistogram"));
    chart.draw(data, options);
{{
    pass
}}
}

function drawAvgLocsHistogram() {
{{
  if solverStats is None or "avgLocs" not in solverStats:
    response.write("  return;", escape=False)
  else:
}}
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable({{response.write(solverStats["avgLocs"], escape=False)}});

    var options = {
      title: "Average number of available locations distribution",
      vAxis: {title: 'Percentage'},
      hAxis: {title: 'Average number of available locations'},
      seriesType: 'bars',
      legend: { position: "none" }
    };

    // Instantiate and draw the chart.
    var chart = new google.visualization.ColumnChart(document.getElementById("avgLocsHistogram"));
    chart.draw(data, options);
{{
    pass
}}
}

function drawOpennessHistogram() {
{{
  if solverStats is None or "open" not in solverStats:
    response.write("  return;", escape=False)
  else:
}}
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable({{response.write(solverStats["open"], escape=False)}});

    var options = {
      title: "Progression items distribution",
      vAxis: {title: 'Percentage'},
      hAxis: {title: 'Collected items count'}
    };

    // Instantiate and draw the chart.
    var chart = new google.visualization.AreaChart(document.getElementById("opennessHistogram"));
    chart.draw(data, options);
{{
    pass
}}
}

google.charts.setOnLoadCallback(drawDifficultiesHistogram);
google.charts.setOnLoadCallback(drawAvgLocsHistogram);
google.charts.setOnLoadCallback(drawOpennessHistogram);

function loadRandoPreset() {
  console.log("loadRandoPreset: "+document.getElementById("randoPreset").value);

  var dataDict = {"randoPreset": document.getElementById("randoPreset").value, "origin": "extStats"};

  // call web service to update the session with the params from the rando preset and reload the page
  var request = $.ajax({
      url: "{{=URL(f='randoPresetWebService')}}",
      method: "POST",
      data: dataDict,
      dataType: "json"
  });

  request.done(loadRandoPresetOK);
  request.fail(ajaxFail);
}

function loadRandoPresetOK(data) {
  console.log("loadRandoPresetOK");
  // check if "preset" key is in data
  if("preset" in data) {
    var presetValue = data["preset"];
    var item = document.getElementById("preset");
    item.value = presetValue;
    $("#preset").val(presetValue).trigger("chosen:updated");
    console.log("skill preset set to "+presetValue);
  }
}

function ajaxFail(jqXHR, textStatus) {
  document.getElementById("flash").innerHTML = jqXHR.responseText;
  $('#flash').show();
}

</script>

<div class="fixed">
  <div class="menu">
    <table class="full menuTable">
      <tr>
        <td>{{=A("Home", _href=URL(f="home"), _class="menu")}}</td>
        <td>{{=A("Presets", _href=URL(f="presets"), _class="menu")}}</td>
        <td>{{=A("Randomizer", _href=URL(f="randomizer"), _class="menu")}}</td>
        <td>{{=A("Solver", _href=URL(f="solver"), _class="menu")}}</td>
        <td>{{=A("Tracker", _href=URL(f="tracker"), _class="menu")}}</td>
        <td>{{=A("Plandomizer", _href=URL(f="plando"), _class="menu")}}</td>
        <td>{{=A("Plandository", _href=URL(f="plandorepo"), _class="menu")}}</td>
        <td>{{=A("Customizer", _href=URL(f="customizer"), _class="menu")}}</td>
        <td class="menu_selected">{{=A("Statistics", _href=URL(f="extStats"), _class="menu")}}</td>
        <td>{{=A("Information & Contact", _href=URL(f="infos"), _class="menu")}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="main">
  <div class="center">
    <div class="tab">
      <button class="tablinks" onclick="nope(event);">Statistics</button>
    </div>
  </div>
  <div class="tabcontent">
    <form id="mainform" name="mainform">
      <table class="full">
        <colgroup><col class="fifth"/><col class="fifth"/><col class="small"/><col class="fifth"/><col class="fifth"/><col class="small"/><col class="fifth"/></colgroup>
        <tr>
          <td>Settings Preset:</td>
          <td>{{=SELECT(OPTGROUP(*randoPresets, **dict(_label="Standard presets")), OPTGROUP(*tourRandoPresets, **dict(_label="Tournament presets")), **dict(_name="randoPreset", _id="randoPreset", value=session.extStats["randoPreset"], _class="chzn-select", _onchange="loadRandoPreset()"))}}</td>
          <td id="randoPresetStep"><button type="button" onclick="startTheTour(event)">?</button></td>
          <td>Skills Preset:</td>
          <td>{{=SELECT(OPTGROUP(*stdPresets, **dict(_label="Standard presets")), OPTGROUP(*tourPresets, **dict(_label="Tournament presets")), **dict(_name="preset", _id="preset", value=session.extStats["preset"], _class="chzn-select"))}}</td>
          <td id="presetStep"><button type="button" onclick="startTheTour(event)">?</button></td>
          <td>{{=INPUT(_type="submit", _value="Load", _name="action", _class="btn btn-default")}}</td>
        </tr>
      </table>
    </form>
{{
  # python functions
  # to display the limits
  def getThreshold(ratio, nSeeds, split):
      if split == 'Major':
          nLocs = 34
      elif split == 'Chozo':
          nLocs = 25
      else:
          nLocs = 100
          pass

      percent = ratio * (100.0 / nLocs)
      return round(percent, 1)

  def displayHeader():
}}
    <tr class="border">
      <th class="border">Location</th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Missile.png" alt="Missile.png" title="Missile.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Super.png" alt="Super.png" title="Super.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/PowerBomb.png" alt="PowerBomb.png" title="PowerBomb.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Morph.png" alt="Morph.png" title="Morph.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Bomb.png" alt="Bomb.png" title="Bomb.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/SpringBall.png" alt="SpringBall.png" title="SpringBall.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/ScrewAttack.png" alt="ScrewAttack.png" title="ScrewAttack.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Varia.png" alt="Varia.png" title="Varia.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Gravity.png" alt="Gravity.png" title="Gravity.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/HiJump.png" alt="HiJump.png" title="HiJump.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/SpaceJump.png" alt="SpaceJump.png" title="SpaceJump.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/SpeedBooster.png" alt="SpeedBooster.png" title="SpeedBooster.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Charge.png" alt="Charge.png" title="Charge.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Ice.png" alt="Ice.png" title="Ice.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Wave.png" alt="Wave.png" title="Wave.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Spazer.png" alt="Spazer.png" title="Spazer.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Plasma.png" alt="Plasma.png" title="Plasma.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/Grapple.png" alt="Grapple.png" title="Grapple.png" class="centerIcon"/></th>
      <th class="border"><img src="/solver/static/images/tracker/inventory/XRayScope.png" alt="XRayScope.png" title="XRayScope.png" class="centerIcon"/></th>
    <tr>
{{
    pass

  # percent: item percent for the location
  # nSeeds: total number of seeds
  # split: preset's split
  def getColor(percent, nSeeds, split):
      percent = float(percent)
      if percent == 0.0:
        return "none"

      # possible locs for the item TODO : take into account restrictions (suits, morph)
      if split == 'Major':
          nLocs = 34
      elif split == 'Chozo':
          nLocs = 25
      else:
          nLocs = 100
          pass

      expectedPercent = 100.0 / nLocs
      ratio = percent / expectedPercent

      if ratio < 0.33:
        return "red"
      elif ratio < 0.5:
        return "yellow"
      elif ratio < 2.0:
        return "green"
      elif ratio < 3.0:
        return "yellow"
      else:
        return "red"
      pass

  def getGradient(percent):
    # 0 -> 100 to 255 -> 127
    b = int((100 - percent) * 1.275) + 127
    h = hex(b)
    # remove '0x' in front
    h = h[2:]
    return h if len(h) == 2 else '0'+h
}}
{{
if itemsStats != None and len(itemsStats) == 0:
  response.write("No statistics found.", escape=False)
elif itemsStats != None and len(itemsStats) > 0:
  numberSeeds = float(itemsStats[0][0])
}}
  <!--
      ItemsStats is a matrix, on line per item, columns are (count, item, loc1%, loc2%, ..., loc100%)
      Items are in this order: Bomb 0, Charge 1, Grapple 2, Gravity 3, HiJump 4, Ice 5, Missile 6, Morph 7, Plasma 8, PowerBomb 9, ScrewAttack 10, SpaceJump 11, Spazer 12, SpeedBooster 13, SpringBall 14, Super 15, Varia 16, Wave 17, XRayScope 18
      Locations are in the same order as the graph_locations.locations list.
    -->
  <h2 class="center">Items</h2>
  <div class="space"></div>
  <p>
    <div class="left">Statistics have been computed on {{=int(numberSeeds)}} seeds. Minors probabilities are only for the first ammo pack.</div>
    <div class="right">Legend: &nbsp;
      <table class="right">
        <tr>
          <td class="border">0.0</td>
          <td class="border red"><{{=getThreshold(0.33, numberSeeds, majorsSplit)}}</td>
          <td class="border yellow"><{{=getThreshold(0.5, numberSeeds, majorsSplit)}}</td>
          <td class="border green">>{{=getThreshold(0.5, numberSeeds, majorsSplit)}} <{{=getThreshold(2.0, numberSeeds, majorsSplit)}}</td>
          <td class="border yellow">>{{=getThreshold(2.0, numberSeeds, majorsSplit)}}</td>
          <td class="border red">>{{=getThreshold(3.0, numberSeeds, majorsSplit)}}</td>
        </tr>
      </table>
    </div>
  </p>
  <table class="full border">
    <colgroup><col class="quarter"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><col class="icon"/><!--<col class="icon"/><col class="icon"/>--></colgroup>

{{
    # the items display order:
    #              Missile, Super, PowerBomb,  morph, bomb, springball, screwattack, varia, gravity, hijump, spacejump, speedbooster, charge, ice, wave, spazer, plasma, grapple, xrayscope
    itemsMapping = [     6,    15,         9,      7,    0,         14,          10,    16,       3,      4,        11,           13,      1,   5,   17,     12,      8,       2,        18]

    percentTotalSum = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

    # areas: crateria / brinstar / wrecked ship / maridia / norfair / lower norfair
    for area in ["Crateria", "Brinstar", "WreckedShip", "Maridia", "Norfair", "LowerNorfair"]:
      percentSum = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

      response.write("<tr><td class=\"center grey bold\" colspan=\"20\">{}</td></tr>\n".format(area), escape=False)
      displayHeader()

      for locI, loc in enumerate(locations, start=2):
        if loc.isBoss():
          continue

        if area == "Brinstar":
          if loc.GraphArea not in ["GreenPinkBrinstar", "Kraid", "RedBrinstar"]:
            continue
          else:
            pass
        elif loc.GraphArea != area and not (area == "Norfair" and loc.GraphArea == "Crocomire") and not (area == "Maridia" and loc.GraphArea in ["WestMaridia", "EastMaridia"]):
          continue

        response.write("<tr><td><a href=\"https://wiki.supermetroid.run/{}\" target=\"_blank\">{}</a></td>".format(loc.Room.replace(' ', '_').replace("'", '%27'), loc.Name), escape=False)

        for itemI, item in enumerate(["Missile", "Super", "PowerBomb", "Morph", "Bomb", "Springball", "ScrewAttack", "Varia", "Gravity", "HiJump", "SpaceJump", "SpeedBooster", "Charge", "Ice", "Wave", "Spazer", "Plasma", "Grapple", "XRayScope"]):
          percent = itemsStats[itemsMapping[itemI]][locI]
          if item in ["Missile", "Super", "PowerBomb"]:
            if float(percent) > 0.0:
              color = "minor"
            else:
              color = "none"
              pass
          else:
            color = getColor(percent, numberSeeds, majorsSplit)
            pass

          response.write("<td class=\"border {}\">{}</td>".format(color, percent), escape=False)
          percentSum[itemsMapping[itemI]] += percent
          percentTotalSum[itemsMapping[itemI]] += percent
          pass

        response.write("</tr>\n", escape=False)
        pass
      response.write("<tr><td class=\"bold\">Area Total</td>\n", escape=False)
      for itemI, item in enumerate(["Missile", "Super", "PowerBomb", "Morph", "Bomb", "Springball", "ScrewAttack", "Varia", "Gravity", "HiJump", "SpaceJump", "SpeedBooster", "Charge", "Ice", "Wave", "Spazer", "Plasma", "Grapple", "XRayScope"]):
        response.write("<td class=\"border\">{}</td>".format(percentSum[itemsMapping[itemI]]), escape=False)
        pass
      response.write("</tr>\n", escape=False)
      pass

    response.write("<tr><td class=\"center grey bold\" colspan=\"20\">Total</td></tr>\n", escape=False)
    response.write("<tr><td class=\"bold\"></td>\n", escape=False)
    for itemI, item in enumerate(["Missile", "Super", "PowerBomb", "Morph", "Bomb", "Springball", "ScrewAttack", "Varia", "Gravity", "HiJump", "SpaceJump", "SpeedBooster", "Charge", "Ice", "Wave", "Spazer", "Plasma", "Grapple", "XRayScope"]):
      response.write("<td class=\"border\">{}</td>".format(percentTotalSum[itemsMapping[itemI]]), escape=False)
      pass
    response.write("</tr>\n", escape=False)
}}
  </table>
    <div class="space"></div>
    <h2 class="center">Techniques</h2>
    <div class="space"></div>
    <div class="row">
{{
    for (i, category) in enumerate(categories["Common"] + categories["Crateria/Brinstar"] +
                                   categories["Wrecked Ship"] + categories["Maridia 1/2"] +
                                   categories["Maridia 2/2"] + categories["Upper Norfair"] + categories["Lower Norfair"] + categories["Bosses/End"] +
                                   [{"knows": ["HardRoom-Gauntlet", "HardRoom-X-Ray"], "title": "Hard rooms"},
                                    {"knows": ["IceHellRun", "MainUpperNorfairHellRun", "LowerNorfairHellRun"], "title": "Hellruns"}], -1):
      if category["title"] == "Basics":
        continue

      #response.write("c: {}".format(category), escape=False)

      if i > 0 and i % 3 == 0:
}}
    </div>
    <div class="row">
{{
        pass
}}
      <div class="columnThird">
        <table class="full border">
          <colgroup><col class="threequarter"/><col class="quarter"/></colgroup>
          <tr><td class="center grey bold" colspan="2">{{=category["title"]}}</td></tr>
{{
      for know in category["knows"]:
        if know in techniquesStats:
          percent = float(techniquesStats[know])
        else:
          percent = 0.0
          pass
        if know not in knowsDesc:
          # hard rooms and hellruns
          display = know
        elif knowsDesc[know]['href'] is not None:
          display = "<a href=\"{}\" target=\"_blank\">{}</a>".format(knowsDesc[know]["href"], knowsDesc[know]["display"])
        else:
          display = knowsDesc[know]["display"]
          pass
        if percent == 0.0:
          style = ""
        else:
          style = 'style="background-color:#{}ff00;"'.format(getGradient(percent))
          pass
        strike = ""
        if know in skillPresetContent["Knows"]:
          if skillPresetContent["Knows"][know][0] == False:
            strike = "strike"
            pass
        elif category["title"] == "Hellruns":
          hellrunName = know[:-len("HellRun")]
          hellrunValue = skillPresetContent["Settings"][hellrunName]
          if hellrunValue == "No thanks" and hellrunName in ("Ice", "MainUpperNorfair"):
            strike = "strike"
          elif hellrunValue == "Default" and hellrunName == "LowerNorfair":
            strike = "strike"
            pass
          pass
}}
          <tr class="border"><td class="border {{=strike}}">{{response.write(display, escape=False)}}</td><td {{response.write(style, escape=False)}} class="border {{=strike}}">{{=percent}}</td></tr>
{{
        pass
}}
        </table>
      </div>
{{
      pass
}}
    </div>
    <div id="difficultiesHistogram" style="height: 400px; margin: 0 auto"></div>
{{
  if "avgLocs" in solverStats:
}}
    <p>When solving the seed we count at each step how many locations are available for next choice, then we keep the average value. The higher average of available locations the more open the seed is.</p>
    <div id="avgLocsHistogram" style="height: 400px; margin: 0 auto"></div>
{{
    pass
  if "open" in solverStats:
}}
    <p>When solving the seed we count when we can reach 1/4, 1/2, 3/4 and all the locations, this gives the distribution of progression items. The sooner we reach this milestones the freer the seed is.</p>
    <div id="opennessHistogram" style="height: 400px; margin: 0 auto"></div>
{{
    pass
  pass
}}
  </div>
</div>
