{{extend 'layout.html'}}

<meta name="description" content="Super Metroid VARIA Randomizer, Solver and Tracker"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>

<title>Super Metroid VARIA Randomizer, Solver and Tracker</title>

<style>
{{include 'solver_web/varia.css'}}
td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;

    border: 0px solid #ddd;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}
.league {
    position: absolute;
    z-index:2;
    width: 30%;
    top: 0%;
    right: 0%;

}
.leagueImg {
    width: 100%;
    height: auto;
}
.main {
    margin-top: 1.5em;
}
.cr {
  width: 300px;
  padding-top: 16px;
  padding-left: 30px;
  padding-bottom: 8px;
  padding-right: 32px;
  text-align: center;
}

.cr-sticky {
  position: fixed;
}
.cr-top {
  top: 28px;
}
.cr-left {
  left: -100px;
}
.cr-top.cr-left {
  transform: rotate(-45deg);
}
.cr-orange {
  background-color: #FDCF1E;
}
</style>


<div class="fixed">
  <div class="menu">
    <table class="full menuTable">
      <tr>
        <td class="menu_selected">{{=A("Home", _href=URL(f="home"), _class="menu")}}</td>
        <td>{{=A("Presets", _href=URL(f="presets"), _class="menu")}}</td>
        <td>{{=A("Randomizer", _href=URL(f="randomizer"), _class="menu")}}</td>
        <td>{{=A("Solver", _href=URL(f="solver"), _class="menu")}}</td>
        <td>{{=A("Tracker", _href=URL(f="tracker"), _class="menu")}}</td>
        <td>{{=A("Plandomizer", _href=URL(f="plando"), _class="menu")}}</td>
        <td>{{=A("Plandository", _href=URL(f="plandorepo"), _class="menu")}}</td>
        <td>{{=A("Customizer", _href=URL(f="customizer"), _class="menu")}}</td>
        <td>{{=A("Statistics", _href=URL(f="extStats"), _class="menu")}}</td>
        <td>{{=A("Information & Contact", _href=URL(f="infos"), _class="menu")}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="main">
  <div class="league">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="J6BEK8K8LVG7Y" />
      <input class="leagueImg" type="image" src="/solver/static/images/home/donate.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_FR/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
  <div class="cr cr-top cr-left cr-sticky cr-orange"><a href="/infos#latest" target="_blank" style="color: #000;">Latest release:<br/>2023/07/17<br/>What's new ?</a></div>
  <div class="center">
    <img src="/solver/static/images/home/logo_varia.png" alt="logo" class="threequarter">
  </div>
  <h3 class="center">Welcome to Very Adaptive Randomizer of Items and Areas for Super Metroid</h3>
  <p>
  Here, you will be able to generate as many VARIAtions of Super Metroid as you want, by Randomizing Item locations, and even the connections between the main Areas!<br/>If you're not an uberskilled speedrunner, have no fear, neither are we. It is Very Adaptive to all skill levels, and you are guaranteed to be able to finish a randomized ROM, granted that you create your skill preset, or use a standard one in your range.<br/>
  To help you find your way in these sometimes not so easy randomized ROMs (aka 'seeds') you will be able to use a Solver, to estimate the seed's difficulty or have a full spoiler log. Even better, you can use the interactive Item Tracker to help you as you play along. For area-randomized seeds, the Tracker can also be used in a simpler way just to help you keep track of the area connections without any additional help.
  </p>
  <table>
    <tr>
      <td class="half">
        <a href="/presets"><h4>Presets</h4></a>
        <ul>
          <li>At the center of the VARIA experience is the preset</li>
          <li>All the techniques which can be required in a seed are listed</li>
          <li>For each technique you can tell if you know it and your perceived difficulty of it</li>
          <li>Also take into account hell runs (going into heated rooms without protection), hard rooms (Gauntlet, Xray) and bosses</li>
          <li>Standards presets of increasing difficulty are included, as a base to create your own</li>
          <li>A skill level bar allows you to compare your preset to the standard and community presets</li>
          <li>Tutorials are available for most of the techniques</li>
          <li>The rooms where the techniques can be used are listed</li>
          <li>Put your gamepad mapping in your preset</li>
        </ul>
      </td>
      <td class="half">
        <a href="/randomizer"><h4>Randomizer</h4></a>
        <ul>
          <li>Use your preset to generate seeds that will only require techniques you know</li>
          <li>Full item randomization, majors/minors randomization, Chozo split (required items to finish the game are located in Chozo statues), Scavenger Hunt (collect major items in a required order)</li>
          <li>Areas/Bosses randomization: randomize the access between the main areas of the game and/or the bosses doors</li>
          <li>Start Location: choose or randomize where you want to start the game</li>
          <li>Doors colors: randomize the color of colored doors, add beams doors in the mix</li>
          <li>Objectives: choose or randomize goals to access the end, and endgame behavior with Tourian</li>
          <li>Different progression speeds, from slowest, stuffing your way with as many non-progression items as possible, to fastest, where you will be able to visit Zebes pretty shortly</li>
          <li>Choose the quantity and distribution of minors and energy</li>
          <li>Super Fun Times: Have fun randomly removing major items!</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="half">
        <a href="/solver_web/solver"><h4>Solver</h4></a>
        <ul>
          <li>Using your preset you can check if you can finish a seed (VARIA/Dessy/Total randomizers are supported) and get a difficulty estimation</li>
          <li>Display an optional spoiler giving you a realistic path to follow to finish the seed</li>
          <li>All the techniques and items used to reach a location are displayed</li>
          <li>You can click on an item to highlight all occurences of it in the spoiler for easy spotting</li>
          <li>The solver can collect all items or only the minimum required</li>
        </ul>
      </td>
      <td class="half">
        <a href="/tracker"><h4>Areas and Items Tracker</h4></a>
        <ul>
          <li>Auto tracker: connect your emulator/sd2snes/snes mini to let the tracker updates itself automatically</li>
          <li>Area tracker: add lines between the area portals when playing an Area randomized seed</li>
          <li>Interactive Item tracker: the available locations are displayed on the map, click on them to collect the item and display the next available locations</li>
          <li>Trackers states are saved automatically, allowing you to finish your seed in multiple seatings</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="half">
        <a href="/plando"><h4>Areas and Items Plandomizer</h4></a>
        <ul>
          <li>Items Plandomizer: Manually place items to create you own Plando seed in graphical/interactive mode</li>
          <li>Areas/Bosses/Doors Plandomizer: Choose the connections between areas/bosses doors, choose doors colors in your Plando seed</li>
          <li>Plando/Rando: partially populate your plando, and let the randomizer fill in the gaps</li>
        </ul>
      </td>
      <td class="half">
        <a href="/customizer"><h4>Seed Customizer</h4></a>
        <ul>
	  <li>Add comfort patches</li>
          <li>Randomize in-game colors</li>
          <li>Replace Samus sprite or ship with a custom one (some with custom items names)</li>
	  <li>Replace in-game music by custom tracks, or randomize the vanilla soundtrack</li>
        </ul>
      </td>
    </tr>
  </table>
</div>
