{{extend 'layout.html'}}

<meta name="description" content="Solver for the randomized Super Metroid roms"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<link rel="stylesheet" type="text/css" href={{=URL('static/css','mystyle_20180908.css')}} media="screen"/>

<title>Super Metroid VARIA Randomizer and Solver</title>

<style>
body {
    padding-top: 1em;
}
blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}
blockquote.style1 span {
     display: block;
     background-image: url(images/closequote1.gif);
     background-repeat: no-repeat;
     background-position: bottom right;
}
td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;

    border: 1px solid #ddd;
}
</style>

<body>
  <div class="fixed">
    <div class="menu">
      {{=A("Super Metroid VARIA Randomizer and Solver", _href=URL(f="home"), _class="menu_selected")}}
      {{=A("Presets", _href=URL(f="presets"), _class="menu")}}
      {{=A("Randomizer", _href=URL(f="randomizer"), _class="menu")}}
      {{=A("Solver", _href=URL(f="solver"), _class="menu")}}
      {{=A("Information & Contact", _href=URL(f="infos"), _class="menu")}}
    </div>
  </div>
  <h2 class="center">Welcome to the home of the VARIA (Very Adaptive Randomizer of Items and Areas) Randomizer and Solver</h2>
  <p class="center">
    <img src="/solver/static/images/super_metroid_logo.png" alt="logo">
  </p>
  <p>
    <h3>Adam 1:1-3</h3>
    <blockquote>
      1 In the beginning was the Preset, and the Preset was with Old Bird, and the Preset was Old Bird.<br/>
      2 He was with Old Bird in the beginning.<br/>
      3 Through him all things were made; without him nothing was made that has been made.<br/>
    </blockquote>
  <p>
  <p>
    The VARIA website is divided in three parts:
    <ul>
      <li>manage your preset</li>
      <li>generate randomized Super Metroid ROMs</li>
      <li>solve randomized Super Metroid ROMs (from VARIA/Total/Dessy randomizers)</li>
    </ul>
  </p>
  <table>
    <tr>
      <td class="third">
	<p>
	  At the center of the VARIA experience is the preset.<br/>
	  A preset contains the list of all the techniques that you know in Super Metroid with your perceived difficulty.
	</p>
	<p>
	  To create and manage your preset click on <a href="{{=URL(f='presets')}}">Presets</a>.
	</p>
      </td>
      <td class="third">
	<p>
	  Use your preset to generate randomized Super Metroid ROMs that will only required techniques that you know.</br>
	  The items locations are randomized, you can also randomize accesses between areas.<br/>
	  To randomize a ROM with the VARIA Randomizer click on <a href="{{=URL(f='randomizer')}}">Randomizer</a>.
	</p>
      </td>
      <td class="third">
	<p>
	  Using your preset you can check if you can finish a Super Metroid randomized ROM and get an estimation of the difficulty.<br/>
	  The Solver also provides a spoiler path to follow will the techniques/items used at each locations.<br/>
	  To solve a Super Metroid randomized ROM click on <a href="{{=URL(f='solver')}}">Solver</a>.
	</p>
      </td>
    </tr>
  </table>
</body>
