{{extend 'layout.html'}}

<meta name="description" content="Solver for the randomized Super Metroid roms"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<link rel="stylesheet" type="text/css" href={{=URL('static/css','mystyle_20180928.css')}} media="screen"/>

<title>Super Metroid VARIA Randomizer and Solver</title>

<style>
td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;

    border: 0px solid #ddd;

    vertical-align: top;

/*    background-color: #000000;
}
body {
    background-color: #000000;
    color: white;
*/
}
</style>


<div class="fixed">
  <div class="menu">
    {{=A("Home", _href=URL(f="home"), _class="menu_selected")}}
    {{=A("Presets", _href=URL(f="presets"), _class="menu")}}
    {{=A("Randomizer", _href=URL(f="randomizer"), _class="menu")}}
    {{=A("Solver", _href=URL(f="solver"), _class="menu")}}
    {{=A("Trackers", _href=URL(f="tracker"), _class="menu")}}
    {{=A("Information & Contact", _href=URL(f="infos"), _class="menu")}}
  </div>
</div>
<div class="main">
  <p class="center">
    <img src="/solver/static/images/super_metroid_logo.png" alt="logo" class="half">
  </p>
  <h2 class="center">Welcome to the home of the VARIA (Very Adaptive Randomizer of Items and Areas) Randomizer, Solver and Trackers</h2>
  <table>
    <tr>
      <td class="half">
	<h4>Presets</h4>
	<ul>
	  <li>At the center of the VARIA experience is the preset</li>
	  <li>All the techniques which can be required in a randomized Super Metroid ROM are listed</li>
	  <li>For each technique you can tell if you know it and your perceived difficulty</li>
	  <li>Also take into account the hard rooms (Gauntlet, Xray) and the bosses</li>
	  <li>Standards presets of increased difficulty are included, as a base to create your one</li>
	  <li>A skill level bar allow you to compare your preset to the standards and community presets</li>
	  <li>Tutorial available for most of the techniques</li>
	  <li>The rooms where the technique can be used are listed</li>
	  <li>Put your gamepad mapping in your preset</li>
	</ul>
      </td>
      <td class="half">
	<h4>Randomizer</h4>
	<ul>
	  <li>Use your preset to generate randomized Super Metroid ROMs that will only required techniques that you know</li>
	  <li>Full item randomization (like Dessy) or majors/minors randomization (like Total)</li>
	  <li>Area randomization: randomize the access between the main areas of the game</li>
	  <li>Different progression speed, from slowest, stuffing your way with as many non-progression items as possible, to fastest, where you will be able to visit Zebes pretty shortly</li>
	  <li>Choose the distribution of minors</li>
	  <li>Choose the quantity of minors and energy</li>
	  <li>Various optional patches are available to enhance the gameplay</li>
	  <li>Super Fun Times: Have fun randomly removing major item</li>
	</ul>
      </td>
    </tr>
    <tr>
      <td class="half">
	<h4>Solver</h4>
	<ul>
	  <li>Using your preset you can check if you can finish a Super Metroid randomized ROM (Dessy/Total/VARIA randomizers are supported) and get an estimation of the difficulty.</li>
	  <li>Display an optional spoiler giving you a realistic path to follow to finish the seed.</li>
	  <li>All the techniques and items used to reach a location are displayed</li>
	  <li>You can click on an item to highlight all occurences of it in the spoiler for easy spotting</li>
	  <li>The solver can collect all items or only the minimal required</li>
	  <li>Give a maximum difficulty for visiting locations</li>
	</ul>
      </td>
      <td class="half">
	<h4>Area and Item Trackers</h4>
	<ul>
	  <li>Area tracker: add lines between the area portals when playing an Area randomized seed</li>
	  <li>Interactive Item tracker: the available locations are displayed on the map, click on them to collect the item and display the next available locations</li>
	  <li>The current state of the trackers is automatically saved, allowing you to finish your seed in multiple seatings</li>
	</ul>
      </td>
    </tr>
  </table>
</div>
