{{extend 'layout.html'}}

<meta name="description" content="Solver for the randomized Super Metroid roms"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<title>Super Metroid Item Randomizer Solver</title>

<style>
  a:link {color: SteelBlue;}
  a:visited {color: gray;}
  .web2py-menu-active {border: 2px solid gray;
                       border-radius: 12px;}
</style>

<body>

  <h2></h2>

  There are two items randomizers for Super Metroid:
  <ul>
    <li><a href="https://itemrando.supermetroid.run/randomize">The tournament randomizer (online)</a></li>
    <li><a href="https://dessyreqt.github.io/smrandomizer/">Dessyreqt randomizer</a></li>
  </ul>

  <h2>Source Code of the solver</h2>

  The source code is available on <a href="https://github.com/theonlydude/RandomMetroidSolver">GitHub</a>

  <h2>Thanks to</h2>

  Huge thanks to the people who developped the Super Metroid randomizers.

  <h2>Contact</h2>

  If you want to contact the developers about any issues or suggestions you may do so at the <a href="https://github.com/theonlydude/RandomMetroidSolver/issues">GitHub Issues page</a>. 

</body>
