<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>

<body>
  <a class="navbar-brand" href="#">Super Metroid Item Randomizer Solver</a>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href={{=URL(f='solver')}}>Solve!</a></li>
      <li><a href={{=URL(f='infos')}}>Information & Contact</a></li>
    </ul>
  </div>

  <hr>

<h2>Source Code</h2>

<a href="https://github.com/theonlydude/RandomMetroidSolver">https://github.com/theonlydude/RandomMetroidSolver</a>

<h2>Thanks to</h2>

Huge shoutout and thanks to the "Super Metroid Item Randomizer" team for their work on the randomizer, without that this would not be a thing at all.</br>
You can find their randomizer here: <a href="https://supermetroid.run/">Super Metroid Randomizer</a>

<h2>Contact</h2>

If you want to contact the developers about any issues or suggestions you may do so at the <a href="https://github.com/theonlydude/RandomMetroidSolver/issues">GitHub Issues page</a>. 

</body>
