{{extend 'layout.html'}}

{{include 'solver_web/t_includes.html'}}

<title>Super Metroid VARIA Plandomizer</title>

<style>
{{include 'solver_web/t_style.html'}}

#hideRandoOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 6;
    cursor: pointer;
}
.repeatArea {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 0.5%;
    left: 11.875%;
}
.binArea {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 0.5%;
    left: 14.625%;
}

.titlePlando {
    position: absolute;
    z-index: 7;
    width: 10%;
    height: 3.75%;
    top: 5.25%;
    left: 4.3%;
    color: #ffffff;
    font-size: 1.25vw;
    font-weight: bold;
}
.startPlando {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 4.75%;
    left: 10.5%;
}
.repeatPlando {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 4.75%;
    left: 13.25%;
}
.binPlando {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 4.75%;
    left: 16%;
}
.savePlando {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 4.75%;
    left: 18.75%;
}
.randoPlando {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 0.50%;
    left: 18.75%;
}
.lockPlando {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 9%;
    left: 18.75%;
}
.helpPlando {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 0.5%;
    left: 2.75%;
}
.startDebug {
    cursor: pointer;
    position: absolute;
    z-index: 7;
    width: 2.5%;
    height: 3.75%;
    top: 0.5%;
    left: 97.4%;
    display: none;
}
.popupButton {
    cursor: pointer;
    height: 3em;
    width: 3em;
}
.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.debugPopup {
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    height: auto;
    top: 17%;
    left: 51%;
    display: none;
    padding: 0.5%;
    border: 2px solid gray;
    opacity: 0.8;
}
.gotoAction {
    width: 4em;
}
.timer {
    position: absolute;
    z-index: 7;
    /* width: 2.5%; */
    /* height: 3.75%; */
    top: 29.3%;
    left: 22%;
}
.rightMargin {
    margin-right: 0.75em;
}
</style>

<script type="text/javascript">
var globalPlando = true;

function initCurMode() {
  document.getElementById("mode").value = "plando";
}

{{include 'solver_web/t_js.html'}}

var g_lock = "save";
function save(lock) {
  if(loaded == false || webServInProgress == true || init == false) {
    return;
  }
  if(! isActive("savePlando")) {
    return;
  }

  if(lock == "save") {
    g_lock = "save";
  } else if(lock == "lock") {
    g_lock = "lock";
  } else {
    lock = g_lock;
  }

  // check if escape rando is on that tourian transition is set, display an alert otherwise
  if(escapeRando == true && !("tourianEscapeRoom4TopRight" in lines)) {
    alert("Tourian escape transition is not set, you have to set it before playing or the game will crash during the escape sequence");
  }

  var dataDict = {action: "save", scope: "common", lock: g_lock};
  var uploadFile = document.getElementById("uploadFile");
  if(uploadFile.files.length == 0) {
    var saveFile = document.getElementById("saveFile");
    if(saveFile.files.length == 0) {
      // display popup to choose the local ROM
      document.getElementById("savePopup").style.display = "block";
    } else {
      // call WS
      ajaxCall(dataDict, "download", ajaxOkSave);
    }
  } else {
    // call WS
    ajaxCall(dataDict, "download", ajaxOkSave);
  }
}

function randomize() {
  if(loaded == false || webServInProgress == true || init == false) {
    return;
  }
  if(! isActive("randoPlando")) {
    return;
  }

  $('#overlay').show();
  $('#loadingGIF').show();

  var data = {action: "randomize", scope: "common"};

  var elems = ["minorQty", "energyQty"];

  for(var i=0; i<elems.length; i++) {
    data[elems[i]] = document.getElementById(elems[i]).value;
  }

  var forbiddenId = ["Charge", "Ice", "Wave", "Spazer", "Plasma", "Varia", "Gravity", "Morph", "Bomb", "SpringBall", "ScrewAttack", "HiJump", "SpaceJump", "SpeedBooster", "Grapple", "XRayScope", "ETank", "Reserve", "Missile", "Super", "PowerBomb"];
  var forbiddenItems = [];
  for(var i=0; i<forbiddenId.length; i++) {
    if(document.getElementById(forbiddenId[i]+"_bool").checked) {
      forbiddenItems.push(forbiddenId[i]);
    }
  }
  data["forbiddenItems"] = forbiddenItems.join();

  // call WS
  ajaxCall(data, "download", ajaxOkRandomizer);
  hideRandoPopup();
}

function ajaxOkRandomizer(jsonData, status, dummy) {
  // if checkbox checked and randomization ok
  if(document.getElementById("hideRando").checked && jsonData["errorMsg"] == "") {
    $('#hideRandoOverlay').show();
  }

  ajaxOkGet(jsonData, status, dummy);
}

function unpack_3bytes(ips, i) {
  var b1 = ips[i];
  var b2 = ips[i+1];
  var b3 = ips[i+2];
  return (b1*65536) + (b2*256) + b3;
}

function unpack_2bytes(ips, i) {
  var b1 = ips[i];
  var b2 = ips[i+1];
  return (b1*256) + b2;
}

function ajaxOkSave(data) {
  webServInProgress = false;

  console.log("ajaxSaveOk");

  var uploadFile = document.getElementById("uploadFile");
  if(uploadFile.files.length == 0) {
    uploadFile = document.getElementById("saveFile");
  }

  var file = uploadFile.files[0];

  var reader = new FileReader();
  reader.readAsArrayBuffer(file)

  reader.onload = function(e) {
      var bytes = new Uint8Array(e.target.result);

      var binary_string = atob(data["ips"]);
      var len = binary_string.length;
      var ips = new Uint8Array(len);
      for(var i = 0; i < len; i++) {
         ips[i] = binary_string.charCodeAt(i);
      }

      console.log("IPS size: "+ips.length);
      var i = 5;
      var offset = 0;
      var size = 0;
      var rle_size = 0;

      while(i < ips.length - 3) {
         offset = unpack_3bytes(ips, i);
         i += 3;
         size = unpack_2bytes(ips, i);
         i += 2;

         if(size == 0) {
           // RLE
           rle_size = unpack_2bytes(ips, i);
           i += 2;
           for(j=0; j<rle_size; j++) {
             bytes[offset+j] = ips[i];
           }
           i += 1;
         } else {
           for(j=0; j<size; j++) {
             bytes[offset+j] = ips[i+j];
           }
           i += j;
         }
      }

      var blob = new Blob([bytes], {type: "octet/stream"})

      var outFileName = data['fileName']
      saveAs(blob, outFileName)
  }

  // info message to display ?
  if("errorMsg" in data && data["errorMsg"].length > 0) {
    document.getElementById("flash").innerHTML = data["errorMsg"];
    $('#flash').show();
  }

  setWSIcon("checkmark");
  hideSavePopup();
}

function hideSavePopup() {
  document.getElementById("savePopup").style.display = "none";
}

function hideRandoPopup() {
  document.getElementById("randomizerPopup").style.display = "none";
}


//-----------------------------------------------------------
// TUTORIAL

function startTheTour(step=-1) {
  // the tour tutorial
  var tour = new Tour({
    storage: false,
    steps: [{
      element: "#helpPlando",
      title: "VARIA Plando Generator",
      content: "<h2 class=\"center\">Welcome to the VARIA Plando Generator</h2>\
<p>The Plando (a Plando is a Super Metroid seed with manually placed items) Generator allows you to create your own Plando in interactive mode.</p>\
<p>Please check the help on the <a href=\"{{=URL(f="tracker")}}\" target=\"_blank\">Tracker page</a> first, since the Plandomizer interface is based on the Tracker interface.</p>\
<h4>Start</h4>\
<p>To use it, click on the <img src=\"/solver/static/images/play.svg\" alt=\"Start\" style=\"width: 32px\"> button, a popup will be displayed:\
</p>\
<p>As a base for your Plando ROM generate a seed on the <a href=\"/randomizer\" target=\"_blank\">Randomizer page</a> with all the optional patches that you need and the start location of your choice.</p>\
<p><b>Hint:</b>You can load the base ROM locations and transitions by checking the \"Populate your plando with the items and transitions from the base ROM\" checkbox.</p>\
<p><b>Warning:</b>Using a race protected seed as your base ROM is not supported and is forbidden.</p>\
<p><b>Warning:</b>To avoid incompatibilities and crashes always use a base seed from the current VARIA release.</p>\
<p><b>Note:</b> Don't use a sprite customized seed as your base if you want to upload your plando to the <a href=\"{{=URL(f="plandorepo")}}\" target=\"_blank\">Plandository</a> later.</p>\
<h4>Usage</h4>\
<p>The available locations will be displayed on the map, click on a location and this popup will be displayed allowing you to choose which item to place:\
<img src=\"/solver/static/images/item_popup.png\" alt=\"Rando popup\">\
</p>\
<p><b>Hint:</b>You can put the same major item at several locations.</p>\
<p><b>Hint:</b>You can hide a visible item by checking the 'Hide this item' checkbox in the popup.</p>\
<p>When you're done click on the <img src=\"/solver/static/images/save.svg\"alt=\"Save\" style=\"width: 32px\"> button to save the Plando ROM on your Computer. You can resume working on it later by uploading the saved Plando ROM.</p>\
\
<p><b>Hint:</b>You can change the item of a location by clicking on it to choose another item (<b>Warning:</b> it could make some previously accessible locations inaccessible. When reloading the saved plando ROM these locations will be displayed as sequence break).</p>\
<h4>Bosses</h4>\
<p>You have to click on a boss location to tell the plandomizer that you killed it, it'll open the locations which are only available after the boss' death (like \"Energy Tank, Kraid\" after killing Kraid).</p>\
<h4>Areas/Bosses Transitions</h4>\
<p>Choose an Areas and/or Bosses seed as your base ROM to use the Plando Generator in items and areas/bosses mode, aka you choose the transitions between the areas/bosses.<br/>\
<b>Hint:</b>You can mix Area portals <img src=\"/solver/static/images/portal.png\" alt=\"Portal\" style=\"width: 20px\"> and Boss portals <img src=\"/solver/static/images/portal_boss.png\" alt=\"Boss Portal\" style=\"width: 20px\">.<br/>\
Using a base seed with Escape randomization allows you to edit the escape transition (<img src=\"/solver/static/images/portal_escape.png\" alt=\"Escape Portal\" style=\"width: 20px\">), it must start from Tourian escape portal. You can also set the escape timer by entering the time in the input just under Tourian escape portal (displayed only when the base seed is an escape randomization one) (the am/pm is ignored).</p>\
<h4>Doors</h4>\
<p>Even if the base seed is not doors colors randomized the doors are displayed and you can click on them to display a popup to change their colors. Changing a door's color on a non doors colors randomized seed will set save / refill stations' doors to blue. For technical reasons you can't set a colored door to blue.</p>\
<h4>Unused locations/transitions</h4>\
<p>If you don't set an item to a location it'll be empty. Portals with no transitions will be looping on themselves.</p>\
<h4>Randomization</h4>\
<p>You can use the <img src=\"/solver/static/images/games.svg\" alt=\"Random\" style=\"width: 32px\"> button to let the VARIA Randomizer fill all the empty remaining locations of your plando.</p>\
<p>It'll display a popup where you can choose the Randomizer parameters, the speedrun progression speed is used to randomize (random fill).</p>\
<p>You can tell the randomizer to not add some items to the pool of items to randomize. Items already placed at locations in the plando are not concerned.</p>\
<p><b>Hint:</b>In areas/bosses mode you don't have to add all the transitions, the VARIA randomizer will limit itself to the connected locations (like a Minimizer).</p>\
<p><b>Hint:</b>You can add items in sequence break locations, the VARIA randomizer will fill in the gaps.</p>\
<h4>Lock</h4>\
<p>When your Plando seed is completed you can lock it (prevent it from being solved on the VARIA website, and not showing items in SMILE or other editors) if you want. To do so click on the <img src=\"/solver/static/images/locked.svg\" alt=\"Lock\" style=\"width: 32px\"> button.</p>\
<p><b>WARNING:</b>You won't be able to modify a locked seed, so save it with <img src=\"/solver/static/images/save.svg\"alt=\"Save\" style=\"width: 32px\"> first.</p>\
<h4>Thanks to</h4>\
<ul><li>Animated location icons by Djlo</li><li>Location icons from Alli_Cat's <a href='https://github.com/allibear17/Super-Metroid-Location-Tracker' target=\"_blank\">Location Tracker</a></li><li>G4 sprite from Crossproduct's <a href=\"https://www.twitch.tv/crossproduct\" target=\"_blank\">smrandohelper</a></li><li>Action icons from <a href='https://dryicons.com/icon-packs/stylistica-icons-set' target=\"_blank\">Dryicons</a></li></ul>"
    }]
  });

  // Initialize the tour
  tour.init();

  // Start the tour
  if(step != -1) {
    tour.goTo(step);
  }
  tour.start();
}

var debug = false;
var vcrData = [];
var vcrIndex = 0;

function onloadHook() {
  var url = window.location.pathname;
  if(url.includes("debug")) {
    debug = true;

    // make the debug button visible
    document.getElementById("startDebug").style.display = "block";
  }

  document.getElementById("startLocationVisibility").style.display = "none";

  var vcrFileInput = document.getElementById("vcrFile");
  vcrFileInput.addEventListener("change", function(event){
      var file = event.target.files[0];
      var reader = new FileReader();

      reader.onload = function(e) {
          // check vcr extention
          var re = /(?:\.([^.]+))?$/;
          var ext = re.exec(file.name)[1];
          if( ! (ext === "vcr") ) {
            document.getElementById("vcrFile").value = "";
            alert("Wrong extension: " + ext);
            return false;
          }

          var fileSize = file.size;
          if( fileSize > 1024*1024 ) {
            document.getElementById("vcrFile").value = "";
            alert("Wrong VCR file size: "+fileSize.toString());
            return false;
          }

          // string with the json
          var jsonStr = e.target.result;
          document.getElementById("vcrJson").value = jsonStr;
          console.log("loaded vcr: " + jsonStr);

          vcrData = JSON.parse(jsonStr);
          gotoStart(true);
          hidePlandoButtons();

          document.getElementById("gotoAction").setAttribute("max", vcrData.length);
      }

      reader.readAsText(file);

  }, false);

  dragElement(document.getElementById("debugPopup"), "VCRGrab");
  dragElement(document.getElementById("savePopup"), "SaveGrab");
  dragElement(document.getElementById("randomizerPopup"), "RandoGrab");
}

function hidePlandoButtons() {
  // to avoid using them in debug mode
  var plandoElems = ["repeatPlando", "binPlando", "savePlando", "lockPlando", "randoPlando", "repeatArea", "binArea"];
  for(var i=0; i<plandoElems.length; i++) {
    document.getElementById(plandoElems[i]).style.display = "none";
  }
}

function displayDebugPopup() {
  if(loaded == false || webServInProgress == true || init == false) {
    return;
  }
  document.getElementById("debugPopup").style.display = "block";
}

function hideDebugPopup() {
  document.getElementById("debugPopup").style.display = "none";
}

function loadNextAction(chained=false) {
  if(chained == true) {
    vcrIndex += 1;
  }

  // next action
  if(vcrIndex >= vcrData.length) {
    var msg = "the end";
  } else {
    var nextAction = vcrData[vcrIndex];
    var nextActionType = nextAction["type"];

    var msg = (vcrIndex+1) + "/" + vcrData.length + ": ";
    if(nextActionType == "rollback") {
      msg = msg + "Rollback " + nextAction["count"] + " locations";
    } else if(nextActionType == "location") {
      msg = msg + "Pick " + nextAction["item"] + " at " + nextAction["loc"];
    }
  }

  document.getElementById("nextAction").value = msg;

  // previous action
  if(vcrIndex == 0) {
    var msg = "start";
  } else {
    var prevAction = vcrData[vcrIndex-1];
    var prevActionType = prevAction["type"];

    var msg = (vcrIndex) + "/" + vcrData.length + ": ";
    if(prevActionType == "rollback") {
      msg = msg + "Rollback " + prevAction["count"] + " locations";
    } else if(prevActionType == "location") {
      msg = msg + "Pick " + prevAction["item"] + " at " + prevAction["loc"];
    }
  }

  document.getElementById("prevAction").value = msg;

  activateVCRButtons(vcrIndex, vcrData.length);
}

function activateVCRButtons(index, len) {
  // at start disable << and < buttons
  // at end disable > and >> buttons
  var backElems = ["start", "previous"];
  var nextElems = ["next", "end", "nextRollback"];
  if(index == 0) {
    for(var i=0; i<backElems.length; i++) {
      $("#"+backElems[i]).addClass("greyed");
    }
    for(var i=0; i<nextElems.length; i++) {
      $("#"+nextElems[i]).removeClass("greyed");
    }
  } else if (index == len) {
    for(var i=0; i<backElems.length; i++) {
      $("#"+backElems[i]).removeClass("greyed");
    }
    for(var i=0; i<nextElems.length; i++) {
      $("#"+nextElems[i]).addClass("greyed");
    }
  } else {
    for(var i=0; i<backElems.length; i++) {
      $("#"+backElems[i]).removeClass("greyed");
    }
    for(var i=0; i<nextElems.length; i++) {
      $("#"+nextElems[i]).removeClass("greyed");
    }
  }
  // goto X action button is never greyed
  $("#goto").removeClass("greyed");
}

function gotoStart(force=false) {
  if(force == false) {
    if(loaded == false || webServInProgress == true) {
      return;
    }

    if(isDesactivated("start")) {
      return;
    }
  }

  console.log("start button pushed");

  ajaxCall({action: "clear", scope: "item"}, "upload");
  vcrIndex = 0;
  loadNextAction();
}

function previousAction() {
  if(loaded == false || webServInProgress == true) {
    return;
  }

  if(isDesactivated("prevous")) {
    return;
  }

  console.log("previous button pushed");

  if(vcrIndex == 0) {
    return;
  } else {
    var nextAction = vcrData[vcrIndex-1];
    var nextActionType = nextAction["type"];

    if(nextActionType == "rollback") {
      if(ajaxChainedActions.length > 0) {
        alert("Can't rollback when there's already chained WS actions in progress");
        return;
      }

      var count = nextAction["count"];
      var curActionIndex = vcrIndex-2;
      console.log("rollback "+count+" from "+curActionIndex);
      for(var i=1; i<=count; i++) {
        console.log("rollback action: "+i);
        var prevAction = vcrData[curActionIndex];
        while(prevAction["type"] == "rollback") {
           console.log("rollback in a rollback: "+prevAction["count"]);
           curActionIndex -= prevAction["count"] + 1; // +1 because we don't count the rollback action
           prevAction = vcrData[curActionIndex];
        }

        var locISolver = prevAction["loc"];
        locISolver.replace(/[ ,()-]/g, '');

        ajaxChainedActions.push({action: "add", scope: "item", locName: locISolver, itemName: prevAction["item"]})
        console.log("pushed action: add/item/"+locISolver+"/"+prevAction["item"]);

        curActionIndex -= 1;
      }

      ajaxCallChained();
    } else if(nextActionType == "location") {
      ajaxCall({action: "remove", scope: "item"}, "upload");
    }
    vcrIndex -= 1;
    loadNextAction();
  }
}

function nextAction() {
  if(loaded == false || webServInProgress == true) {
    return;
  }

  if(isDesactivated("next")) {
    return;
  }

  console.log("next button pushed");

  if(vcrIndex >= vcrData.length) {
    return;
  } else {
    var nextAction = vcrData[vcrIndex];
    var nextActionType = nextAction["type"];

    if(nextActionType == "rollback") {
      ajaxCall({action: "remove", scope: "item", count: nextAction["count"]}, "upload");

      // console.log("rollback");

      vcrIndex += 1;
      loadNextAction();
    } else if(nextActionType == "location") {
      var locISolver = nextAction["loc"];
      locISolver.replace(/[ ,()-]/g, '');

      // console.log("locname: " + locISolver);

      ajaxCall({action: "add", scope: "item", locName: locISolver, itemName: nextAction["item"]}, "upload");

      vcrIndex += 1;
      loadNextAction();
    }
  }
}

function gotoEnd(stopAtNextRollback) {
  if(loaded == false || webServInProgress == true) {
    return;
  }

  if(isDesactivated("end")) {
    return;
  }

  console.log("end button pushed");

  if(ajaxChainedActions.length > 0) {
    alert("Can't move to the end there's already chained WS actions in progress");
    return;
  }

  pushActions(vcrData.length - vcrIndex, stopAtNextRollback);
}

function gotoX() {
  if(loaded == false || webServInProgress == true) {
    return;
  }

  if(isDesactivated("goto")) {
    return;
  }

  var gotoAction = document.getElementById("gotoAction").value;

  if(gotoAction > vcrData.length) {
    alert("Action "+gotoAction+" not found, only "+vcrData.length+" actions available");
    return;
  }

  if(ajaxChainedActions.length > 0) {
    alert("Can't move to action "+ gotoAction +" there's already chained WS actions in progress");
    return;
  }

  // reset to begining
  ajaxChainedActions.push({action: "clear", scope: "item"})
  vcrIndex = 0;

  // then iterate x actions
  pushActions(gotoAction);
}

function pushActions(len, stopAtNextRollback=false) {
  var endAction = vcrIndex + len;
  var tmpIndex = vcrIndex;

  while(tmpIndex < endAction) {
    var nextAction = vcrData[tmpIndex];

    if(nextAction["type"] == "location") {
      var locISolver = nextAction["loc"];
      locISolver.replace(/[ ,()-]/g, '');
      ajaxChainedActions.push({action: "add", scope: "item", locName: locISolver, itemName: nextAction["item"], idxFunc: "loadNextAction"})
    } else {
      if(stopAtNextRollback == true) {
        break;
      }
      var count = nextAction["count"];
      ajaxChainedActions.push({action: "remove", scope: "item", count: nextAction["count"], idxFunc: "loadNextAction"});
    }

    tmpIndex += 1;
  }

  // the chained actions are executed from the end of the array
  ajaxChainedActions.reverse();

  loadNextAction();
  ajaxCallChained();
}

function isDesactivated(elemId) {
  return $("#"+elemId).hasClass("greyed");
}

function displayRandoPopup() {
  if(loaded == false || webServInProgress == true || init == false) {
    return;
  }

  // display popup
  document.getElementById("randomizerPopup").style.display = "block";
}
</script>

<div class="fixed">
  <div class="menu">
    <table class="full menuTable">
      <tr>
        <td>{{=A("Home", _href=URL(f="home"), _class="menu")}}</td>
        <td>{{=A("Presets", _href=URL(f="presets"), _class="menu")}}</td>
        <td>{{=A("Randomizer", _href=URL(f="randomizer"), _class="menu")}}</td>
        <td>{{=A("Solver", _href=URL(f="solver"), _class="menu")}}</td>
        <td>{{=A("Tracker", _href=URL(f="tracker"), _class="menu")}}</td>
        <td class="menu_selected">{{=A("Plandomizer", _href=URL(f="plando"), _class="menu")}}</td>
        <td>{{=A("Plandository", _href=URL(f="plandorepo"), _class="menu")}}</td>
        <td>{{=A("Customizer", _href=URL(f="customizer"), _class="menu")}}</td>
        <td>{{=A("Statistics", _href=URL(f="extStats"), _class="menu")}}</td>
        <td>{{=A("Information & Contact", _href=URL(f="infos"), _class="menu")}}</td>
      </tr>
    </table>
  </div>
</div>

{{
def displaySelect(id, values, default):
  if id in session.plando["rando"]:
    value = session.plando["rando"][id]
  else:
    value = default
    pass
}}
  {{
   =SELECT(*values,
           **dict(_id=id, _name=id, value=value, _class="full"))
  }}
{{pass}}

{{
def displayNumber(id, min, max, default, step="1"):
  if id in session.plando["rando"]:
    value = session.plando["rando"][id]
  else:
    value = default
    pass

  response.write("<input name=\"{}\" id=\"{}\" type=\"number\" value=\"{}\" min=\"{}\" max=\"{}\" step=\"{}\" class=\"full\" required>".format(id, id, value, min, max, step), escape=False)
  pass
}}

<div class="main">
  <div id="randomizerPopup" class="itemPopup">
    <table class="full">
      <colgroup><col class="half" /><col class="half" /></colgroup>
      <tr><td colspan=2></td></tr>
      <tr><td id="RandoGrab" colspan=2 class="center greyRow"><p>Plando Randomizer parameters</p></td></tr>
      <tr><td colspan=2 class="blankRow"></td></tr>
      <tr>
        <td>Percentage of minors available:</td>
        <td>{{displayNumber("minorQty", "7", "100", "100")}}</td>
      </tr>
      <tr>
        <td>Quantity of Energy/Reserve Tanks available:</td>
        <td>{{displaySelect("energyQty", ["sparse", "medium", "vanilla"], "vanilla")}}</td>
      </tr>
      <tr>
        <td>Hide the result of the VARIA Randomizer (to save it without spoiling):</td>
        <td><input id="hideRando" name="hideRando" type="checkbox"></td>
      </tr>
      <tr>
      <td>Items not to place</td>
        <td>
          <nobr><input id="Charge_bool" name="Charge_bool" type="checkbox" ><img src="/solver/static/images/Charge.png" alt="Charge.png" title="Charge.png" class="rightMargin"/></nobr>
          <nobr><input id="Ice_bool" name="Ice_bool" type="checkbox" ><img src="/solver/static/images/Ice.png" alt="Ice.png" title="Ice.png" class="rightMargin"/></nobr>
          <nobr><input id="Wave_bool" name="Wave_bool" type="checkbox" ><img src="/solver/static/images/Wave.png" alt="Wave.png" title="Wave.png" class="rightMargin"/></nobr>
          <nobr><input id="Spazer_bool" name="Spazer_bool" type="checkbox" ><img src="/solver/static/images/Spazer.png" alt="Spazer.png" title="Spazer.png" class="rightMargin"/></nobr>
          <nobr><input id="Plasma_bool" name="Plasma_bool" type="checkbox" ><img src="/solver/static/images/Plasma.png" alt="Plasma.png" title="Plasma.png" class="rightMargin"/></nobr>
          <nobr><input id="Varia_bool" name="Varia_bool" type="checkbox" ><img src="/solver/static/images/Varia.png" alt="Varia.png" title="Varia.png" class="rightMargin"/></nobr>
          <nobr><input id="Gravity_bool" name="Gravity_bool" type="checkbox" ><img src="/solver/static/images/Gravity.png" alt="Gravity.png" title="Gravity.png" class="rightMargin"/></nobr>
          <nobr><input id="Morph_bool" name="Morph_bool" type="checkbox" ><img src="/solver/static/images/Morph.png" alt="Morph.png" title="Morph.png" class="rightMargin"/></nobr>
          <nobr><input id="Bomb_bool" name="Bomb_bool" type="checkbox" ><img src="/solver/static/images/Bomb.png" alt="Bomb.png" title="Bomb.png" class="rightMargin"/></nobr>
          <nobr><input id="SpringBall_bool" name="SpringBall_bool" type="checkbox" ><img src="/solver/static/images/SpringBall.png" alt="SpringBall.png" title="SpringBall.png" class="rightMargin"/></nobr>
          <nobr><input id="ScrewAttack_bool" name="ScrewAttack_bool" type="checkbox" ><img src="/solver/static/images/ScrewAttack.png" alt="ScrewAttack.png" title="ScrewAttack.png" class="rightMargin"/></nobr>
          <nobr><input id="HiJump_bool" name="HiJump_bool" type="checkbox" ><img src="/solver/static/images/HiJump.png" alt="HiJump.png" title="HiJump.png" class="rightMargin"/></nobr>
          <nobr><input id="SpaceJump_bool" name="SpaceJump_bool" type="checkbox" ><img src="/solver/static/images/SpaceJump.png" alt="SpaceJump.png" title="SpaceJump.png" class="rightMargin"/></nobr>
          <nobr><input id="SpeedBooster_bool" name="SpeedBooster_bool" type="checkbox" ><img src="/solver/static/images/SpeedBooster.png" alt="SpeedBooster.png" title="SpeedBooster.png" class="rightMargin"/></nobr>
          <nobr><input id="Grapple_bool" name="Grapple_bool" type="checkbox" ><img src="/solver/static/images/Grapple.png" alt="Grapple.png" title="Grapple.png" class="rightMargin"/></nobr>
          <nobr><input id="XRayScope_bool" name="XRayScope_bool" type="checkbox" ><img src="/solver/static/images/XRayScope.png" alt="XRayScope.png" title="XRayScope.png" class="rightMargin"/></nobr>
          <nobr><input id="ETank_bool" name="ETank_bool" type="checkbox" ><img src="/solver/static/images/ETank.png" alt="ETank.png" title="ETank.png" class="rightMargin"/></nobr>
          <nobr><input id="Reserve_bool" name="Reserve_bool" type="checkbox" ><img src="/solver/static/images/Reserve.png" alt="Reserve.png" title="Reserve.png" class="rightMargin"/></nobr>
          <nobr><input id="Missile_bool" name="Missile_bool" type="checkbox" ><img src="/solver/static/images/Missile.png" alt="Missile.png" title="Missile.png" class="rightMargin"/></nobr>
          <nobr><input id="Super_bool" name="Super_bool" type="checkbox" ><img src="/solver/static/images/Super.png" alt="Super.png" title="Super.png" class="rightMargin"/></nobr>
          <nobr><input id="PowerBomb_bool" name="PowerBomb_bool" type="checkbox" ><img src="/solver/static/images/PowerBomb.png" alt="PowerBomb.png" title="PowerBomb.png" class="rightMargin"/></nobr>
        </td>
      </tr>
      <tr><td colspan=2 class="blankLastRow"></td></tr>
    </table>
    <table>
      <tr>
        <td class="half"><button type="button" onclick="randomize()" class="full">Randomize</button></td>
        <td class="half"><button type="button" onclick="hideRandoPopup()" class="full">Cancel</button></td>
      </tr>
    </table>
  </div>

  <div id="savePopup" class="itemPopup">
    <table class="full">
      <colgroup><col class="half" /><col class="half" /></colgroup>
      <tr><td colspan=2></td></tr>
      <tr><td id="SaveGrab" colspan=2 class="center greyRow">The page has been reloaded, please select your ROM again</td></tr>
      <tr><td colspan=2 class="blankRow"></td></tr>
      <tr>
        <td>Randomized Super Metroid ROM: </td>
        <td><input id="saveFile" name="saveFile" type="file"/></td>
      </tr>
      <tr><td colspan=2 class="blankLastRow"></td></tr>
    </table>
    <table>
      <tr>
        <td class="half"><button type="button" onclick="save('popup')" class="full">Save</button></td>
        <td class="half"><button type="button" onclick="hideSavePopup()" class="full">Cancel</button></td>
      </tr>
    </table>
  </div>

  <div id="debugPopup" class="debugPopup">
    <table class="full">
      <colgroup><col class="half" /><col class="half" /></colgroup>
      <tr><td colspan=2></td></tr>
      <tr><td id="VCRGrab" colspan=2 class="center greyRow">Debug VCR window</td></tr>
      <tr><td colspan=2 class="blankRow"></td></tr>
      <tr>
        <td>VCR file: </td>
        <td><input id="vcrFile" name="vcrFile" type="file"/></td>
      </tr>
      <tr><td colspan=2 class="blankLastRow"></td></tr>
    </table>
    <table>
      <tr>
        <td>
          <div id="start" class="popupButton flip greyed"><img src="/solver/static/images/fast_forward.svg" alt="start" onclick="gotoStart()" data-toggle="tooltip" title="Cancel all actions" data-placement="bottom" data-container="body" data-html="true"></div>
        </td>
        <td>
          <div id="previous" class="popupButton flip greyed"><img src="/solver/static/images/play.svg" alt="end" onclick="previousAction()" data-toggle="tooltip" title="Cancel last action" data-placement="bottom" data-container="body" data-html="true"></div>
        </td>
        <td>
          <div id="next" class="popupButton greyed"><img src="/solver/static/images/play.svg" alt="end" onclick="nextAction()" data-toggle="tooltip" title="Apply next action" data-placement="bottom" data-container="body" data-html="true"></div>
        </td>
        <td>
          <div id="nextRollback" class="popupButton greyed"><img src="/solver/static/images/skip_forward.svg" alt="goto" onclick="gotoEnd(true)" data-toggle="tooltip" title="Goto next rollback" data-placement="bottom" data-container="body" data-html="true"></div>
        </td>
        <td>
          <div id="end" class="popupButton greyed"><img src="/solver/static/images/fast_forward.svg" alt="end" onclick="gotoEnd(false)" data-toggle="tooltip" title="Apply all actions" data-placement="bottom" data-container="body" data-html="true"></div>
        </td>
        <td>
          <input name="gotoAction" id="gotoAction" type="number" value="1" min="1" max="1024" step="1" class="gotoAction">
        </td>
        <td>
          <div id="goto" class="popupButton greyed"><img src="/solver/static/images/right_arrow.svg" alt="goto" onclick="gotoX()" data-toggle="tooltip" title="Goto X actions from start" data-placement="bottom" data-container="body" data-html="true"></div>
        </td>
      </tr>
      <tr><td colspan=3 class="blankLastRow"></td></tr>
    </table>
    <table class="full">
      <colgroup><col class="quarter"/><col class="full"/></colgroup>
      <tr>
        <td>Next action:</td>
        <td><input type="text" name="nextAction" id="nextAction" value="" readonly class="full"></td>
      </tr>
      <tr>
        <td>Previous action:</td>
        <td><input type="text" name="prevAction" id="prevAction" value="" readonly class="full"></td>
      </tr>
      <tr><td colspan=2 class="blankLastRow"></td></tr>
    </table>
    <table>
      <tr>
        <td class="half"><button type="button" onclick="hideDebugPopup()" class="full">Close</button></td>
      </tr>
    </table>
    <input id="vcrJson" name="vcrJson" style="display:none" type="text"/>
  </div>

  <div id="hideRandoOverlay"></div>

{{include 'solver_web/t_main.html'}}

    <!-- plando buttons -->
    <div id="titlePlando" class="titlePlando">PLANDO</div>
    <div id="startPlando" class="startPlando"><img src="/solver/static/images/play.svg" alt="Start" onclick="displayPopup(true)" data-toggle="tooltip" title="Start the Plando creator" data-placement="bottom" data-container="body" data-html="true"></div>
    <div id="repeatPlando" class="repeatPlando"><img src="/solver/static/images/repeat.svg" alt="Cancel Last" onclick="deleteLoc(true)" data-toggle="tooltip" title="Remove last placed item" data-placement="bottom" data-container="body" data-html="true" id="repeatPlandoImg"></div>
    <div id="binPlando" class="binPlando"><img src="/solver/static/images/bin.svg" alt="Clear" onclick="clearLocs(true)" data-toggle="tooltip" title="Remove all placed items" data-placement="bottom" data-container="body" data-html="true"></div>
    <div id="savePlando" class="savePlando"><img src="/solver/static/images/save.svg" alt="Save" onclick="save('save')" data-toggle="tooltip" title="Download plando ROM" data-placement="bottom" data-container="body" data-html="true"></div>
    <div id="lockPlando" class="lockPlando"><img src="/solver/static/images/locked.svg" alt="Lock" onclick="save('lock')" data-toggle="tooltip" title="Download locked plando ROM" data-placement="bottom" data-container="body" data-html="true"></div>
    <div id="helpPlando" class="helpPlando"><img src="/solver/static/images/help.svg" alt="Help" onclick="startTheTour(0)" data-toggle="tooltip" title="Display the Plando help" data-placement="bottom" data-container="body" data-html="true"></div>
    <div id="randoPlando" class="randoPlando"><img src="/solver/static/images/games.svg" alt="Randomize" onclick="displayRandoPopup()" data-toggle="tooltip" title="Randomize the remaining items/locations" data-placement="bottom" data-container="body" data-html="true"></div>

    <!-- to open the debug popup -->
    <div id="startDebug" class="startDebug"><img src="/solver/static/images/play.svg" alt="Start" onclick="displayDebugPopup()" data-toggle="tooltip" title="Start the debug popup" data-placement="bottom" data-container="body" data-html="true"></div>
  </div>

  <!-- info on current loaded seed -->
  <p class="white">Current Seed:</p>
  <input type="text" name="cur_seed" id="cur_seed" value="n/a" readonly class="full">
  <p class="white">Current Preset:</p>
  <input type="text" name="cur_preset" id="cur_preset" value="n/a" readonly class="full">
</div>
