{{
extend 'layout.html'
}}

<meta name="description" content="Solver for the randomized Super Metroid roms"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<script src="{{=URL('static','js/FileSaver.js')}}"></script>
<link rel="stylesheet" type="text/css" href={{=URL('static','css/mystyle.css')}} media="screen"/>

<link rel="stylesheet" type="text/css" href={{=URL('static','dist/switchery.css')}} media="screen"/>
<script src="{{=URL('static','dist/switchery.js')}}"></script>

<title>Super Metroid VARIA Randomizer</title>

<style>
@media (min-width: 1200px) {
    .main {
        margin-top: 2em; /* Add a top margin to avoid content overlay */
    }
}
.main {
    margin-bottom: 5em;
}
.main-container {
    margin-top: 0px;
}
body {
    margin-bottom: 0px;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#loadingGIF {
    position: absolute;
    left: 5%;
    z-index: 3;
    display:none;
}
@media (max-height: 800px) {
    .loadingGIF {
         top: 20%;
    }
}
@media (min-height: 800px) {
    .loadingGIF {
         top: 40%;
    }
}
.hidden {
    display: none;
}
</style>

<script type="text/javascript">
function AjaxPresetCallCompleted(data) {
    console.log("AjaxPresetCallCompleted");

    // call web service with parameters
    var request = $.ajax({
      //url: "http://ouicherandomizer.pythonanywhere.com/randomizer/solver_web/randomizerWebService",
      url: "{{=URL(f='randomizerWebService')}}",
      method: "POST",
      data: {
        seed : document.getElementById("seed").value,
        paramsFile : document.getElementById("paramsFile").value,
        paramsFileTarget : data,
        missileQty : document.getElementById("missileQty").value,
        superQty : document.getElementById("superQty").value,
        powerBombQty : document.getElementById("powerBombQty").value,
        minorQty : document.getElementById("minorQty").value,
        energyQty : document.getElementById("energyQty").value,
        useMaxDiff : document.getElementById("useMaxDiff").value,
        maxDifficulty : document.getElementById("maxDifficulty").value,
        progressionSpeed : document.getElementById("progressionSpeed").value,
        spreadItems : document.getElementById("spreadItems").value,
        fullRandomization : document.getElementById("fullRandomization").value,
        suitsRestriction : document.getElementById("suitsRestriction").value,
        speedScrewRestriction : document.getElementById("speedScrewRestriction").value,
        AimAnyButton : document.getElementById("AimAnyButton").value,
        itemsounds : document.getElementById("itemsounds").value,
        spinjumprestart : document.getElementById("spinjumprestart").value,
        supermetroid_msu1 : document.getElementById("supermetroid_msu1").value,
        max_ammo_display : document.getElementById("max_ammo_display").value,

      },
      dataType: "json",
      crossDomain: true
    });

    request.done(AjaxRandomizerCallCompleted);
    request.fail(ajaxFailJSON);
}

function ajaxFail(jqXHR, textStatus) {
  document.getElementById("flash").innerHTML = jqXHR.responseText;
  $('#flash').show();
  $('#overlay').hide();
  $('#loadingGIF').hide();
}

function ajaxFailJSON(jqXHR, textStatus) {
  // cross domain calls currently return 'undefined' information... (cf. https://www.html5rocks.com/en/tutorials/cors/)
  if(jqXHR.responseJSON == null) {
    document.getElementById("flash").innerHTML = "Something wrong happened, try increasing your difficulty target";
  } else {
    document.getElementById("flash").innerHTML = jqXHR.responseJSON;
  }
  $('#flash').show();
  $('#overlay').hide();
  $('#loadingGIF').hide();
}

function AjaxRandomizerCallCompleted(data) {
    console.log("AjaxRandomizerCallCompleted");

    // with items/Locations patch the local rom in memory
    var filesInput = document.getElementById("uploadFile");
    var file = filesInput.files[0]

    var reader = new FileReader();
    reader.readAsArrayBuffer(file)

    reader.onload = function(e) {
        var bytes = new Uint8Array(e.target.result);

        for(var key in data) {
            if(key === "fileName") { continue; }
            bytes[key] = data[key];
        }

        var blob = new Blob([bytes], {type: "octet/stream"})

        var outFileName = data['fileName']
        saveAs(blob, outFileName)
    }

    // set backup button text to Randomize
    document.getElementById("submitBtn").data = "Randomize";
    console.log("button text set back to randomize");

    // call webservice to update the session
    var request = $.ajax({
      url: "{{=URL(f='sessionWebService')}}",
      method: "POST",
      data: {
        paramsFile : document.getElementById("paramsFile").value,
        missileQty : document.getElementById("missileQty").value,
        superQty : document.getElementById("superQty").value,
        powerBombQty : document.getElementById("powerBombQty").value,
        minorQty : document.getElementById("minorQty").value,
        energyQty : document.getElementById("energyQty").value,
        useMaxDiff : document.getElementById("useMaxDiff").value,
        maxDifficulty : document.getElementById("maxDifficulty").value,
        progressionSpeed : document.getElementById("progressionSpeed").value,
        spreadItems : document.getElementById("spreadItems").value,
        fullRandomization : document.getElementById("fullRandomization").value,
        suitsRestriction : document.getElementById("suitsRestriction").value,
        speedScrewRestriction : document.getElementById("speedScrewRestriction").value,
        AimAnyButton : document.getElementById("AimAnyButton").value,
        itemsounds : document.getElementById("itemsounds").value,
        spinjumprestart : document.getElementById("spinjumprestart").value,
        supermetroid_msu1 : document.getElementById("supermetroid_msu1").value,
        max_ammo_display : document.getElementById("max_ammo_display").value
      },
      dataType: "html"
    });

    request.fail(ajaxFail);

    // remove "working" message
    $('#flash').hide();
    $('#overlay').hide();
    $('#loadingGIF').hide();
}

function doSubmit() {
  if(window.File && window.FileList && window.FileReader) {

    var filesInput = document.getElementById("uploadFile");
    var file = filesInput.files[0]
    if (file === undefined) {
      alert("Please select a Super Metroid Vanilla ROM first")
      btn = document.getElementById("submitBtn");
      btn.data = "Randomize";
      btn.disabled = false;

      setTimeout(function(){ 
          btn = document.getElementById("submitBtn");
          btn.data = "Randomize";
          btn.disabled = false;
      }, 20000);

      return false;
    }

    console.log("before preset web service call");

    // call preset web service with parameters
    var request = $.ajax({
      url: "{{=URL(f='presetWebService')}}",
      method: "POST",
      data: { paramsFile : document.getElementById("paramsFile").value },
      dataType: "html"
    });

    request.done(AjaxPresetCallCompleted);
    request.fail(ajaxFail);

    // while WS is working, display "working" message
    $('#overlay').show();
    $('#loadingGIF').show();
  }

  return false;
}

window.onload = function(){
    //Check File API support
    if(window.File && window.FileList && window.FileReader) {
        var filesInput = document.getElementById("uploadFile");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //It returns a FileList object
            var file = files[0];

            var reader = new FileReader();
            reader.onload = function(e) {
		// check sfc or smc extention
                var re = /(?:\.([^.]+))?$/;
		var ext = re.exec(file.name)[1];
                console.log("ext: "+ext)
                if( ! (ext === "sfc" || ext === "smc") ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong extension: "+ext);
                    return false;
                }

                var fileSize = file.size;
		if( fileSize > 4*1024*1024 ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong rom file size: "+fileSize.toString());
                    return false;
                }
            }

            reader.readAsArrayBuffer(file)

        }, false);
    } else {
        alert("This website requires the HTML5 File API, please upgrade your browser to a newer version.");
    }

    var maxAmmo = document.getElementById("max_ammo_display");
    maxAmmo.onchange = function(){
        var maxAmmo = document.getElementById("max_ammo_display");
        var msu1 = document.getElementById("supermetroid_msu1");

        if(msu1.checked && maxAmmo.checked){
            msu1.click();
        }
        switchCheckbox("max_ammo_display");
    };

    var msu1 = document.getElementById("supermetroid_msu1");
    msu1.onchange = function(){
        var maxAmmo = document.getElementById("max_ammo_display");
        var msu1 = document.getElementById("supermetroid_msu1");

        if(maxAmmo.checked && msu1.checked){
            maxAmmo.click();
        }
        switchCheckbox("supermetroid_msu1");
    };

    var useMax = document.getElementById("useMaxDiff");
    if(! useMax.checked){
        document.getElementById("maxDifficulty").disabled = true;
    }
    useMax.onchange = function(){
        var useMax = document.getElementById("useMaxDiff");
        if(useMax.checked){
            document.getElementById("maxDifficulty").disabled = false;
        } else {
            document.getElementById("maxDifficulty").disabled = true;
        }
        switchCheckbox("useMaxDiff");
    }
}
function switchCheckbox(id) {
  var check = document.getElementById(id);
  if(check.checked){
    check.value = "on";
  } else {
    check.value = "off";
  }
}
</script>
{{
def displayCheckbox(id):
  if id in session.randomizer and session.randomizer[id] == 'on':
}}
    {{=INPUT(_id=id, _name=id, _type="checkbox", _checked="checked", _value="on", _class="js-switch", _onchange="switchCheckbox('{}')".format(id))}}
{{
  else:
}}
    {{=INPUT(_id=id, _name=id, _type="checkbox", _value="off", _class="js-switch", _onchange="switchCheckbox('{}')".format(id))}}
    {{pass}}

  {{
  response.write("<script type=\"text/javascript\">new Switchery(document.getElementById(\"{}\")".format(id), escape=False);
  response.write(", { size: 'small', color: '#ddd' });</script>", escape=False)
  pass
  }}

{{
def displaySelect(id, values, default):
  if id in session.randomizer:
    value = session.randomizer[id]
  else:
    value = default
    pass
}}
  {{
   =SELECT(*values,
           **dict(_id=id, _name=id, value=value, _class="full"))
  }}
{{pass}}
{{
def displayNumber(id, min, max, default):
  if id in session.randomizer:
    value = session.randomizer[id]
  else:
    value = default
    pass

  response.write("<input name=\"{}\" id=\"{}\" type=\"number\" value=\"{}\" min=\"{}\" max=\"{}\" class=\"full\" required>".format(id, id, value, min, max), escape=False)
  pass
}}
<body>
  <div id="overlay"></div>
  <div id="loadingGIF"><img src={{=URL('static/images','ajax-loader.gif')}}/></div>

  <div class="fixed">
    <div class="menu">
      {{=A('Super Metroid VARIA Randomizer and Solver', _href=URL(f='randomizer'), _class='menu')}}
      {{=A('Solve!', _href=URL(f='solver'), _class='menu')}}
      {{=A('Randomize!', _href=URL(f='randomizer'), _class='menu')}}
      {{=A('Information & Contact', _href=URL(f='infos'), _class='menu')}}
    </div>
  </div>

  <div class="main">
    <form id="mainform", name="mainform", onsubmit="doSubmit(); return false;">
      <div class="row">
	<div class="column">
	  <p>The Very Adaptative Randomizer of Items for Anyone (VARIA) randomizer will generate a Super Metroid ROM finishable using the known techniques of the chosen preset</p>
          <table class="full">
            <colgroup><col class="half" /><col class="half" /></colgroup>
            <tr>
              <td>Vanilla Super Metroid ROM:</td>
              <td>{{=INPUT(_type="file", _name="uploadFile", _id="uploadFile")}}</td>
            </tr>
            <tr>
              <td>Randomizer seed (0 for a random one):</td>
              <td>{{displayNumber("seed", "0", "9999999", "0")}}</td>
            </tr>
            <tr>
              <td>The preset used to randomize:</td>
              <td>{{displaySelect("paramsFile", presets, "regular")}}</td>
            </tr>
          </table>
	  <br/>
	  <h4>The quantity of Minors and Energy</h4>
	  <p>For each minors, the higher the number the higher the probability of choosing it</p>
	  <table class="full">
            <colgroup><col class="half" /><col class="half" /></colgroup>
            <tr>
              <td>Quantity of Missiles:</td>
              <td>{{displayNumber("missileQty", "1", "9", "3")}}</td>
            </tr>
            <tr>
              <td>Quantity of Super Missiles:</td>
              <td>{{displayNumber("superQty", "1", "9", "3")}}</td>
            </tr>
            <tr>
              <td>Quantity of Power Bombs:</td>
              <td>{{displayNumber("powerBombQty", "1", "9", "1")}}</td>
            </tr>
            <tr>
              <td>Percentage of minors available:</td>
              <td>{{displayNumber("minorQty", "1", "100", "100")}}</td>
            </tr>
            <tr>
              <td>Quantity of Energy/Reserve Tanks available:</td>
              <td>{{displaySelect("energyQty", ["sparse", "medium", "vanilla"], "vanilla")}}</td>
            </tr>
	  </table>
	  <br/>
	  <h4>Randomizer parameters</h4>
	  <table class="full">
            <tr>
              <td>{{displayCheckbox("useMaxDiff")}}The maximum difficulty for picking up an item:<br/>Warning: if too low may cause the randomizer to abort</td>
              <td>{{displaySelect("maxDifficulty", ['easy', 'medium', 'hard', 'very hard', 'hardcore', 'mania'], "hard")}}</td>
            </tr>
	    <tr>
	      <td class="half">Progression speed: how fast progression items are likely to be found</td>
              <td class="half">{{displaySelect("progressionSpeed", ['slowest', 'slow', 'medium', 'fast', 'fastest'], "medium")}}</td>
	    </tr>
	    <tr>
	      <td colspan="2">{{displayCheckbox("spreadItems")}}Spread progression items (uncheck for faster progression)</td>
	    </tr>
	    <tr>
	      <td colspan="2">{{displayCheckbox("fullRandomization")}}Full randomization: place majors in all locations</td>
	    </tr>
	    <tr>
	      <td colspan="2">{{displayCheckbox("suitsRestriction")}}Suits restriction: no Gravity or Varia suits in early game</td>
	    </tr>
	    <tr>
	      <td colspan="2">{{displayCheckbox("speedScrewRestriction")}}Speed/Screw restriction: no SpeedBooster or Screw Attack in the very first rooms, no Screw Attack in Crateria</td>
	    </tr>
	  </table>
         {{=INPUT(_type="submit", _value="Randomize", _id="submitBtn")}}
	</div>
	<div class="column">
	  <h4>Patches</h4>
	  <p>
	    All the <a href="https://itemrando.supermetroid.run/information">patches</a> from Total Item Randomizer are included by default (except animals patches).<br/>
	    The layout patches included by default:
	    <ul>
              <li>Disable respawning blocks at Dachora Pit</li>
              <li>Make it possible to escape from below early Super bridge without Bombs</li>
              <li>Replace bomb blocks with shot blocks before Hi-Jump</li>
              <li>Replace bomb blocks with shot blocks at Moat</li>
              <li>Raise platform in first heated Norfair room to not require Hi-Jump</li>
              <li>Raise platforms in Red Tower bottom to always be able to get back up</li>
              <li>Replace bomb blocks with shot blocks before Spazer</li>
	    </ul>
	  </p>
	  <p>
	    Optional patches to add to the randomized ROM:<br/>
{{
for patch in patches:
  displayCheckbox(patch[0])
  response.write("{}".format(patch[1]))

  response.write("<br/>", escape=False)
  pass
}}
	  </p>
	</div>
      </div>
    </form>
  </div>
</body>
