{{
extend 'layout.html'
}}


<meta name="description" content="Solver for the randomized Super Metroid roms"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<script src="{{=URL('static','js/FileSaver.js')}}"></script>
<link rel="stylesheet" type="text/css" href={{=URL('static/css','mystyle.css')}} media="screen"/>

<title>Super Metroid Item Randomizer</title>

<style>
@media (min-width: 1200px) {
    .main {
        margin-top: 2em; /* Add a top margin to avoid content overlay */
    }
}
.main {
    margin-bottom: 5em;
}
.main-container {
    margin-top: 0px;
}
body {
    margin-bottom: 0px;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#loadingGIF {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 3;
    display:none;
}
.hidden {
    display: none;
}
</style>

<script type="text/javascript">
function AjaxCallCompleted(data) {
    // with items/Locations patch the local rom in memory
    var filesInput = document.getElementById("uploadFile");
    var file = filesInput.files[0]

    var reader = new FileReader();
    reader.readAsArrayBuffer(file)

    reader.onload = function(e) {
        var bytes = new Uint8Array(e.target.result);

        for(var key in data) {
            if(key === "fileName") { continue; }
            console.log(key+": "+data[key]);
            bytes[key] = data[key];
        }

        var blob = new Blob([bytes], {type: "octet/stream"})

        var outFileName = data['fileName']
        saveAs(blob, outFileName)
    }

    // set backup button text to Randomize
    document.getElementById("submitBtn").data = "Randomize";
    console.log("button text set back to randomize");

    // remove "working" message
    $('#overlay').hide();
    $('#loadingGIF').hide();
}

function doSubmit() {
  if(window.File && window.FileList && window.FileReader) {

    var filesInput = document.getElementById("uploadFile");
    var file = filesInput.files[0]
    if (file === undefined) {
      alert("Please select a Super Metroid Vanilla ROM first")
      btn = document.getElementById("submitBtn");
      btn.data = "Randomize";
      btn.disabled = false;

      setTimeout(function(){ 
          btn = document.getElementById("submitBtn");
          btn.data = "Randomize";
          btn.disabled = false;
      }, 20000);

      return false;
    }

    console.log("uploadFile=["+file+"]")

    // call web service with parameters
    ajax('{{=URL(f='randomizerWebService.json')}}',
         ['seed', 'difficulty_target', 'paramsFile', 'AimAnyButton',
          'itemsounds', 'spinjumprestart', 'supermetroid_msu1', 'max_ammo_display',
          'missileQty', 'superQty', 'powerBombQty', 'minorQty', 'energyQty'],
         'target',
         {done: AjaxCallCompleted});

    // while WS is working, display "working" message
    $('#overlay').show();
    $('#loadingGIF').show();
  }

  return false;
}

window.onload = function(){
    //Check File API support
    if(window.File && window.FileList && window.FileReader) {
        var filesInput = document.getElementById("uploadFile");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //It returns a FileList object
            var file = files[0];

            var reader = new FileReader();
            reader.onload = function(e) {
		// check sfc or smc extention
                var re = /(?:\.([^.]+))?$/;
		var ext = re.exec(file.name)[1];
                console.log("ext: "+ext)
                if( ! (ext === "sfc" || ext === "smc") ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong extension: "+ext);
                    return false;
                }

                var fileSize = file.size;
		if( fileSize > 4*1024*1024 ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong rom file size: "+fileSize.toString());
                    return false;
                }
            }

            reader.readAsArrayBuffer(file)

        }, false);
    } else {
        alert("This website requires the HTML5 File API, please upgrade your browser to a newer version.");
    }
}
</script>

<body>
  <div id="overlay"></div>
  <div id="loadingGIF"><img src={{=URL('static/images','ajax-loader.gif')}}/></div>


  <div class="fixed">
    <div class="menu">
      {{=A('Super Metroid Item Randomizer Solver', _href=URL(f='solver'), _class='menu')}}
      {{=A('Solve!', _href=URL(f='solver'), _class='menu')}}
      {{=A('Randomize!', _href=URL(f='randomizer'), _class='menu')}}
      {{=A('Information & Contact', _href=URL(f='infos'), _class='menu')}}
    </div>
  </div>

  <div class="main">
    <div class="row">
      <div class="column">
        <form id="mainform", name="mainform", onsubmit="doSubmit(); return false;">
          <table class="full">
            <colgroup><col class="half" /><col class="half" /></colgroup>
            <tr>
              <td>Vanilla Super Metroid ROM:</td>
              <td>
      {{
      =INPUT(_type="file", _name="uploadFile", _id="uploadFile")
      }}
              </td>
            </tr>
            <tr>
              <td>Randomizer seed:</td>
              <td>
		<input name="seed" id="seed" type="number" value="0" min="0" max="9999999" class="full">
              </td>
            </tr>
            <tr>
              <td>The maximum difficulty for picking up an item:</td>
              <td>
      {{
      if 'difficulty_target' in session.randomizer:
        value = session.randomizer['difficulty_target']
      else:
        value = 'medium'
        pass
      }}
      {{
      =SELECT('easy', 'medium', 'hard', 'very hard', 'hardcore', 'mania',
              _id="difficulty_target",
              _name="difficulty_target",
              _class="full",
              requires=IS_IN_SET(['easy', 'medium', 'hard', 'very hard', 'hardcore', 'mania']),
              value=value)
      }}
              </td>
            </tr>
            <tr>
              <td>The preset used to randomize:</td>
              <td>
      {{
      if 'paramsFile' in session.randomizer:
        value = session.randomizer['paramsFile']
      else:
        value = 'regular'
        pass
      }}
      {{
      =SELECT(*presets,
              **dict(_id="paramsFile", _name="paramsFile", value=value, _class="full"))
      }}
              </td>
            </tr>
          </table>

    <p>
{{
      if 'missileQty' in session.randomizer:
        valueM = session.randomizer['missileQty']
      else:
        valueM = "3"
        pass
      if 'superQty' in session.randomizer:
        valueS = session.randomizer['superQty']
      else:
        valueS = "3"
        pass
      if 'powerBombQty' in session.randomizer:
        valueP = session.randomizer['powerBombQty']
      else:
        valueP = "1"
        pass
      if 'minorQty' in session.randomizer:
        valuem = session.randomizer['minorQty']
      else:
        valuem = "100"
        pass
      if 'energyQty' in session.randomizer:
        valueE = session.randomizer['energyQty']
      else:
        valueE = "vanilla"
        pass
}}

      The quantity of Minors and Energy<br/>
      For each minors, the higher the number the higher the probability of choosing it<br/>
      <table class="full">
        <colgroup><col class="half" /><col class="half" /></colgroup>
        <tr>
          <td>Quantity of Missiles</td>
          <td>
            <input name="missileQty" id="missileQty" type="number" value={{=valueM}} min="1" max="10", class="full">
          </td>
        </tr>
        <tr>
          <td>Quantity of Super Missiles</td>
          <td>
            <input name="superQty" id="superQty" type="number" value={{=valueS}} min="1" max="10", class="full">
          </td>
        </tr>
        <tr>
          <td>Quantity of Power Bombs</td>
          <td>
            <input name="powerBombQty" id="powerBombQty" type="number" value={{=valueP}} value="1" min="1" max="10" class="full">
          </td>
        </tr>
        <tr>
          <td>Percentage of minors available</td>
          <td>
            <input name="minorQty" id="minorQty" type="number" value={{=valuem}} min="1" max="100", class="full">
          </td>
        </tr>
        <tr>
          <td>Quantity of Energy/Reserve Tanks available</td>
          <td>
      {{
      =SELECT('sparse', 'medium', 'vanilla',
              _id="energyQty",
              _name="energyQty",
              requires=IS_IN_SET(['sparse', 'medium', 'vanilla']),
              value=valueE,
              _class="full")
      }}
          </td>
        </tr>
      </table>

    {{
    =INPUT(_type="submit", _value="Randomize", _id="submitBtn")
    }}
    </div>
  <div class="column">
    <p>
      All the patches from Total Item Randomizer are included by default.<br/>
      The layout patches included by default:
      <ul>
        <li>Disable respawning blocks at Dachora Pit</li>
        <li>Make it possible to escape from below early Super bridge without Bombs</li>
        <li>Replace bomb blocks with shot blocks before Hi-Jump</li>
        <li>Replace bomb blocks with shot blocks at Moat</li>
        <li>Raise platform in first heated Norfair room to not require Hi-Jump</li>
        <li>Raise platforms in Red Tower bottom to always be able to get back up</li>
        <li>Replace bomb blocks with shot blocks before Spazer</li>
      </ul>
    </p>

    <p>
      Optional patches to add to the randomized ROM:<br/>
{{
for patch in patches:

  if patch[0] in session.randomizer and session.randomizer[patch[0]] == 'on':
}}
    {{=INPUT(_id=patch[0], _name=patch[0], _type="checkbox", _checked="checked", _value="on")}}
{{
  else:
}}
    {{=INPUT(_id=patch[0], _name=patch[0], _type="checkbox")}}
    {{pass}}
{{
  response.write("{}".format(patch[1]))

  response.write("<br/>", escape=False)
  pass
}}
    </p>


  </form>
  </div>
  </div>
  </div>
</body>
