

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>

<style>
.checked {
    color: orange;
}
  a:link {color: SteelBlue;}
  a:visited {color: gray;}
</style>

<script>
function toggleSelect(elem)
{
  var boolElem = elem + "_bool"
  var boolElemHidden = boolElem + "_hidden"
  var diffElem = elem + "_diff"
  var isChecked = document.getElementById(boolElem).checked;
  document.getElementById(diffElem).disabled = !isChecked;
  document.getElementById(boolElemHidden).checked = isChecked;
}
function changeHiddenSelect(diffElem)
{
  var diffElemHidden = diffElem + "_hidden"
  document.getElementById(diffElemHidden).value = document.getElementById(diffElem).value
  document.getElementById(diffElemHidden).selectedIndex = document.getElementById(diffElem).selectedIndex
}
function showPath()
{
  if(document.getElementById('displayPath').checked) {
    document.getElementById('path_div').style.display = "block";
  } else {
    document.getElementById('path_div').style.display = "none";
  }
}
</script>

<body>

{{
def displayKnow(know):
  response.write("<tr>\n", escape=False)

  checked="value=\"off\""
  if knows[know][0] is True:
    checked="checked=\"checked\" value=\"on\""
    pass
  response.write("  <td><input id=\"{}_bool\" name=\"{}_bool\" type=\"checkbox\" {} onClick=\"toggleSelect('{}')\" form=\"mainform\"></td>\n".format(know, know, checked, know), escape=False)

  if desc[know]['href'] is not None:
    response.write("  <td><a href=\"{}\">&nbsp&nbsp{}&nbsp&nbsp</a></td>\n".format(desc[know]['href'], desc[know]['display']), escape=False)
  else:
    response.write("  <td>&nbsp&nbsp{}&nbsp&nbsp</td>\n".format(desc[know]['display']), escape=False)
    pass

  disabled=""
  if knows[know][0] is False:
    disabled="disabled"
    pass

  response.write("  <td><select id=\"{}_diff\" name=\"{}_diff\" {} form=\"mainform\" onchange=\"changeHiddenSelect('{}_diff')\">\n".format(know, know, disabled, know), escape=False)
  knowDiff=knows[know][1]
  knowDiff=knowDiff if knowDiff != 0 else mania
  for difficulty in [easy, medium, hard, harder, hardcore, mania]:
    selected=""
    if knowDiff == difficulty:
      selected="selected=\"selected\""
      pass

    response.write("    <option value=\"{}\" {}>{}</option>\n".format(difficulties[difficulty], selected, difficulties[difficulty]), escape=False)
    pass

  response.write("  <td>&nbsp&nbsp{}</td>".format(desc[know]['title']), escape=False)

  response.write("  <td><input id=\"{}_bool_hidden\" name=\"{}_bool_hidden\" type=\"checkbox\" {} form=\"saveform\" style='visibility:hidden'></td>\n".format(know, know, checked, know), escape=False)

  response.write("  <td><select id=\"{}_diff_hidden\" name=\"{}_diff_hidden\" form=\"saveform\"  style='visibility:hidden'>\n".format(know, know), escape=False)
  knowDiff=knows[know][1]
  knowDiff=knowDiff if knowDiff != 0 else mania
  for difficulty in [easy, medium, hard, harder, hardcore, mania]:
    selected=""
    if knowDiff == difficulty:
      selected="selected=\"selected\""
      pass

    response.write("    <option value=\"{}\" {}>{}</option>\n".format(difficulties[difficulty], selected, difficulties[difficulty]), escape=False)
    pass


  response.write("</tr>\n", escape=False)
  pass

def displayCategory(category):
  response.write("<h2>{}</h2>\n".format(category['title']), escape=False)
  response.write("<table>\n", escape=False)
  for know in category['knows']:
    displayKnow(know)
    pass
  response.write("</table>\n", escape=False)
pass
}}

Enter your tournament rom seed, ajust the presets depending on the technics you know then press 'Compute Difficulty'.

{{=mainForm}}

<hr>

{{
if resultText is not None:
  =resultText

  if resultNormalized is not None:
    for i in [1,2,3,4,5]:
      if i <= resultNormalized:
        response.write("<span class=\"fa fa-star checked\"></span>", escape=False)
      else:
        response.write("<span class=\"fa fa-star\"></span>", escape=False)
        pass
      pass
    pass

  response.write("<br/>", escape=False)

  response.write("<input id=\"displayPath\" name=\"displayPath\" type=\"checkbox\" onClick=\"showPath()\">\n", escape=False)
  response.write("Display the generated path (spoilers)")

  response.write("<div id=\"path_div\" style=\"display:none;\">\n", escape=False)
  response.write("<hr>\n", escape=False)
  =pathTable
  response.write("</div>\n", escape=False)
  response.write("<hr>\n", escape=False)
  pass
}}

Load a previously saved presets.

{{=loadForm}}

<hr>

For each technic you can choose if you know it and your perceived difficulty.</br>
Clicking on most of the technics will send you to an explanation or a tutorial.

{{
for category in categories:
  displayCategory(category)
  pass

pass
}}

<hr>

Save or update the presets. A password is required to later modify the presets.

{{=saveForm}}

</body>
