{{
extend 'layout.html'
}}


<meta name="description" content="Solver for the randomized Super Metroid roms"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<link rel="stylesheet" type="text/css" href={{=URL('static/css','mystyle.css')}} media="screen"/>

<link href={{=URL('static', 'css/bootstrap-tour.min.css')}} rel="stylesheet">
<script src="{{=URL('static','js/bootstrap-tour.min.js')}}"></script>

<title>Super Metroid Item Randomizer Solver</title>

<style>
@media (min-width: 1200px) {
    .main {
        margin-top: 14em; /* Add a top margin to avoid content overlay */
    }
}
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
function changeRomType() {
  var romType = guessRomType(document.getElementById("romFile").value);
  document.getElementById("romType").value = romType;
}
function guessRomType(filename) {
  var re = /VARIA_Randomizer_[F]?X\d+/;
  var match = filename.match(re);

  if (match != null) {
    switch(match[0][17]) {
      case 'F':
        return "VARIA Full";
      case 'X':
        return "VARIA Classic";
    }
  }

  var re = /[CTFH]?X\d+/;
  var match = filename.match(re);

  if (match != null) {
    switch(match[0][0]) {
      case 'C':
        return "Total Casual";
      case 'T':
        return "Total Tournament";
      case 'F':
        return "Total Full";
      case 'H':
        return "Total Hard";
      case 'X':
        return "Total Normal";
    }
  }

  var re = /[CMS]?\d+/;
  var match = filename.match(re);

  if (match != null) {
    switch(match[0][0]) {
      case 'C':
        return "Dessy Casual";
      case 'M':
        return "Dessy Masochist";
      case 'S':
        return "Dessy Speedrunner";
    }
  }

  var re = /Super[ _]*Metroid/;
  var match = filename.match(re);

  if (match != null) {
    return "Vanilla";
  }

  // default to TX
  return "Total Tournament";
}
function askPassword() {
  var password = prompt("Please enter your password, it'll be used to later modify your preset, maximum 32 characters", "password");

  if (password != null) {
    document.getElementById("password").value = password;
    document.saveform.submit();
  }
}
function doSubmit() {
  if(window.File && window.FileList && window.FileReader) {
    document.getElementById("uploadFile").disabled = true;
  }
  return true;
}
function toggleSelect(elem)
{
  var boolElem = elem + "_bool";
  var boolElemHidden = boolElem + "_hidden";
  var diffElem = elem + "_diff";
  var isChecked = document.getElementById(boolElem).checked;
  document.getElementById(diffElem).disabled = !isChecked;
  document.getElementById(boolElemHidden).checked = isChecked;
}
function toggleOnlySelect(elem)
{
  var boolElem = elem + "_bool";
  var boolElemHidden = boolElem + "_hidden";
  var isChecked = document.getElementById(boolElem).checked;
  document.getElementById(boolElemHidden).checked = isChecked;
}
function changeHiddenSelect(diffElem)
{
  var diffElemHidden = diffElem + "_hidden";

  document.getElementById(diffElemHidden).value = document.getElementById(diffElem).value;
  document.getElementById(diffElemHidden).selectedIndex = document.getElementById(diffElem).selectedIndex;
}
function showPath()
{
  if(document.getElementById('displayPath').checked) {
    document.getElementById('path_div').style.display = "block";
  } else {
    document.getElementById('path_div').style.display = "none";
  }
}

{{
if resultText is not None:
}}

      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);


      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Role' });
        dataTable.addColumn({ type: 'string', id: 'Difficulty' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
{{
if diffPercent == 20 or diffPercent == 40 or diffPercent == 60 or diffPercent == 80:
  diffPercent += 1
  pass

if diffPercent <= 20:
  response.write("[ 'Difficulty', 'easy', new Date(1900, 0, 0), new Date(19{}, 0, 0) ]".format(diffPercent), escape=False)
else:
  response.write("[ 'Difficulty', 'easy', new Date(1900, 0, 0), new Date(1920, 0, 0) ],", escape=False)
  pass
if diffPercent > 20 and diffPercent <= 40:
  response.write("[ 'Difficulty', 'medium', new Date(1920, 0, 0), new Date(19{}, 0, 0) ]".format(diffPercent), escape=False)
elif diffPercent > 40:
  response.write("[ 'Difficulty', 'medium', new Date(1920, 0, 0), new Date(1940, 0, 0) ],", escape=False)
  pass
if diffPercent > 40 and diffPercent <= 60:
  response.write("[ 'Difficulty', 'hard', new Date(1940, 0, 0), new Date(19{}, 0, 0) ]".format(diffPercent), escape=False)
elif diffPercent > 60:
  response.write("[ 'Difficulty', 'hard', new Date(1940, 0, 0), new Date(1960, 0, 0) ],", escape=False)
  pass
if diffPercent > 60 and diffPercent <= 80:
  response.write("[ 'Difficulty', 'very hard', new Date(1960, 0, 0), new Date(19{}, 0, 0) ]".format(diffPercent), escape=False)
elif diffPercent > 80:
  response.write("[ 'Difficulty', 'very hard', new Date(1960, 0, 0), new Date(1980, 0, 0) ],", escape=False)
  pass
if diffPercent > 80 and diffPercent <= 100:
  if diffPercent == 100:
    diffPercent = 99
    pass
  response.write("[ 'Difficulty', 'hardcore', new Date(1980, 0, 0), new Date(19{}, 0, 0) ]".format(diffPercent), escape=False)
  pass
}}
          ]);

        var options = {
          hAxis: {
            minValue: new Date(1900, 0, 0),
            maxValue: new Date(2000, 0, 0)
          },
          timeline: { groupByRowLabel: true},
          tooltip: { trigger: 'none' },
          colors: ['#6daa53', '#f1be0b', '#e69235', '#d13434', '#000000'],
          avoidOverlappingGridLines: false,
        };

function allReady() {
    var e = document.getElementById('timeline');
    // svg elements don't have inner/outerHTML properties, so use the parents
    alert(e.getElementsByTagName('svg')[0].parentNode.innerHTML);
}

    google.visualization.events.addListener(chart, 'ready', function () {
      // remove haxis label
      var labels = container.getElementsByTagName('text');

      for (i = 0; i < labels.length; i++) {
        // console.log(labels[i].textContent)
        if (labels[i].textContent.substring(0,2) == '19') {
          //console.log("found")
          labels[i].parentNode.removeChild(labels[i]);
          i--;
        }
      }

    });
//google.visualization.events.addListener(chart, 'ready', allReady);
        chart.draw(dataTable, options);
}
{{
pass
}}

window.onload = function(){
    //Check File API support
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("uploadFile");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //It returns a FileList object
            var file = files[0];

            var reader = new FileReader();

            reader.onload = function(e) {
		// check sfc or smc extention
                var re = /(?:\.([^.]+))?$/;
		var ext = re.exec(file.name)[1];
                if( ! (ext === "sfc" || ext === "smc") ) {
                    document.getElementById("uploadFile").value = "";
                    alert("wrong extension: "+ext);
                    return false;
                }

                var re = /((.*)\.[^.]+)?$/;
                var base = re.exec(file.name)[1];

                var outFileName = file.name.replace(/\.[^/.]+$/, ".json");

                var fileSize = file.size;
		if( fileSize > 4*1024*1024 ) {
                    document.getElementById("uploadFile").value = "";
                    alert("Wrong ROM file size: "+fileSize.toString());
                    return false;
                }

                var bytes = new Uint8Array(e.target.result);

                var addresses = new Array(0x78264, 0x78404, 0x78432, 0x7852C, 0x78614, 0x786DE, 0x7879E, 0x787C2, 0x787FA, 0x78824, 0x78876, 0x7896E, 0x7899C, 0x78ACA, 0x78B24, 0x78BA4, 0x78BAC, 0x78C36, 0x78C3E, 0x78C82, 0x78CCA, 0x79108, 0x79110, 0x79184, 0x7C2E9, 0x7C337, 0x7C365, 0x7C36D, 0x7C47D, 0x7C559, 0x7C5E3, 0x7C6E5, 0x7C755, 0x7C7A7, 0x781CC, 0x781E8, 0x781EE, 0x781F4, 0x78248, 0x783EE, 0x78464, 0x7846A, 0x78478, 0x78486, 0x784AC, 0x784E4, 0x78518, 0x7851E, 0x78532, 0x78538, 0x78608, 0x7860E, 0x7865C, 0x78676, 0x7874C, 0x78798, 0x787D0, 0x78802, 0x78836, 0x7883C, 0x788CA, 0x7890E, 0x78914, 0x789EC, 0x78AE4, 0x78B46, 0x78BC0, 0x78BE6, 0x78BEC, 0x78C04, 0x78C14, 0x78C2A, 0x78C44, 0x78C52, 0x78C66, 0x78C74, 0x78CBC, 0x78E6E, 0x78E74, 0x78F30, 0x78FCA, 0x78FD2, 0x790C0, 0x79100, 0x7C265, 0x7C2EF, 0x7C319, 0x7C357, 0x7C437, 0x7C43D, 0x7C483, 0x7C4AF, 0x7C4B5, 0x7C533, 0x7C5DD, 0x7C5EB, 0x7C5F1, 0x7C603, 0x7C609, 0x7C74D)
                var locsItem = {};

                var arrayLength = addresses.length;
                for(var i=0; i<arrayLength; i++) {
                    locsItem[addresses[i]] = bytes[addresses[i]]
                    locsItem[addresses[i]+1] = bytes[addresses[i]+1]
                    locsItem[addresses[i]+4] = bytes[addresses[i]+4]
                }

                // check if layout patches are present
                locsItem[0x21BD80] = bytes[0x21BD80]
                // check if no grav heat patch is present
                locsItem[0x06e37d] = bytes[0x06e37d]

                locsItem["romFileName"] = outFileName;

                var json = JSON.stringify(locsItem)

                var output = document.getElementById("json");
                output.value = json;

                var romType = guessRomType(file.name);
                document.getElementById("romType").value = romType;

                var option = document.createElement('option');
                option.text = option.value = file.name;
                var select = document.getElementById("romFile");
                select.add(option, 0);
                select.value = option.value;
            }

            reader.readAsArrayBuffer(file)

        }, false);
    }
}

function startTheTour(step=-1) {
  // the tour tutorial
  var tour = new Tour({
    storage: false,
    steps: [
    {
      element: "#presetsStep",
      title: "Presets",
      content: "Load your preset or one of the predefined ones:<ul><li>noob</li><li>regular</li><li>veteran</li><li>speedrunner</li></ul><br/>Any preset can be used as a starting point to create your own using the New preset field. You will be asked a password when creating your preset, to be able to update it afterwards using the Update preset field.",
      placement: "auto left"
    },
    {
      element: "#difficulty_target",
      title: "Difficulty Target",
      content: "The maximum difficulty for picking up an item in the current area before moving to another area.<br/><b>Warning</b>: selecting a too hard difficulty may produce unrealistic results."
    },
    {
      element: "#pickup_strategy",
      title: "Pickup Strategy",
      content: "The strategy for picking up major and minor items.<br/>\
<ul><li>All:</li><ul><li>Will grab all the major and minor items.</li></ul>\
<li>Any:</li><ul><li>No requirements on the items as long as the ROM is finishable.<br/>\
<b>Warning</b>: The generated path may not be realistic.<br/>\
Use this setting on seeds that are unfinishable at first, such as masochist seeds in Dessyreqt randomizer.</li></ul>\
<li>Minimal:</li><ul><li>Majors: Will get Morph, Bomb and/or Power bombs, 3 ETanks, Varia,<br/>\
Gravity, Speed Booster or Ice Beam, and anything else along the way.</li>\
<li>Minors:Will pick up 10 Missiles packs, 5 Super packs and 2 Power Bomb packs.<br/>\
If Charge Beam is not picked up along the way or not accessible, enough minors to beat Mother Brain will be picked up.</li></ul></ul>"
    },
    {
      element: "#Ice",
      title: "Hellruns",
      content: "<b>No thanks</b>: Don't do hellruns.<br/>\
<b>Gimme energy</b>: Get comfortable before going in.<br/>\
<b>Default</b>: Balanced setting. For Lower Norfair's hell run \"Default\" means \"No thanks\".<br/>\
<b>Bring the heat</b>: You don't mind doing hell runs at all.<br/>\
<b>I run RBO</b>: Reverse Boss Order runner.<br/>"
    },
    {
      element: "#Kraid",
      title: "Bosses",
      content: "Logic behind the presets : the ones where you find the boss difficult are calibrated to give 'hard' in vanilla situations, the default are calibrated to give 'medium' in vanilla situations, just above gives 'easy' in vanilla situations, and top settings basically discards the boss except for extreme situations (very low energy or firepower).<br/>This is the estimated difficulty of the fight for a 'standard' kill. There are distinct parameters for special boss kill techniques (for example grappling Draygon, see Bosses in the Techniques section below)",
      placement: "auto left"
    }  ]});

  // Initialize the tour
  tour.init();

  // Start the tour
  if(step != -1) {
    tour.goTo(step);
  }
  tour.start();
}
</script>

<body>
{{
def displaySelect(name, values, value):
  response.write("<select id=\"{}\" name=\"{}\" form=\"mainform\" onchange=\"changeHiddenSelect('{}')\" class=\"filldropdown\">\n".format(name, name, name), escape=False)

  for difficulty in values:
    selected=""
    if value == difficulty:
      selected="selected=\"selected\""
      pass

    response.write("  <option value=\"{}\" {}>{}</option>\n".format(difficulty, selected, difficulty), escape=False)
    pass

  response.write("</select>\n", escape=False)

  response.write("<select id=\"{}_hidden\" name=\"{}_hidden\" form=\"saveform\" style='display:none'>\n".format(name, name), escape=False)

  for difficulty in values:
    selected=""
    if value == difficulty:
      selected="selected=\"selected\""
      pass

    response.write("  <option value=\"{}\" {}>{}</option>\n".format(difficulty, selected, difficulty), escape=False)
    pass

  response.write("</select>\n", escape=False)
  pass

def displayKnow(know):
  response.write("<tr>\n", escape=False)

  checked="value=\"off\""
  if knows[know][0] is True:
    checked="checked=\"checked\" value=\"on\""
    pass
  disabled=""
  if 'readonly' in desc[know] and desc[know]['readonly'] == True:
    disabled="disabled"
    pass
  response.write("  <td><input id=\"{}_bool\" name=\"{}_bool\" type=\"checkbox\" {} onClick=\"toggleSelect('{}')\" form=\"mainform\" {}></td>\n".format(know, know, checked, know, disabled), escape=False)

  if desc[know]['href'] is not None:
    response.write("  <td><a href=\"{}\">{}</a></td>\n".format(desc[know]['href'], desc[know]['display']), escape=False)
  else:
    response.write("  <td>{}</td>\n".format(desc[know]['display']), escape=False)
    pass

  disabled=""
  if knows[know][0] is False or ('readonly' in desc[know] and desc[know]['readonly'] == True):
    disabled="disabled"
    pass

  response.write("  <td><select id=\"{}_diff\" name=\"{}_diff\" {} form=\"mainform\" onchange=\"changeHiddenSelect('{}_diff')\">\n".format(know, know, disabled, know), escape=False)
  knowDiff=knows[know][1]
  knowDiff=knowDiff if knowDiff != 0 else mania
  for difficulty in [easy, medium, hard, harder, hardcore, mania]:
    selected=""
    if knowDiff == difficulty:
      selected="selected=\"selected\""
      pass

    response.write("    <option value=\"{}\" {}>{}</option>\n".format(difficulties[difficulty], selected, difficulties[difficulty]), escape=False)
    pass
  response.write("</select>\n", escape=False)

  response.write("  <td>{}</td>".format(desc[know]['title']), escape=False)

  response.write("  <td>", escape=False)
  first = True
  for room in desc[know]['rooms']:
    if first is True:
      first = False
    else:
      response.write(", ", escape=False)
      pass

    response.write("<a href=\"https://wiki.supermetroid.run/{}\">{}</a>".format(room.replace(' ', '_').replace("'", '%27'), room), escape=False)
    pass
  response.write("</td>", escape=False)

  response.write("  <input id=\"{}_bool_hidden\" name=\"{}_bool_hidden\" type=\"checkbox\" {} form=\"saveform\" style='display:none'>\n".format(know, know, checked, know), escape=False)

  response.write("  <select id=\"{}_diff_hidden\" name=\"{}_diff_hidden\" form=\"saveform\" style='display:none'>\n".format(know, know), escape=False)
  knowDiff=knows[know][1]
  knowDiff=knowDiff if knowDiff != 0 else mania
  for difficulty in [easy, medium, hard, harder, hardcore, mania]:
    selected=""
    if knowDiff == difficulty:
      selected="selected=\"selected\""
      pass

    response.write("    <option value=\"{}\" {}>{}</option>\n".format(difficulties[difficulty], selected, difficulties[difficulty]), escape=False)
    pass

  response.write("</select>\n", escape=False)

  response.write("</tr>\n", escape=False)
  pass

def displayCategory(category):
  response.write("<h2>{}</h2>\n".format(category['title']), escape=False)
  response.write("<table class=\"full\">\n", escape=False)

  response.write("<colgroup><col class=\"check\" /><col class=\"name\" /><col class=\"diff\" /><col class=\"desc\" /><col class=\"rooms\" />", escape=False)

  response.write("  <tr><th></th><th>Technique</th><th>Difficulty</th><th>Description</th><th>Used in rooms</th></tr>", escape=False)
  for know in category['knows']:
    displayKnow(know)
    pass
  response.write("</table>\n", escape=False)
pass
}}

<div class="fixed">
  <div class="menu">
    <button class="buttonBack" onclick="startTheTour()"><span class="glyphicon glyphicon-play"/></span>Start the tutorial</button>
    {{=A('Super Metroid VARIA Randomizer and Solver', _href=URL(f='solver'), _class='menu')}}
    {{=A('Solve!', _href=URL(f='solver'), _class='menu')}}
    {{=A('Randomize!', _href=URL(f='randomizer'), _class='menu')}}
    {{=A('Information & Contact', _href=URL(f='infos'), _class='menu')}}
  </div>
  <div class="row">
    <div class="column">
      <div class="paddingleft">
	<h3>ROM</h3>
	<p>
	  Ajust the presets depending on the techniques you know, choose your randomized ROM then press 'Compute Difficulty'.
	  {{=mainForm}}
	</p>
      </div>
    </div>
    <div class="column">
      <div class="paddingleft">
	<h3 id="presetsStep">Presets <button type="button" onclick="startTheTour(0)">?</button></h3>
	<p>
	  {{=loadForm}}
          {{=saveForm}}
	</p>
      </div>
    </div>
  </div>
</div>

<div class="main">

{{
if resultText is not None:
  =resultText

  difficulties = {
      easy : 'easy',
      medium : 'medium',
      hard : 'hard',
      harder : 'very hard',
      hardcore : 'hardcore',
      mania : 'mania',
      mania*2: 'god'
  }

  response.write("</table>", escape=False)

  response.write("<br/>", escape=False)
  pass
}}

{{
if resultText is not None and difficulty != -1:
}}
<div id="timeline" style="height: 95px; width: 50%;"></div>

<p>
  To solve this ROM {{=knowsUsed[0]}} distinct techniques have been used out of the {{=knowsUsed[1]}} known techniques.
</p>
{{
  if itemsOk is False:
}}
<p>
  Warning: the ROM is finishable, but we couldn't pickup all the requested items.
</p>

{{
    pass
  pass
}}


{{
if resultText is not None:
  response.write("<input id=\"displayPath\" name=\"displayPath\" type=\"checkbox\" onClick=\"showPath()\">\n", escape=False)
  response.write("Display the generated path (spoilers)")

  response.write("<div id=\"path_div\" style=\"display:none;\">\n", escape=False)
  response.write("<hr>\n", escape=False)
  =pathTable
  response.write("</div>\n", escape=False)
  pass
}}


<table class="full">
  <h1 class="nopadding">Global Settings</h1>
</table>

<div class="row">
  <div class="column">
<h3>Difficulty Target</h3>
<p>
<table class="full">
  <colgroup><col class="half" /><col class="half" /></colgroup>
  <tr>
    <td>Difficulty target:</td>
    <td>
{{
=SELECT('easy', 'medium', 'hard', 'very hard', 'hardcore', 'mania',
       _id="difficulty_target",
       _name="difficulty_target",
       _form="mainform",
       _onchange="changeHiddenSelect('difficulty_target')",
       _class="full",
       requires=IS_IN_SET(['easy', 'medium', 'hard', 'very hard', 'hardcore', 'mania']),
       value=difficulties[conf["target"]])
}}
{{
=SELECT('easy', 'medium', 'hard', 'very hard', 'hardcore', 'mania',
       _id="difficulty_target_hidden",
       _name="difficulty_target_hidden",
       _form="saveform",
       _style='display:none',
       requires=IS_IN_SET(['easy', 'medium', 'hard', 'very hard', 'hardcore', 'mania']),
       value=difficulties[conf["target"]])
}}
    </td>
    <td><button type="button" onclick="startTheTour(1)">?</button></td>
  </tr>
</table>
</p>
<h3>Pickup Strategy</h3>
<table class="full">
  <colgroup><col class="half" /><col class="half" /></colgroup>
  <tr>
    <td>Pickup strategy:</td>
    <td>
{{
=SELECT('all', 'minimal', 'any',
        _id="pickup_strategy",
        _name="pickup_strategy",
        _form="mainform",
        _onchange="changeHiddenSelect('pickup_strategy')",
        _class="full",
        requires=IS_IN_SET(['all', 'minimal', 'any']),
        value=conf["pickup"])
}}
{{
=SELECT('all', 'minimal', 'any',
        _id="pickup_strategy_hidden",
        _name="pickup_strategy_hidden",
        _form="saveform",
        _style='display:none',
        requires=IS_IN_SET(['all', 'minimal', 'any']),
        value=conf["pickup"])
}}
    </td>
    <td><button type="button" onclick="startTheTour(2)">?</button></td>
  </tr>
</table>
</p>

    <h3>Hellruns</h3>
    <p>
       <table class="full">
         <colgroup><col class="half" /><col class="half" /></colgroup>
	<tr>
	  <td>Ice:</td>
	  <td>
{{
      hellruns = ['No thanks', 'Gimme energy', 'Default', 'Bring the heat', 'I run RBO']
      displaySelect("Ice", hellruns, settings['Ice'])
}}
	  </td>
          <td><button type="button" onclick="startTheTour(3)">?</button></td>
	</tr>
	<tr>
	  <td>Main Upper Norfair:</td>
	  <td>
{{
      displaySelect("MainUpperNorfair", hellruns, settings['MainUpperNorfair'])
}}
	  </td>
	</tr>
	<tr>
	  <td>Lower Norfair:</td>
	  <td>
{{
      hellruns = ['Default', 'Bring the heat', 'I run RBO']
      displaySelect("LowerNorfair", hellruns, settings['LowerNorfair'])
}}
	  </td>
	</tr>
      </table>

    </p>
  </div>
  <div class="column">
    <h3>Bosses</h3>
    <p>
      <table class="full">
        <colgroup><col class="half" /><col class="half" /></colgroup>
	<tr>
	  <td>Kraid:</td>
	  <td>
{{
      kraid = ["He's annoying", 'Default', 'Quick Kill']
      displaySelect("Kraid", kraid, settings['Kraid'])
}}
	  </td>
          <td><button type="button" onclick="startTheTour(4)">?</button></td>
	</tr>

	<tr>
	  <td>Draygon:</td>
	  <td>
{{
      draygon = ['A lot of trouble', 'Default', 'Used to it', 'No problemo']
      displaySelect("Draygon", draygon, settings['Draygon'])
}}
	  </td>
	</tr>

	<tr>
	  <td>Ridley:</td>
	  <td>
{{
      ridley = ["I'm scared!", 'Default', 'Used to it', 'Piece of cake']
      displaySelect("Ridley", ridley, settings['Ridley'])
}}
	  </td>
	</tr>

	<tr>
	  <td>Phantoon:</td>
	  <td>
{{
      phantoon = ['A lot of trouble', 'Default', 'Used to it', 'No problemo']
      displaySelect("Phantoon", phantoon, settings['Phantoon'])
}}
	  </td>
	</tr>

	<tr>
	  <td>Mother Brain:</td>
	  <td>
{{
      motherBrain = ['It can get ugly', 'Default', 'Is this really the last boss?', 'Nice cutscene bro']
      displaySelect("MotherBrain", motherBrain, settings['MotherBrain'])
}}
	  </td>
	</tr>
      </table>
    </p>
  </div>
</div>

<h3>Items not picked up</h3>
<p>
  For testing purpose you can choose to not pick up some items.
</p>
<table class="full">
<tr>
{{
  i = 0
  for item in ['Bomb', 'Charge', 'ETank', 'Grapple', 'Gravity', 'HiJump', 'Ice', 'Missile', 'Morph', 'Plasma', 'PowerBomb', 'Reserve', 'ScrewAttack', 'SpaceJump', 'Spazer', 'SpeedBooster', 'SpringBall', 'Super', 'Varia', 'Wave', 'XRayScope']:
    if item in conf["itemsForbidden"]:
      checked = "checked=\"checked\" value=\"on\""
    else:
      checked = ""
      pass
    response.write("<td><input id=\"{}_bool\" name=\"{}_bool\" type=\"checkbox\" {} onClick=\"toggleOnlySelect('{}')\" form=\"mainform\">\n".format(item, item, checked, item), escape=False)
    response.write("<input id=\"{}_bool_hidden\" name=\"{}_bool_hidden\" type=\"checkbox\" {} form=\"saveform\" style='display:none'>\n".format(item, item, checked), escape=False)

    response.write("{}<br/>".format(item), escape=False)
    response.write("</td>", escape=False)

    i += 1
    if i % 7 == 0:
      response.write("</tr><tr>", escape=False)
      pass
    pass
}}
</tr>
</table>

<table class="full">
  <h1 class="nopadding">Techniques</h1>
</table>

<p>
For each technique you can choose if you know it and your perceived difficulty.</br>
Clicking on most of the techniques will send you to an explanation or a tutorial.
</p>
{{
for category in categories:
  displayCategory(category)
  pass

pass
}}

</div>
<br/>
</body>
