{{extend 'layout.html'}}
<!--
<select id="paramsClass" name="paramsClass" onchange="showDiv(this)">
   <option value="noob">Noob</option>
   <option value ="regular">Regular</option>
   <option value="veteran">Veteran</option>
</select>

function showDiv(elem){
   if(elem.value == "noob")
      document.getElementById('noob_div').style.display = "block";
   if(elem.value == "regular")
      document.getElementById(regular_div').style.display = "block";
   if(elem.value == "veteran")
      document.getElementById('veteran_div').style.display = "block";
}
-->

<script>
// window.onload = toggleSelect(); // to disable select on load if needed

function toggleSelect(elem)
{
  var boolElem = elem + "_bool"
  var diffElem = elem + "_diff"
  var isChecked = document.getElementById(boolElem).checked;
  document.getElementById(diffElem).disabled = !isChecked;
}
</script>

<body>

{{
def displayKnow(know):
  response.write("<tr>\n", escape=False)

  if desc[know]['href'] is not None:
    response.write("  <td><span title=\"{}\"><a href=\"{}\">{}</a></span></td>\n".format(desc[know]['title'], desc[know]['href'], know), escape=False)
  else:
    response.write("  <td><span title=\"{}\">{}</span></td>\n".format(desc[know]['title'], know), escape=False)
    pass

  checked="value=\"off\""
  if knows[know][0] is True:
    checked="checked=\"checked\" value=\"on\""
    pass
  response.write("  <td><input id=\"{}_bool\" name=\"{}_bool\" type=\"checkbox\" {} onClick=\"toggleSelect('{}')\" form=\"mainform\"></td>\n".format(know, know, checked, know), escape=False)

  disabled=""
  if knows[know][0] is False:
    disabled="disabled"
    pass
  response.write("  <td><select id=\"{}_diff\" name=\"{}_diff\" {} form=\"mainform\">\n".format(know, know, disabled), escape=False)
  knowDiff=knows[know][1]
  knowDiff=knowDiff if knowDiff != 0 else mania
  for difficulty in [easy, medium, hard, harder, hardcore, mania]:
    selected=""
    if knowDiff == difficulty:
      selected="selected=\"selected\""
      pass

    response.write("    <option value=\"{}\" {}>{}</option>\n".format(difficulties[difficulty], selected, difficulties[difficulty]), escape=False)
    pass

  response.write("</tr>\n", escape=False)
  pass

def displayCategory(category):
  response.write("<h2>{}</h2>\n".format(category['title']), escape=False)
  response.write("<table>\n", escape=False)
  for know in category['knows']:
    displayKnow(know)
    pass
  response.write("</table>\n", escape=False)
pass
}}

{{=form}}

<div id="regular">

{{
for category in categories:
  displayCategory(category)
  pass

pass
}}
</div>
</body>
