{{
extend 'layout.html'
}}

<meta name="description" content="Statistics of the VARIA Randomizer and Solver"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<link rel="stylesheet" type="text/css" href={{=URL('static/css','mystyle_20180802.css')}} media="screen"/>
<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
<script type = "text/javascript">google.charts.load('current', {packages: ['corechart']});</script>
<script type="text/javascript" src="{{=URL('static', '/js/excellentexport.js')}}"></script>

<title>Super Metroid VARIA Randomizer and Solver statistics</title>

<style>
.main {
    margin-bottom: 1em;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}
th {
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>

<script language = "JavaScript">
// https://www.w3schools.com/howto/howto_js_sort_table.asp
function sortTable(id, n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById(id);
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first and last, which contains table headers): */
    for (i = 1; i < (rows.length - 2); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function drawCharts() {
  drawSolverPresets();
  drawRandomizerPresets();
  drawSolverDurations();
  drawRandomizerDurations();
}

function drawSolverPresets() {
{{
  if solverPresets == None:
    response.write("  return;", escape=False)
    pass
  else:
}}
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable([
      [{type: 'date', label: 'Date'}, {{response.write(", ".join(["'{}'".format(p) for p in solverPresets[0]]), escape=False)}}]
{{
    for row in solverPresets[1]:
      response.write(", [\"Date({}, {}, {})\", {}]".format(row[0].year, row[0].month-1, row[0].day, ", ".join([str(x) for x in row[1:]])), escape=False)
      pass
}}
    ]);

    var options = {
      title: 'presets used to solve each day',
      isStacked: true
    };

    // Instantiate and draw the chart.
    var chart = new google.visualization.ColumnChart(document.getElementById("solverPresets"));
    chart.draw(data, options);
{{
    pass
}}
}

function drawRandomizerPresets() {
{{
  if randomizerPresets == None:
    response.write("  return;", escape=False)
    pass
  else:
}}
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable([
    [{type: 'date', label: 'Date'}, {{response.write(", ".join(["'{}'".format(p) for p in randomizerPresets[0]]), escape=False)}}]
{{
    for row in randomizerPresets[1]:
      response.write(", [\"Date({}, {}, {})\", {}]".format(row[0].year, row[0].month-1, row[0].day, ", ".join([str(x) for x in row[1:]])), escape=False)
      pass
}}
    ]);

    var options = {
      title: 'presets used to randomize each day',
      isStacked: true
    };

    // Instantiate and draw the chart.
    var chart = new google.visualization.ColumnChart(document.getElementById("randomizerPresets"));
    chart.draw(data, options);
{{
    pass
}}
}

function drawSolverDurations() {
{{
  if solverDurations == None:
    response.write("  return;", escape=False)
    pass
  else:
}}
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable([
    [{type: 'date', label: 'Date'}, "Duration"]
{{
    for (date, duration) in solverDurations:
      response.write(", [\"Date({}, {}, {}, {}, {}, {})\", {}]".format(date.year, date.month-1, date.day, date.hour, date.minute, date.second, duration), escape=False)
      pass
}}
    ]);

      var options = {
        title: 'Duration in second of ROMs solved'
      };

      // Instantiate and draw the chart.
      var chart = new google.visualization.ColumnChart(document.getElementById("solverDurations"));
      chart.draw(data, options);
{{
    pass
}}
}

function drawRandomizerDurations() {
{{
  if randomizerDurations == None:
    response.write("  return;", escape=False)
    pass
  else:
}}
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable([
    [{type: 'date', label: 'Date'}, "Duration"]
{{
    for (date, duration) in randomizerDurations:
      response.write(", [\"Date({}, {}, {}, {}, {}, {})\", {}]".format(date.year, date.month-1, date.day, date.hour, date.minute, date.second, duration), escape=False)
      pass
}}
    ]);

    var options = {
      title: 'Duration in second of ROMs generated'
    };

    // Instantiate and draw the chart.
    var chart = new google.visualization.ColumnChart(document.getElementById("randomizerDurations"));
    chart.draw(data, options);
{{
    pass
}}
}

google.charts.setOnLoadCallback(drawCharts);
</script>

<div class="fixed">
  <div class="menu">
    {{=A("Super Metroid VARIA Randomizer and Solver", _href=URL(f="home"), _class="menu")}}
    {{=A("Presets", _href=URL(f="presets"), _class="menu")}}
    {{=A("Randomizer", _href=URL(f="randomizer"), _class="menu")}}
    {{=A("Solver", _href=URL(f="solver"), _class="menu")}}
    {{=A("Information & Contact", _href=URL(f="infos"), _class="menu")}}
  </div>
</div>

<div class="row">
  <div class="column">
    <h4>Randomizer statistics</h4>
    <div id = "randomizerPresets" style = "width: 550px; height: 400px; margin: 0 auto"></div>
    <div id = "randomizerDurations" style = "width: 550px; height: 400px; margin: 0 auto"></div>
  </div>
  <div class="column">
    <h4>Solver statistics</h4>
    <div id = "solverPresets" style = "width: 550px; height: 400px; margin: 0 auto"></div>
    <div id = "solverDurations" style = "width: 550px; height: 400px; margin: 0 auto"></div>
  </div>
</div>

{{
  def displayData(data):
    if data == None:
      response.write("No data\n", escape=False)
    else:
      response.write("<table  id=\"solverData\" class=\"full\">\n", escape=False)

      response.write("  <tr>\n", escape=False)
      i = 0
      for col in data[0]:
        response.write("    <th onclick=\"sortTable('solverData', {})\">{}</th>\n".format(i, col), escape=False)
        i += 1
        pass
      response.write("  </tr>\n", escape=False)

      for row in data[1]:
        response.write("  <tr>\n", escape=False)
        for col in row:
          response.write("    <td style=\"white-space: nowrap\">{}</td>\n".format(col), escape=False)
          pass
        response.write("  </tr>\n", escape=False)
        pass

      response.write("  <tr>\n", escape=False)
      i = 0
      for col in data[0]:
        response.write("    <th onclick=\"sortTable('solverData', {})\">{}</th>\n".format(i, col), escape=False)
        i += 1
        pass
      response.write("  </tr>\n", escape=False)

      response.write("</table>\n", escape=False)
      pass
    pass
}}

<h4>Solver data</h4>
{{displayData(solverData)}}

<a download="solver.csv" href="#" onclick="return ExcellentExport.csv(this, 'solverData');">Export to CSV</a>

<h4>Randomizer data</h4>
{{
    # data[0]: list of column headers, data[1]: rows (last column is a dict of the params), data[2]: list of params
    data = randomizerData
    if data == None:
      response.write("No data\n", escape=False)
    else:
      response.write("<table id=\"randomizerData\" class=\"full\">\n", escape=False)
      response.write("  <tr>\n", escape=False)

      i = 0
      # standard columns execpt last one (error msg)
      for col in data[0][0:-1]:
        response.write("    <th onclick=\"sortTable('randomizerData', {})\">{}</th>\n".format(i, col), escape=False)
        i += 1
        pass
      # dynamic parameters
      paramList = data[2]
      for col in paramList:
        response.write("    <th onclick=\"sortTable('randomizerData', {})\">{}</th>\n".format(i, col), escape=False)
        i += 1
        pass
      # put error message at the end
      col = data[0][-1]
      response.write("    <th onclick=\"sortTable('randomizerData', {})\">{}</th>\n".format(i, col), escape=False)

      response.write("  </tr>\n", escape=False)

      for row in data[1]:
        response.write("  <tr>\n", escape=False)
        # standard params except dynamic ones and error msg
        for col in row[0:-2]:
          response.write("    <td style=\"white-space: nowrap\">{}</td>\n".format(col), escape=False)
          pass
        # dynamic parameters
        paramDict = row[-1]
        for param in paramList:
          if param in paramDict:
            response.write("    <td style=\"white-space: nowrap\">{}</td>\n".format('true' if paramDict[param] == 'None' else paramDict[param]), escape=False)
          else:
            response.write("    <td>false</td>\n", escape=False)
            pass
          pass
        # error msg
        col = row[-2]
        response.write("    <td style=\"white-space: nowrap\">{}</td>\n".format(col), escape=False)

        response.write("  </tr>\n", escape=False)
        pass

      response.write("  <tr>\n", escape=False)

      i = 0
      # standard columns execpt last one (error msg)
      for col in data[0][0:-1]:
        response.write("    <th onclick=\"sortTable('randomizerData', {})\">{}</th>\n".format(i, col), escape=False)
        i += 1
        pass
      # dynamic parameters
      paramList = data[2]
      for col in paramList:
        response.write("    <th onclick=\"sortTable('randomizerData', {})\">{}</th>\n".format(i, col), escape=False)
        i += 1
        pass
      # put error message at the end
      col = data[0][-1]
      response.write("    <th onclick=\"sortTable('randomizerData', {})\">{}</th>\n".format(i, col), escape=False)

      response.write("  </tr>\n", escape=False)

      response.write("</table>\n", escape=False)
      pass
    pass
}}

<a download="randomizer.csv" href="#" onclick="return ExcellentExport.csv(this, 'randomizerData');">Export to CSV</a>

<h4>Errors</h4>
{{
  if len(errors) == 0:
    response.write("No errors", escape=False)
  else:
    response.write("<table>", escape=False)
    for error in errors:
      response.write("  <tr><td><a href=\"https://randommetroidsolver.pythonanywhere.com/admin/default/index?send=%2Fadmin%2Fdefault%2Fticket%2Fsolver%2F{}\">{}</td></tr>".format(error, error), escape=False)
      pass
    response.write("</table>", escape=False)
    pass
}}

<br/>
