<meta name="description" content="Super Metroid VARIA Randomizer, Solver and Tracker"/>
<link rel="shortcut icon" href={{=URL('static','favicon.ico')}} type="image/ico"/>
<link rel="stylesheet" type="text/css" href={{=URL('static','css/mystyle_20190320.css')}} media="screen"/>

<link href={{=URL('static', 'css/bootstrap-tour.min.css')}} rel="stylesheet">
<script src="{{=URL('static','js/bootstrap-tour.min.js')}}"></script>

<script type="text/javascript" src="{{=URL('static', 'js/chosen.jquery.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href={{=URL("static", "css/chosen.css")}} />

<script type="text/javascript" src="{{=URL('static', 'js/leader-line.min.js')}}"></script>

<script src="{{=URL('static','js/FileSaver.js')}}"></script>
