// https://stackoverflow.com/questions/16960690/chosen-harvesthq-resize-width-dynamically
$(document).ready(function(){      
   resizeChosen();
   jQuery(window).on('resize', resizeChosen);
});

function resizeChosen() {
   $(".chosen-container").each(function() {
       $(this).attr('style', 'width: 100%');
   });          
}

var loaded = false;

function interfaceIsFrozen() {
    return loaded == false || webServInProgress == true || init == false || autoTrackInProgress == true;
}

//-----------------------------------------------------------
// AREAS TRACKER

function checkCompatibleAPs(startAP, endAP) {
{{
  response.write("  var vanillaAPs = {};\n".format(vanillaAPs), escape=False)
  response.write("  var vanillaBossesAPs = {};\n".format(vanillaBossesAPs), escape=False)
}}

  if(hasMixedTransitions == true) {
    return true;
  }

  return (vanillaAPs.includes(startAP) && vanillaAPs.includes(endAP)) || (vanillaBossesAPs.includes(startAP) && vanillaBossesAPs.includes(endAP));
}

function isEscapeAP(ap) {
{{
    response.write("  var escapeAPs = {};\n".format(escapeAPs), escape=False)
}}

    return escapeAPs.includes(ap);
}

function addPortal(startPoint, endPoint) {
  ajaxCall({action: "add", scope: "area", startPoint: startPoint, endPoint: endPoint}, "upload");
}

function removePortal(startPoint) {
  if(interfaceIsFrozen()) {
    return;
  }

  // TODO not sure what this is about
  // if(! isActive("repeatArea")) {
  //   return;
  // }

  ajaxCall({action: "remove", scope: "area", startPoint: startPoint}, "upload");
}

function resetPortals() {
  ajaxCall({action: "remove", scope: "area" }, "upload");
}

//-----------------------------------------------------------
// COMMON

var ajaxChainedActions = [];

function ajaxFailJSON(jqXHR, textStatus) {
  webServInProgress = false;

  // if chained actions were planned, cancel them
  ajaxChainedActions = [];

  console.log("error ["+jqXHR.responseJSON+"] ["+jqXHR.responseText+"] ["+textStatus+"]");

  setWSIcon("warning");
  document.getElementById("flash").innerHTML = jqXHR.responseText;
  $('#flash').show();
  $('#overlay').hide();
  $('#loadingGIF').hide();
}

var lastAction = null;
var lastTime = null;
function ajaxCall(dataDict, msg, okFunc=ajaxOkGet) {
    if(!("mode" in dataDict)) {
      dataDict["mode"] = document.getElementById("mode").value;
    }
    if(!("logic" in dataDict)) {
      dataDict["logic"] = logic;
    }

    // always store the timer
    if(escapeRando == true && mode == "plando") {
      var value = document.getElementById("timer").value;
      dataDict["escapeTimer"] = value;
    }

    webServInProgress = true;

    lastAction = dataDict;
    lastTime = new Date();
    var request = $.ajax({
      url: "{{=URL(f='trackerWebService')}}",
      method: "POST",
      data: dataDict,
      dataType: "json",
      crossDomain: true
    });

    setWSIcon(msg);

    request.done(okFunc);
    request.fail(ajaxFailJSON);
}

function ajaxCallChained() {
  // to call several ws, one after the other

  console.log("ajaxCallChained with " + ajaxChainedActions.length + " actions");

  var nextAction = ajaxChainedActions.pop();
  if("idxFunc" in nextAction) {
    var funcName = nextAction["idxFunc"];
    window[funcName](true);
  }
  ajaxCall(nextAction, "upload", ajaxOkChained);
}

function ajaxOkChained(jsonData) {
  // hard coded for now, as it's the only one we use in the tracker
  ajaxOkGet(jsonData, "success", null, true);

  if(ajaxChainedActions.length > 0) {
    console.log("ajaxOkChained: " + ajaxChainedActions.length + " actions remaining");
    var nextAction = ajaxChainedActions.pop();
    if("idxFunc" in nextAction) {
      var funcName = nextAction["idxFunc"];
      window[funcName](true);
    }
    ajaxCall(nextAction, "upload", ajaxOkChained);
  } else {
    console.log("ajaxOkChained: no actions remaining");
    webServInProgress = false;
  }
}

function setWSIcon(icon) {
  // ws_icon is the "websocket icon" used to communicate connection status
  $tracker.setVaria({ ws_icon: icon });
}

function ajaxOkGet(jsonData, status, dummy, chained=false) {
    var curTime = new Date();
    console.log("ajax call took "+(curTime - lastTime)+"ms");
    lastTime = curTime;

    if(chained == false) {
        webServInProgress = false;
    }

    // for plando rando
    $('#overlay').hide();
    $('#loadingGIF').hide();

    // get dicts availableLocations and visitedLocations
    if(jsonData == "OK") {
        setWSIcon("checkmark");
        return;
    }

    // This is the main action to connecting the data to the new vue app
    // Everything else should eventually be folded into this
    window.$tracker.setJsonData(jsonData)

    if(jsonData["errorMsg"] != "") {
        document.getElementById("flash").innerHTML = jsonData["errorMsg"];
        $('#flash').show();
    }

    if(mode != "standard") {
        hideItemPopup();
    }

    if(lastAction != null && lastAction["action"] != "init" && (lastAction["scope"] == "area" || lastAction["scope"] == "dump")) {
    } else {
        // load everything
        updateGlobal(jsonData);
        updateTimer(jsonData);
    }

    setWSIcon("checkmark");

    if(autoTrackInProgress || mode == "debug") {
        // auto tracker: rearm timer for next data retrieval, never display the stuck alert
        // debug: highlight next VCR loc
        postAjaxHook();
    } else {
        // if no available locations, display a popup telling you're stuck.
        // in race protected seeds we can't load transitions as they're encrypted,
        // so allTransitions var don't behave correctly.
        if(Object.keys(jsonData["availableLocations"]).length == 0 && chained == false && mode != "race") {
            if(jsonData["allTransitions"] == true
               && jsonData["allDoorsRevealed"] == true
               && tourian != "Disabled"
               && !$tracker.json_data.visitedLocations.MotherBrain) {
                  alert("You're stuck, you can't finish this seed with the given preset.");
            }
        }
    }

    curTime = new Date();
    console.log("state loading took "+(curTime - lastTime)+"ms");
}

function isSeedless(mode) {
    return mode == "seedless" || mode == "debug" || mode == "race"
}

function updateTimer(jsonData) {
    // add timer input
    if(escapeRando == true && mode == "plando") {
        var timer = document.getElementById("timer");
        timer.value = jsonData["escapeTimer"];
        timer.style.display = "block";
    } else {
        document.getElementById("timer").style.display = "none";
    }
}

function updateGlobal(jsonData) {
    logic = jsonData["logic"];
    mode = jsonData["mode"];
    majorsSplit = jsonData["majorsSplit"];
    area = jsonData["areaRando"];
    boss = jsonData["bossRando"];
    hasMixedTransitions = jsonData["hasMixedTransitions"];
    escapeRando = jsonData["escapeRando"];
    seed = jsonData["seed"];
    preset = jsonData["preset"];
    doorsRando = jsonData["doorsRando"];
    hasNothing = jsonData["hasNothing"];
    tourian = jsonData["tourian"];
    init = true;

    document.getElementById("mode").value = mode;

    updateGlobalHook(jsonData);
}

function isActive(elemId) {
  if(elemId.includes("Plando")) {
    if(mode == "plando") {
      return true;
    } else {
      return elemId == "startPlando";
    }
  }
  if(elemId.includes("Item")) {
    if(mode != "plando") {
      return true;
    } else {
      return elemId == "startItem";
    }
  }
  if(elemId.includes("Area")) {
    return area || boss || (escapeRando && mode == "plando");
  }
}

//-----------------------------------------------------------
// ITEMS TRACKER

var lastAP = "landingSite";
var logic = "vanilla";
var mode = "standard";
var majorsSplit = "Full";
var area = true;
var boss = true;
var hasMixedTransitions = false;
var escapeRando = true;
var init = false;
var webServInProgress = false;
var doorsRando = false;
var autoTrackInProgress = false;
var hasNothing = false;
var g4 = ["Kraid", "Phantoon", "Draygon", "Ridley"];
var tourian = "Vanilla";

var tile2char = {243: '.', 244: '0', 207: '-', 208: 'a', 209: 'b', 210: 'c', 211: 'd', 212: 'e', 213: 'f', 214: 'g', 215: 'h', 216: 'i', 217: 'j', 218: 'k', 219: 'l', 220: 'm', 221: 'n', 222: 'o', 223: 'p', 224: 'q', 225: 'r', 226: 's', 227: 't', 228: 'u', 229: 'v', 230: 'w', 231: 'x', 232: 'y', 233: 'z', 245: '1', 246: '2', 247: '3', 248: '4', 249: '5', 250: '6', 251: '7', 252: '8', 253: '9'};

var version = "";
var romIsRaceProtected = false;
window.onload = function(){
  initCurMode();

  ajaxCall({action: "get", scope: "common"}, "download");

  // set lastAction to null to load everything
  lastAction = null;

  $("#lastAP").attr("class", "lastAP "+lastAP+"Gps");

  // display the help on first connection to the tracker
{{
  if "firstTime" in curSession and curSession["firstTime"] == True:
    curSession["firstTime"] = False
}}
    startTheTour(0);
{{
    pass
}}

  var filesInput = document.getElementById("uploadFile");
  filesInput.addEventListener("change", function(event) {
    var files = event.target.files; // It returns a FileList object
    var file = files[0];
  
    var crc32 = new Crc32();
    var reader = new FileReader();
  
    reader.onload = function(e) {
          // check sfc or smc extention
        var re = /(?:\.([^.]+))?$/;
          var ext = re.exec(file.name)[1];
        if( ! (ext === "sfc" || ext === "smc" || ext === "SFC" || ext === "SMC") ) {
            document.getElementById("uploadFile").value = "";
            alert("Wrong extension: "+ext);
            return false;
        }

        var re = /((.*)\.[^.]+)?$/;
        var base = re.exec(file.name)[1];
  
        var outFileName = file.name.replace(/\.[^/.]+$/, ".json");

        var fileSize = file.size;
        crc32.update(e.target.result);
        var digest = crc32.digest();
        if( fileSize > 4*1024*1024 ) {
            document.getElementById("uploadFile").value = "";
            alert("Wrong ROM file size: "+fileSize.toString());
            return false;
        } else if( fileSize == 3146240) {
            document.getElementById("uploadFile").value = "";
            alert("Headered ROM detected, please use an unheadered ROM");
            return false;
        } else if(mode == "plando" && fileSize == 4*1024*1024) {
            alert("Warning: You won't be able to upload a Sprite customized seed in the Plandository (hosting space constraints)");
        } else if(mode == "plando" && digest == "d63ed5f8") {
            document.getElementById("uploadFile").value = "";
            alert("Vanilla ROM detected, use an already randomized VARIA ROM");
            return false;
        }


        var bytes = new Uint8Array(e.target.result);

        // detect race mode patch
        romIsRaceProtected = false;
        for(var addr=0x1C0200; addr<0x1C0210; addr++) {
            if(bytes[addr] != 0xff) {
                if(mode == "plando" && debug == false) {
                    clearInputSeed();
                    alert("Race protected seed detected");
                    return false;
                } else {
                    romIsRaceProtected = true;
                    break;
                }
            }
        }

        // in plando check that seed version if the same as the current one
        if(mode == "plando") {
            length = bytes[0x0673e9];
            // beta or r.2020.12.09 or non VARIA
            if (length == 4) {
                if (version != "beta") {
                    clearInputSeed();
                    alert("Base seed is a beta seed, use a seed generated on production");
                    return false;
                }
            } else if (length == 12) {
                var seedVersion = "";
                for (var i=0; i<length; i++) {
                    seedVersion += tile2char[bytes[0x0673ee+i*5]];
                }
                if(seedVersion != version) {
                    clearInputSeed();
                    alert("Base seed's version is "+seedVersion+" but current version is "+version+", use a base seed generated with the current version");
                    return false;
                }
            } else {
                clearInputSeed();
                alert("Base seed's is not a VARIA one, use a base seed generated on the randomizer page");
                return false;
            }

            // check if base seed is a minimizer without crateria.
            // prevent it as it can cause issues if the user connect crateria afterward.
            // detect if Climb_Asleep patch is present.
            if(bytes[0x796CC] == 0x7f) {
                clearInputSeed();
                alert("Use a minimizer with 100 locations as your base seed");
                return false;
            }

            // put the plando seed in local storage
            localforage.setItem('plandoROM', e.target.result, function(err, value) {
                if(err != null) {
                    console.log("Error detected with local storage: "+err);
                } else {
                    console.log("plando ROM stored in local storage");
                }
            });
        }

        // detect logic
        logic = "vanilla";
{{
    for logic, values in flavorPatches.items():
        response.write("        if(bytes["+str(values['address'])+"] == "+str(values['value'])+") { logic = '"+logic+"'; }\n", escape=False)
        pass
}}

        var romData = {};
  
        // locations items
        var addresses = new Array({{=", ".join(str(address) for address in addresses["locations"])}});
  
        var arrayLength = addresses.length;
        for(var i=0; i<arrayLength; i++) {
            romData[addresses[i]] = bytes[addresses[i]];
            romData[addresses[i]+1] = bytes[addresses[i]+1];
            romData[addresses[i]+4] = bytes[addresses[i]+4];
        }
  
        // patches
        var addresses = new Array({{=", ".join(str(address) for address in addresses["patches"])}});
        var arrayLength = addresses.length;
        for(var i=0; i<arrayLength; i++) {
            romData[addresses[i]] = bytes[addresses[i]];
        }

        // transitions
        var addresses = new Array({{=", ".join(str(address) for address in addresses["transitions"])}});
        var arrayLengthTransitions = addresses.length;
        for(var i=0; i<arrayLengthTransitions; i++) {
            // room ptr
            romData[addresses[i]] = bytes[addresses[i]];
            romData[addresses[i]+1] = bytes[addresses[i]+1];
            // direction
            romData[addresses[i]+3] = bytes[addresses[i]+3];
            // screen x y
            romData[addresses[i]+6] = bytes[addresses[i]+6];
            romData[addresses[i]+7] = bytes[addresses[i]+7];
            // distance to spawn
            romData[addresses[i]+8] = bytes[addresses[i]+8];
            romData[addresses[i]+9] = bytes[addresses[i]+9];
            // asmPtr
            romData[addresses[i]+10] = bytes[addresses[i]+10];
            romData[addresses[i]+11] = bytes[addresses[i]+11];
        }
  
        // misc
        var addresses = new Array({{=", ".join(str(address) for address in addresses["misc"])}});
        var arrayLength = addresses.length;
        for(var i=0; i<arrayLength; i++) {
            romData[addresses[i]] = bytes[addresses[i]];
        }

        // ranges
        var ranges = new Array({{=", ".join(str(range) for range in addresses["ranges"])}});
        var arrayLength = ranges.length;
        for(var i=0; i<arrayLength; i+=2) {
          low = ranges[i];
          high = ranges[i+1];
          for(var j=low; j<=high; j++) {
            romData[j] = bytes[j];
          }
        }

        romData["romFileName"] = outFileName;
  
        var json = JSON.stringify(romData);
  
        var output = document.getElementById("romJson");
        output.value = json;

        setGuessedPreset(file.name);

        document.getElementById("startLocationVisibility").style.display = "none";
        document.getElementById("logicVisibility").style.display = "none";
        document.getElementById("doorsRandoVisibility").style.display = "none";
    }
  
    reader.readAsArrayBuffer(file);
  }, false);

  // defined in plando.html/tracker.html
  onloadHook();

  dragElement(document.getElementById("solverPopup"), "solverGrab");

  $("#placeItemButton").keypress(onEnterKey);

  loaded = true;
}

function onEnterKey(event) {
  if(event.keyCode === 13) {
    if(document.getElementById("itemPopup").style.display != "none") {
      placeItem();
    }
  }
}

function setGuessedPreset(romName){
  var preset = guessVARIAPreset(romName);
  if(preset != null) {
    document.getElementById("preset").value = preset;
    $("#preset").trigger("chosen:updated");
  }
}

function guessVARIAPreset(filename) {
  var re = /VARIA_[A-Za-z_]+[A]?[D]?[B]?[F]?[M]?[Z]?[S]?X\d+_(\w+)/;
  var match = filename.match(re);
  if(match != null) {
    var data = match[1];
    console.log(data);

    var re = /^(.*)_([a-zA-Z0-9]+)$/;
    var match = data.match(re);

    if(match != null){
      var pS = match[2];
      if(pS == "slowest" || pS == "slow" || pS == "medium" || pS == "fast" || pS == "fastest" || pS == "basic" || pS == "VARIAble" || pS == "speedrun") {
        return match[1];
      } else {
        return match[1] + '_' + match[2];
      }
    } else {
      return data;
    }
  } else {
    return null;
  }
}

function displayPopup(isPlando) {
  if(loaded == false || webServInProgress == true || autoTrackInProgress == true) {
    return;
  }

  if(isPlando == true) {
    document.getElementById("solverPopupText").innerHTML = "Select an already randomized ROM as base to start your Plando<br/>or a Plando ROM to continue working on it";
  } else {
    document.getElementById("solverPopupText").innerHTML = "Select your randomized ROM to solve<br/>or none for seed less mode";
    document.getElementById("fillPlandoVisibility").style.display = "none";
  }

  // display popup
  document.getElementById("solverPopup").style.display = "block";
  // chosen must be activated when it's visible, else it doesn't work...
  $(".chzn-select").chosen({ width: '100%' });
  resizeChosen();
}

function hidePopup() {
  document.getElementById("solverPopup").style.display = "none";
}

function initSolver() {
  if(loaded == false || webServInProgress == true || autoTrackInProgress == true) {
    return;
  }

  console.log("initSolver");

  // clear local storage in tracker
  $tracker.$store.seed.save({});

  // seedless debug plando race standard
  var mode = "seedless";
  var romJson = document.getElementById("romJson");
  var romJsonValue = romJson.value;

  if(globalPlando == true) {
      if(debug == true) {
          mode = "debug";
      } else {
          mode = "plando";
      }
      if(romJsonValue.length == 0){
          return;
      }
  } else {
      if(romJsonValue.length == 0) {
          mode = "seedless";
      } else {
          if(romIsRaceProtected == true) {
              mode = "race";
          } else {
              mode = "standard";
          }
      }
  }

  // for seedless get the logic from the dropdown
  if(mode == "seedless") {
    logic = document.getElementById("logic").value;
  }

  // prepare parameters for WS
  ajaxCall({action: "init",
            scope: "common",
            romJson: romJsonValue,
            preset: document.getElementById("preset").value,
            fill: document.getElementById("fillPlando").checked,
            startLocation: document.getElementById("startLocation").value,
            doorsRando: document.getElementById("doorsRando").checked,
            mode: mode, logic: logic}, "download");

  hidePopup();
  $('#hideRandoOverlay').hide();
}

function clickLoc(elem) {
    if(interfaceIsFrozen()) {
        return;
    }

    var locName = elem.id;

    if(mode == "plando") {
        const { visitedLocations } = $tracker.json_data
        // we put an item in boss locations which is the boss' name

        if(['boss', 'miniboss'].includes($tracker.location_type_map[locName])) {
            // clicking on a boss in plando reveals which boss it is
            // check that lock is in the available list
            if(!visitedLocations[locName]) {
                ajaxCall({action: "add", scope: "item", locName: locName, itemName: locName}, "upload");
                if(locName == "MotherBrain") {
                    alert("SEE YOU NEXT MISSION");
                }
            }
            return;
        }

        if(visitedLocations[locName]) {
            document.getElementById("itemPopupText").innerHTML = "Replace item at "+locName+":";
            $("#item").val(visitedLocations[locName].item);
        } else {
            document.getElementById("itemPopupText").innerHTML = "Item to place at "+locName+":";
            $("#item").val(null);
        }
        document.getElementById("locName").value = locName;

        // display item selector
        document.getElementById("itemPopup").style.display = "block";
        $("#item").imagepicker();
        document.getElementById("placeItemButton").focus();
    } else {
        // check that lock is in the available list
        // if mother brain loc, display end message
        if($tracker.json_data.visitedLocations[locName]) {
            // uncollect it
            console.log("remove item loc: "+locName);
            ajaxCall({action: "remove", scope: "item", locName: locName}, "upload");
        } else {
            // call webservice
            console.log("add item loc: "+locName);
            ajaxCall({action: "add", scope: "item", locName: locName}, "upload");
            if(locName == "MotherBrain") {
                alert("SEE YOU NEXT MISSION");
            }
        }
    }
}

function actionItem(itemName, action) {
    if(interfaceIsFrozen()) {
        return;
    }

    if(isSeedless(mode)) {
        console.log("actionItem itemName: "+itemName+" action: "+action);

        // call webservice
        ajaxCall({action: action, scope: "item", itemName: itemName}, "upload");
    }
}

function placeItem() {
  if(interfaceIsFrozen()) {
    return;
  }

  var item = document.getElementById("item").value;
  var locName = document.getElementById("locName").value;
  var hide = document.getElementById("hideItem").checked;

  // check that lock is in the available list
  const data = { action: "add", scope: "item", locName, itemName: item, hide };
  if($tracker.json_data.visitedLocations[locName]) {
    data.action = 'replace';
  }
  ajaxCall(data, "upload");
}

function hideItemPopup() {
  document.getElementById("itemPopup").style.display = "none";
}

function deleteLoc(isPlando) {
  if(interfaceIsFrozen()) {
    return;
  }
  if(isPlando == true && ! isActive("repeatPlando")) {
    return;
  }
  if(isPlando == false && ! isActive("repeatItem")) {
    return;
  }

  ajaxCall({action: "remove", scope: "item"}, "upload");
}

function clearLocs(isPlando) {
    if(interfaceIsFrozen()) {
        return;
    }
    if(isPlando == true && ! isActive("binPlando")) {
        return;
    }
    if(isPlando == false && ! isActive("binItem")) {
        return;
    }

    if(isPlando == true) {
        var msg = "Reset the locations of the Plandomizer ?";
    } else {
        if(doorsRando == true) {
            var msg = "Reset the locations and doors of the Tracker ?"
        } else {
            var msg = "Reset the locations of the Tracker ?"
        }
    }

    var result = confirm(msg);
    if(result == false){
        return;
    }

    if(isPlando == false && doorsRando == true) {
        ajaxChainedActions.push({action: "clear", scope: "item"});
        ajaxChainedActions.push({action: "clear", scope: "door"});
        ajaxCallChained();
    } else {
        // reset the state server side
        ajaxCall({action: "clear", scope: "item"}, "upload");
    }
}

function pad(x, n) {
  return ('' + (1000 + x)).substring(4-n, x.length);
}

$(window).scroll(function(){
  $("#itemPopup").stop().animate({"marginTop": ($(window).scrollTop()) + "px"}, "fast" );
});

function clearInputSeed() {
  document.getElementById("uploadFile").value = "";
  document.getElementById("romJson").value = "";
  if(mode != "plando") {
    document.getElementById("startLocationVisibility").style.display = "table-row";
    document.getElementById("doorsRandoVisibility").style.display = "table-row";
    document.getElementById("logicVisibility").style.display = "table-row";
  }
}

// https://www.w3schools.com/howto/howto_js_draggable.asp
function dragElement(elmnt, headerId) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  document.getElementById(headerId).onmousedown = dragMouseDown;

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;

    // display new percentage, usefull when we have to move things around
    // console.log("elmnt: "+headerId+" top: "+(elmnt.style.top.match(/(\d+)/)[0]*100/document.getElementById('map_container').clientHeight).toFixed(2)+"% left: "+(elmnt.style.left.match(/(\d+)/)[0]*100/document.getElementById('map_container').clientWidth).toFixed(2)+"%");
  }
}
