  <div id="overlay"></div>
  <div id="loadingGIF"><img src={{=URL('static/images/rando','ajax-loader.gif')}}/></div>

  <div id="solverPopup" class="solverPopup">
    <table class="full">
      <colgroup><col class="half" /><col class="half" /><col class="small"/></colgroup>
      <tr><td colspan=3></td></tr>
      <tr><td id="solverGrab" colspan=3 class="center greyRow"><p id="solverPopupText"></p></td></tr>
      <tr><td colspan=3 class="blankRow"></td></tr>
      <tr>
        <td>Randomized Super Metroid ROM: </td>
        <td>
          <div class="input-td">
            <input id="uploadFile" name="uploadFile" type="file" accept=".sfc,.smc" />
            <div class="clearInput"><img src="/solver/static/images/ui/bin.svg" alt="Clear" onclick="clearInputSeed()" data-toggle="tooltip" title="Remove selected ROM file" data-placement="bottom" data-container="body" data-html="true"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Preset:</td>
        <td colspan=2>{{=SELECT(OPTGROUP(*stdPresets, **dict(_label="Standard presets")), OPTGROUP(*tourPresets, **dict(_label="Tournament presets")), OPTGROUP(*comPresets, **dict(_label="Community presets")), **dict(_name="preset", _id="preset", value=curSession["preset"], _class="chzn-select"))}}</td>
      </tr>
      <tr id="fillPlandoVisibility">
        <td colspan=2>Populate your plando with the items and transitions from the base ROM:</td>
        <td><input id="fillPlando" name="fillPlando" type="checkbox"></td>
      </tr>
      <tr id="startLocationVisibility">
        <td>Start location:</td>
        <td colspan=2>{{=SELECT(*startAPs, **dict(_name="startLocation", _id="startLocation", value=curSession["startLocation"], _class="filldropdown"))}}</td>
      </tr>
      <tr id="logicVisibility">
        <td>Logic:</td>
        <td colspan=2>{{=SELECT(["vanilla", "mirror"], **dict(_name="logic", _id="logic", value=curSession["logic"], _class="filldropdown"))}}</td>
      </tr>
      <tr id="doorsRandoVisibility">
        <td>Door randomization:</td>
        <td><input id="doorsRando" name="doorsRando" type="checkbox"></td>
      </tr>
      <tr><td colspan=3 class="blankLastRow"></td></tr>
    </table>
    <table>
      <tr>
        <td class="half"><button type="button" onclick="initSolver()" class="full">Init</button></td>
        <td class="half"><button type="button" onclick="hidePopup()" class="full">Cancel</button></td>
      </tr>
    </table>
    <input id="romJson" name="romJson" style="display:none" type="text"/>
    <input id="mode" name="mode" style="display:none" type="text"/>
  </div>

  <div id="itemPopup" class="itemPopup">
    <input id="locName" name="locName" style="display:none" type="text"/>
    <table class="full">
      <colgroup><col class="full" /></colgroup>
      <tr>
        <td><p id="itemPopupText" class="center">Item to place at LOC:</p></td>
      </tr>
      <tr>
        <td>
          <select class="filldropdown centerDiv" id="item" name="item">
            <optgroup label="Nothing">
              <option data-img-src="/solver/static/images/tracker/inventory/Nothing.png" value="Nothing">Nothing</option>
            </optgroup>
            <optgroup label="Ammo">
              <option data-img-src="/solver/static/images/tracker/inventory/Missile.png" value="Missile">Missile</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Super.png" value="Super">Super Missile</option>
              <option data-img-src="/solver/static/images/tracker/inventory/PowerBomb.png" value="PowerBomb">Power Bomb</option>
            </optgroup>
            <optgroup label="Energy">
              <option data-img-src="/solver/static/images/tracker/inventory/ETank.png" value="ETank">Energy Tank</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Reserve.png" value="Reserve">Reserve Tank</option>
            </optgroup>
            <optgroup label="Beams">
              <option data-img-src="/solver/static/images/tracker/inventory/Charge.png" value="Charge">Charge Beam</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Ice.png" value="Ice">Ice Beam</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Wave.png" value="Wave">Wave Beam</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Spazer.png" value="Spazer">Spazer</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Plasma.png" value="Plasma">Plasma Beam</option>
            </optgroup>
            <optgroup label="Suits">
              <option data-img-src="/solver/static/images/tracker/inventory/Varia.png" value="Varia">Varia Suit</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Gravity.png" value="Gravity">Gravity Suit</option>
            </optgroup>
            <optgroup label="Items">
              <option data-img-src="/solver/static/images/tracker/inventory/Morph.png" value="Morph">Morph Ball</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Bomb.png" value="Bomb">Bomb</option>
              <option data-img-src="/solver/static/images/tracker/inventory/SpringBall.png" value="SpringBall">Spring Ball</option>
              <option data-img-src="/solver/static/images/tracker/inventory/ScrewAttack.png" value="ScrewAttack">Screw Attack</option>
              <option data-img-src="/solver/static/images/tracker/inventory/HiJump.png" value="HiJump">Hi-Jump Boots</option>
              <option data-img-src="/solver/static/images/tracker/inventory/SpaceJump.png" value="SpaceJump">Space Jump</option>
              <option data-img-src="/solver/static/images/tracker/inventory/SpeedBooster.png" value="SpeedBooster">Speed Booster</option>
              <option data-img-src="/solver/static/images/tracker/inventory/Grapple.png" value="Grapple">Grapple Beam</option>
              <option data-img-src="/solver/static/images/tracker/inventory/XRayScope.png" value="XRayScope">X-Ray Scope</option>
            </optgroup>
          </select>
        </td>
      </tr>
      <tr id="hideItemVisibility" style="display: none">
        <td>Hide this item:</td>
        <td><input id="hideItem" name="hideItem" type="checkbox"></td>
      </tr>
      <tr><td colspan=2 class="blankLastRow"></td></tr>
    </table>
    <table>
      <tr>
        <td class="half"><button id="placeItemButton" type="button" onclick="placeItem()" class="full">Place</button></td>
        <td class="half"><button type="button" onclick="hideItemPopup()" class="full">Cancel</button></td>
      </tr>
    </table>
  </div>

  <div class="map_container" id="map_container">

    <input id="timer" type="time" value="03:00" class="timer" style="display:none">
